@import '../../../../../../scss/variables';
@import '../../../../../../scss/mixins';


.ik-selectadon-input {
  select {
    border: none;
    border-right: 1px solid $borderColor-1;
    width: 68px;
    padding-left: 13px;
    height: 30px;
    line-height: 30px;
    margin-top: 4px;

    &:focus {
      box-shadow: none;
    }
  }

  input {
    padding-left: 80px;
  }

  &:after {
    content: '';
    left: 47px;
  }

}