<!-- PROFILE -->
<section class="flex manager-item-detail-wrapper">
  <h3 class="section-title"> {{"profile_setting_title" | translate}} </h3>

  <div class="profile row-flex">
    <div class="profile-picture-wrapper manager-item-detail clearfix">
      <h4 class="profile-picture-title"> {{"profile_setting_picture" | translate}} </h4>

      <div class="profile-picture-img">
        <img [src]="loadingavatar ? preloading : accountData.userInfo.profilePicture || accountData.userInfo.profilePicture != '' ? accountData.userInfo.profilePicture : defaultProfilePicture" alt="profile picture">
      </div>
      <div class="profile-picture-function">
        <div class="ik-button-wrapper">
          <label for="profile-photo" class="ik-button ik-button-secondary add-photo-button">{{"profile_change_photo"
            | translate}}</label>
            <input id="profile-photo" type="file" class="ik-button-upload"  (change)="fileChange($event)">
        </div>

        <input class="ik-button-default ik-button-underline " type="button" value="Remove" (click)="removeAvata()">
      </div>
    </div>
    <form class="user-info flex">
      <div class="row">
        <div class="col-md-10 col-xs-12">
          <div class="row">
            <div class="col-lg-6">
              <div class="ik-form-group">
                <label class="ik-label"> {{"firstname" | translate}} </label>
                <input class="ik-input ik-input-default " type="text" placeholder="Your firstname"
                name="firstname" [(ngModel)]="accountData.userInfo.firstname" />
                <p class="ik-alert ik-alert-dangerous ik-hidden"> {{"alert_invalid_firstname" |
                  translate}} </p>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="ik-form-group">
                <label class="ik-label"> {{"lastname" | translate}} </label>
                <input class="ik-input ik-input-default ik-input "
                       type="text"
                       placeholder="Your lastname" name="lastname" [(ngModel)]="accountData.userInfo.lastname" />
                <p class="ik-alert ik-alert-dangerous ik-hidden"> {{"alert_invalid_lastname" |
                  translate}} </p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="ik-form-group">
                <label class="ik-label"> {{"profile_setting_dateofbirth" | translate}} </label>
                <input class="ik-input ik-input-default " type="date"
                       placeholder="dd/mm/yyyy" name="birthday" [(ngModel)]="accountData.userInfo.birthday" />
              </div>
            </div>

            <div class="col-lg-6">
              <div class="ik-form-group ">
                <label class="ik-label"> {{"profile_setting_gender" | translate}} </label>
                <div class="select-gender ik-select-wrapper ">
                  <select class="ik-select"  [(ngModel)]="accountData.userInfo.gender" name="gender">
                    <option value="Male"> {{"profile_setting_male" | translate}}</option>
                    <option value="Female"> {{"profile_setting_female" | translate}}</option>
                    <option value="Other"> {{"profile_setting_other" | translate}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="ik-form-group">
                <label class="ik-label"> {{"profile_setting_email" | translate}} </label>
                <p class="ik-input ik-input-default ik-input-disabled">{{accountData.email}}</p>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="ik-form-group clearfix">
                <label class="ik-label"> {{"profile_setting_phone_number" | translate}} </label>
                <input class="ik-input ik-input-default " type="text"
                name="phone" [(ngModel)]="accountData.userInfo.phone"  
                aria-describedby="basic-addon1" 
                 OnlyNumber="true" />
                <p class="ik-alert ik-alert-dangerous ik-hidden"> {{"alert_invalid_phone" |
                  translate}} </p>
              </div>
            </div>
          </div>

          <div class="ik-form-group">
            <label class="ik-label"> {{"profile_setting_address" | translate}} </label>
            <textarea class="ik-textarea" type="text"
            name="address" [(ngModel)]="accountData.userInfo.address" 
                      placeholder="Fill full your address"  ></textarea>
                <p class="ik-alert ik-alert-dangerous ik-hidden"> {{"alert_invalid_address" |
                  translate}} </p>  
          </div>

          <div class="ik-form-group">
            <label class="ik-label"> {{"profile_setting_job" | translate}} </label>
            <input class="ik-input ik-input-default " type="text"
            name="job" [(ngModel)]="accountData.userInfo.job" 
                   />
            <p class="ik-alert ik-alert-dangerous  ik-hidden"> {{"alert_invalid_job" |
              translate}} </p>
            <p class="notice"> {{"profile_setting_notice" | translate}} </p>
          </div>

          <input
            class="ik-input ik-button ik-button-primary ik-button-fixwidth-2 ik-button-inline accept-button manager-accept-button"
            type="button" value="Save" (click)="onSaveProfile()"/>
        </div>
      </div>
    </form>
  </div>
</section>
<!-- END: PROFILE -->
<toaster-container [toasterconfig]="appToasterConfig"></toaster-container>