@import '../../../../../../../scss/variables';
@import '../../../../../../../scss/mixins';

/*====================================
Left menu
 =======================================*/

 .menu-side-compact-w {
   display: block;
   height: 100%;

   .logged-user-w .logged-user-menu {
    left: 90px;
    .logged-user-avatar-info {
      border: none;
      margin: 0;
    }
  }
 }

 .team-img {
   border: 2px solid $primaryColor;
   background: $white;
 }