<!--START - Menu side compact-->
<div class="menu-w desktop-menu menu-side-compact-w menu-activated-on-hover color-scheme-dark" (clickOutside)="toggleMenu=false">
	<div class="logo-w" (click)="logout()">
		<a class="logo" href="index.html">
			<img [src]="logo">
		</a>
	</div>
	<div class="menu-and-user">
		<div class="logged-user-w">
			<div class="logged-user-i">
				<div class="avatar-w">
					<img alt="" [src]="userAvt">
				</div>
				<div class="logged-user-menu">
					<div class="logged-user-avatar-info">
						<div class="avatar-w">
							<img alt="" [src]="userAvt">
						</div>
						<div class="logged-user-info-w">
							<div class="logged-user-name">{{userInfo.email}}</div>
							<!-- <div class="logged-user-role">Administrator</div> -->
						</div>
					</div>
					<!-- <div class="bg-icon">
						<i class="os-icon os-icon-wallet-loaded"></i>
					</div> -->
					<!-- <ul>
						<li>
							<a href="#">
								<i class="os-icon os-icon-signs-11"></i>
								<span>Logout</span>
							</a>
						</li>
					</ul> -->
				</div>
			</div>
		</div>
		<ul class="main-menu">
			<li class="has-sub-menu" [ngClass]="toggleMenu?'active':''">
				<a (click)="toggleMenu=!toggleMenu">
					<div class="icon-w">
						<i class="os-icon os-icon-grid-squares"></i>
					</div>
				</a>

				<div class="sub-menu-w row-flex-vertical">
					<div class="sub-menu-title">Teams</div>
					<div class="sub-menu-icon">
						<i class="os-icon os-icon-delivery-box-2"></i>
					</div>
					<div class="sub-menu-i flex small-scroll-bar">
						<ul class="sub-menu">
							<li  *ngFor="let team of teamsArr">
								<a [ngClass]="team.current?'active':''" (click)="chooseTeam(team)">
									<div class="team-item">
										<div class="team-img">
											<img *ngIf='team.profilePicture' [src]="team.profilePicture" alt="">
											<img *ngIf='!team.profilePicture' [src]="teamAvt" alt="">
										</div>
										<h4 class="team-name">{{team.name}}</h4>
									</div>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
<!--END - Menu side compact -->