@import '../../../../../../../../scss/variables';
@import '../../../../../../../../scss/mixins';

/*====================================
  Todo sidebar
 =======================================*/

.ik-todo-sidebar-header {
  padding: 0 40px;
}

.ik-todo-sidebar-section {
  line-height: 40px;
  font-size: 18px;
  width: 100%;
  color: #3E4B5B;
  padding: 0 20px 0 40px;

  .icons {
    font-size: 20px;
    line-height: inherit;
    color: inherit;
    margin-right: 15px;
    position: relative;
    top: 1px;

    .primary {
      color: $primaryColor;
    }

    &.priority {
      color: $bookmarkColor;
    }

    &.success {
      color: #579D1B;
    }

    &.danger {
      color: $dangerousColor;
    }
  }

  &:hover, &.active {
    background: rgba($primaryColor, 0.2);
    color: $primaryColor;
    cursor: pointer;
  }
}

.todo-app-w {
  height: 100%;
  width: 300px;
  .todo-sidebar {
    padding: 40px 0;
    flex: 0 0 300px;
    .section-title {
      text-align: center;
      margin-bottom: 30px;
    }

    .ik-button {
      margin-bottom: 35px;
    }
  }
}