
  <div class="todo-sidebar row-flex-vertical">

    <div class="ik-todo-sidebar-header">
      <h2 class="section-title section-title-lg">Todo</h2>
      <button class="ik-button ik-button-primary">Add task</button>
    </div>

    <div class="ik-todo-sidebar-body row-flex-vertical flex">
      <div class="ik-todo-sidebar-section">
        <i class="icons icon-list primary"></i>
        All task
      </div>
      <div class="ik-todo-sidebar-section">
        <i class="icons icon-star priority"></i>
        Priority
      </div>
      <div class="ik-todo-sidebar-section">
        <i class="icons icon-event success"></i>
        Today
      </div>
      <div class="ik-todo-sidebar-section">
        <i class="icons ti-check success"></i>
        Done
      </div>
      <div class="ik-todo-sidebar-section">
        <i class="icons ti-timer"></i>
        Undone
      </div>
      <div class="ik-todo-sidebar-section">
        <i class="icons icon-fire danger"></i>
        Over due
      </div>

    </div>
  </div>