@import '../../../../../../../scss/variables';
@import '../../../../../../../scss/mixins';
/*====================================
  User menu
 =======================================*/

.user-function-icon-wrapper{
  position: absolute;
  top: 18px;
  right: 6px;
}