<!--USER MENU-->
<div class="user dropbox-parent clearfix">
    <div class="user-avt">
        <a class="user-img" href="#">
            <img [src]="userAvt" alt="user">
        </a>
        <span class="online-status"></span>
    </div>
    <div class="float-left">
        <a class="username" href="#"> Agnes Hodges </a>
        <p class="user-status" contenteditable="true">Set a status...</p>
    </div>
    <div class="user-function-icon-wrapper">
        <span class="user-function-icon fa fa-angle-down"></span>
    </div>
    <!-- <user-functions-popup></user-functions-popup> -->
</div>

<div class="ik-search-form-group ik-search-form-group-light-grey">
    <!--<span class="search-icon"></span>-->
    <input class="ik-input search-form-input icon-inside" type="search" placeholder="&#xe86f; Search">
</div>

<!--END: USER MENU-->