@import '../../../scss/variables';
@import '../../../scss/mixins';

/* ===============================================
Loading page
================================================= */
.loading-page {
  background: $white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  height: 100%;

  .container, .row, .col-md-3, .page-body, .col-sm-3, .sidebar {
    height: inherit;
  }

  .loading-item {
    display: block;
    border-radius: 3px;
    background-size: 400% 400%;
  }

  .item-md {
    height: 47px;
  }

  .item-sm, .item-lg {
    height: 14px;
  }

  // topbar
  .topbar {
    .item-md {
      margin: 30px 0 5px;
    }
  }

  .topbar-main {
    padding: 46px 14px 23px;

    .item-sm {
      width: 11%;
      margin-right: 17px;
      display: inline-block;
    }

    .item-lg {
      margin-left: 3px;
      width: 69%;
      display: inline-block;
      float: right;
    }
  }

  //sidebar
  .sidebar {
    padding-top: 30px;
    padding-bottom: 60px;
    max-height: 70%;
    overflow: hidden;
  }

  .sidebar-item {
    padding-left: 67px;
    margin-bottom: 60px;
  }

  .sidebar-item-img {
    width: 52px;
    height: 52px;
    float: left;
    margin-left: -67px;
  }

  .sidebar-item-content {
    margin-top: 5px;
  }

  .sidebar-item-content-1 {
    width: 134px;
    height: 14px;
    margin-bottom: 11px;
  }

  .sidebar-item-content-2 {
    width: 64px;
    height: 10px;
  }

  // main
  .loading-main {
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 0px;
    transform: translate(-50%, -50%);
  }

  .loading-icon,
  .slogan {
    text-align: center;
  }

  .loading-icon {
    margin: 50px 0 40px;
  }

  .slogan {
    font-family: $primaryBoldFont;
    font-size: 20px;
    color: #bababa;

    .highlight {
      color: #2fadd5;
    }
  }
}

// animation

/*====================== loading page ressponsive ======================*/
@include for-size($desktop-large ) {
  .loading-page .loading-main {
    transform: translate(-50%, -50%) scale(0.8);
  }
}

@include for-size($desktop-med-2) {
  .loading-page {
    .loading-main {
      transform: translate(-50%, -80%) scale(0.6);
    }

    .sidebar-item {
      margin-bottom: 30px;
    }
  }

}