<!--LOADING PAGE-->
<div class="loading-page">
    <div class="container">
        <div class="row">
            <!--TOP BAR-->
            <div class="topbar clearfix">
                <div class="col-md-3 col-sm-3">
                    <span class="loading-item animation blur  item-md"></span>
                </div>

                <div class="col-md-6 col-sm-6">
                    <div class="topbar-main">
                        <span class="loading-item animation blur  item-sm"></span>
                        <span class="loading-item animation blur  item-sm"></span>
                        <span class="loading-item animation blur  item-lg"></span>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <span class="loading-item animation blur  item-md"></span>
                </div>
            </div>
            <!--END: TOP BAR-->
            <div class="page-body clearfix">
                <!--SIDE BAR-->
                <div class="col-md-3 col-sm-3">
                    <div class="sidebar">
                        <div class="sidebar-item clearfix">
                            <span class="loading-item animation blur sidebar-item-img"></span>
                            <div class="sidebar-item-content-group">
                                <span class="loading-item  animation blur   sidebar-item-content-1"></span>
                                <span class="loading-item animation blur   sidebar-item-content-2"></span>
                            </div>
                        </div>
                        <div class="sidebar-item clearfix">
                            <span class="loading-item animation blur   sidebar-item-img"></span>
                            <div class="sidebar-item-content-group">
                                <span class="loading-item animation blur   sidebar-item-content-1"></span>
                                <span class="loading-item animation blur   sidebar-item-content-2"></span>
                            </div>
                        </div>
                        <div class="sidebar-item clearfix">
                            <span class="loading-item animation blur   sidebar-item-img"></span>
                            <div class="sidebar-item-content-group">
                                <span class="loading-item animation blur   sidebar-item-content-1"></span>
                                <span class="loading-item animation blur   sidebar-item-content-2"></span>
                            </div>
                        </div>
                        <div class="sidebar-item clearfix">
                            <span class="loading-item  animation blur  sidebar-item-img"></span>
                            <div class="sidebar-item-content-group">
                                <span class="loading-item animation blur   sidebar-item-content-1"></span>
                                <span class="loading-item animation blur   sidebar-item-content-2"></span>
                            </div>
                        </div>
                        <div class="sidebar-item clearfix">
                            <span class="loading-item  animation blur  sidebar-item-img"></span>
                            <div class="sidebar-item-content-group">
                                <span class="loading-item animation blur   sidebar-item-content-1"></span>
                                <span class="loading-item  animation blur  sidebar-item-content-2"></span>
                            </div>
                        </div>
                        <div class="sidebar-item clearfix">
                            <span class="loading-item  animation blur  sidebar-item-img"></span>
                            <div class="sidebar-item-content-group">
                                <span class="loading-item  animation blur  sidebar-item-content-1"></span>
                                <span class="loading-item animation blur   sidebar-item-content-2"></span>
                            </div>
                        </div>
                        <div class="sidebar-item clearfix">
                            <span class="loading-item animation blur   sidebar-item-img"></span>
                            <div class="sidebar-item-content-group">
                                <span class="loading-item   animation blur sidebar-item-content-1"></span>
                                <span class="loading-item  animation blur  sidebar-item-content-2"></span>
                            </div>
                        </div>
                        <div class="sidebar-item clearfix">
                            <span class="loading-item  animation blur  sidebar-item-img"></span>
                            <div class="sidebar-item-content-group">
                                <span class="loading-item  animation blur  sidebar-item-content-1"></span>
                                <span class="loading-item  animation blur  sidebar-item-content-2"></span>
                            </div>
                        </div>
                        <div class="sidebar-item clearfix">
                            <span class="loading-item  animation blur  sidebar-item-img"></span>
                            <div class="sidebar-item-content-group">
                                <span class="loading-item  animation blur  sidebar-item-content-1"></span>
                                <span class="loading-item  animation blur  sidebar-item-content-2"></span>
                            </div>
                        </div>
                        <div class="sidebar-item clearfix">
                            <span class="loading-item  animation blur  sidebar-item-img"></span>
                            <div class="sidebar-item-content-group">
                                <span class="loading-item  animation blur  sidebar-item-content-1"></span>
                                <span class="loading-item  animation blur  sidebar-item-content-2"></span>
                            </div>
                        </div>
                        <div class="sidebar-item clearfix">
                            <span class="loading-item  animation blur  sidebar-item-img"></span>
                            <div class="sidebar-item-content-group">
                                <span class="loading-item  animation blur  sidebar-item-content-1"></span>
                                <span class="loading-item  animation blur  sidebar-item-content-2"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END: SIDE BAR-->

                <!--MAIN LOADING-->
                <div class="loading-main">
                    <div class="logo">
                        <img [src]="logo" alt="large logo">
                    </div>
                    <div class="loading-icon">
                        <img [src]="loadingicon" alt="loading icon">
                    </div>
                    <h2 class="slogan">Welcom</h2>
                </div>
                <!--END: MAIN LOADING-->
            </div>

        </div>
    </div>
</div>
<!--END: LOADING PAGE-->