<ng-container *ngIf="currentTeam.name">
    <div class="top-menu-secondary ik-team-header">
        <div class="ik-team-menu">
            <div class="ik-team-avt">
                <img [src]="teamAvt">
            </div>
            <h4 class="ik-team-name">
                <input [(ngModel)]="currentTeam.name" (ngModelChange)="changeTeamName($event)">
            </h4>
        </div>

        <button *ngIf="isAdmin" class="pull-right ik-button ik-button-primary remove-team-button" (click)="removeTeam()">Remove team</button>
    </div>

    <div class="ik-team">
        <div class="ik-members-wrapper">
            <div class="clearfix" *ngIf="isAdmin">
                <div class="ik-search-form-group">
                    <input class="ik-input" type="email" placeholder="Email to invite" [(ngModel)]="email">
                </div>
                <button class="pull-right ik-button ik-button-primary invert invite-member-button" (click)="getMemberByEmail(email)">
                    Invite new member
                </button>
            </div>

            <ul class="ik-members clearfix">
                <li class="ik-member" *ngFor="let mem of memberArray">
                    <div class="ik-member-info flex">
                        <div class="ik-member-avt">
                            <img [src]="teamAvt">
                        </div>
                        <div class="ik-member-info-content flex">
                            <p class="ik-member-info-content-main" *ngIf="mem.name">{{mem.name}}</p>
                            <p class="ik-member-info-content-sub">{{mem.email}}</p>
                        </div>
                    </div>

                    <div class="ik-member-functions pull-right">
                        <div class="ik-select-wrapper ik-member-function"  (click)="mem.togglePermission=!mem.togglePermission" (clickOutSide)="mem.togglePermission=false">
                            <span class="ik-selected">{{mem.permission}}</span>
                            <ul class="dropbox show-function" *ngIf="mem.togglePermission && isAdmin">
                                <li class="dropbox-item" (click)="changePermission('Admin',mem)">Admin</li>
                                <li class="dropbox-item" (click)="changePermission('Member',mem)">Member</li>
                            </ul>
                        </div>

                        <div class="ik-member-function remove-button" *ngIf="memberArray.length > 1 && mem._id==userInfo._id">
                            <span class="wk-close"></span>
                            <span (click)="removeMember(mem)">Leave</span>
                        </div>

                        <div class="ik-member-function remove-button" *ngIf="memberArray.length > 1 && mem._id!=userInfo._id && isAdmin">
                            <span class="wk-close"></span>
                            <span (click)="removeMember(mem)">Remove</span>
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>

</ng-container>
<p *ngIf="!currentTeam.name">Can not find this team</p>