@import './../../../../../../../scss/variables';
@import './../../../../../../../scss/mixins';

/*====================================
  Team
 =======================================*/

 .ik-team {
     padding: 30px 40px;
     background: #f2f4f8;
 }
 
 .ik-team-header {
    //  height: 64px;
     padding: 15px 40px;
     text-align: center;
     display: block;
     position: relative;

    >.ik-button {
        position: absolute;
        top: 50%;
        right: 40px;
        transform: translateY(-50%);
        width: auto;
    }
    .remove-team-button {
        background: $dangerousColor;
    }
 }

 .ik-team-menu {
    //  display: flex;
 }

 .ik-team-avt {
     border-radius: 100%;
     width: 60px;
     height: 60px;
     overflow: hidden;
     display: inline-block;

     img {
         max-width: 100%;
     }
 }

 .ik-team-name {
     line-height: 33px;
     font-family: $primarySemiBoldFont;
     color: #3E4B5B;

     input {
        padding:   0 10px;
        display: inline-block;
        border: 1px solid transparent;
        text-align: center;
        &:hover {
            cursor: pointer;
        }

        &:focus {
            cursor: text;
            border-color: $primaryColor;
            outline: none;
            border-radius: 3px;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.085), 0 0 10px rgba(102, 175, 233, 0.9);
        }  
     }

 }

 .ik-team-tabs {
     height: 44px;
     line-height: 44px;
     margin: 0 auto;
     overflow: hidden;
     text-align: center;
     border-bottom: 1px solid #dee2e6;
 }

 .ik-team-tab {
     line-height: 64px;
     color: #3E4B5B;
     padding: 0 20px;
     width: 50%;
     display: inline-block;
     line-height: 44px;
     text-transform: uppercase;
     width: 100px;
     border-top-left-radius: 3px;
     border-top-right-radius: 3px;

     &.active {
         background :$primaryColor;
         color: $white;
     }

     &:hover {
         cursor: pointer;
     }
 }

 /*=========== New team ============*/
 .new-team-dropbox {
     top: 90px;
     left: auto;
     right: 30px;
 }

 /*Team members */
 .ik-members-wrapper {
    width: 1000px;
    margin: 0 auto;
    padding-top: 25px;

    .ik-search-form-group {
        width: 50%;
        float: left;

        .ik-input::placeholder {
            font-size: 15px;
        }
    }

    .invite-member-button {
        border: 1px solid $primaryColor;
        line-height: 38px;

        &:hover {
           background: $primaryColor;
           color: $white ;
        }

    }

    .ik-button {
        width: auto;
    }
}

.ik-members {
    padding-top: 20px;
}

.ik-member {
    display: flex;
    padding: 14px 0;
    border-top: 1px solid rgba($black, 0.05);
}

.ik-member-info {
    display: flex;
}

.ik-member-avt {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    overflow: hidden;

    img {
        max-width: 100%;
    }
}

.ik-member-info-content {
    margin-left: 10px;
}

.ik-member-info-content-sub {
    margin-bottom: 0;
    font-size: 13px;
}

.ik-member-info-content-main {
    margin-bottom: 0;
}


.ik-member-function {
   display: inline-block;
   width: 90px;
   border-radius: 4px;
   line-height: 40px;
   cursor: pointer;

   &.ik-select-wrapper {
       background: $primaryColor;
       color:  $white;
       margin-right: 10px;
       padding: 0 30px 0 14px;
       width: auto;

       &:after {
           content: '';
           border-top: 8px solid $white;
           border-left: 4px solid $primaryColor;
           border-right: 4px solid $primaryColor;
       }
   }

   &.remove-button {
       background: $white;
       border: 1px solid $grey-3;
       text-align: center;
   }

   .dropbox {
       top: 41px;
       padding: 10px 0;
       width: 130px;
       border-radius: 4px;
       border: 1px solid $primaryColor;
   }
}

 