<!-- LOGIN -->

<div class="main-content-wrapper main-content-background flex">
  <section class="main-content-body login-form">
    <h2 class="section-title">{{"Login" | translate}}</h2>
    <div class="main-form">

      <form (ngSubmit)="onLogin()" #loginForm="ngForm">
        <div class="ik-form-group">
          <!--<label class="ik-label" for="email"> {{"email address" | translate}} </label>-->
          <input class="ik-input ik-input-default " type="email" id="email" name="email" required
                 [(ngModel)]="userInfo.email"
                 placeholder="User or email address"/>
        </div>

        <div class="ik-form-group ik-form-group-marbt-sm">
          <!--<label class="ik-label" for="password"> {{"password" | translate}} </label>-->
          <input class="ik-input ik-input-default ik-input-font-size-lg" type="password" id="password"
                 name="password" required
                 [(ngModel)]="userInfo.password"
                 placeholder="Password"/>
        </div>

          <div class="box-checkbox clearfix">
            <div class="box-to-check">
              <input type="checkbox" value="" id="remember"/>
              <label class="checked" for="remember"></label>
            </div>
            <label class="ik-label"> {{"home_stay_signed_in" | translate}} </label>
          </div>
        <p class="report dangerous-report  signin-report" *ngIf="hasError">{{errorMsg | translate}}</p>
        <input class="ik-input ik-button ik-button-primary" type="submit" value="Sign in"/>
      </form>
    </div>

    <a class="authen-cta" [routerLink]="['/authentication/register']"> Create new account </a>
    <!-- <div id="googleBtn" class="g-signin2" data-onsuccess="onSignIn">Google</div> -->
  </section>

</div>