@import './../../../../../../../../scss/variables';
@import './../../../../../../../../scss/mixins';

/*====================================
  Board menu
 =======================================*/

.ik-board-menu {
    position: fixed;
    top: 91px;
     right: 0;
     bottom: 0;
    width: 400px;
    background: $white;
    transform: translateX(100%);
    // border-left : 1px solid $grey-5;

    &.in {
      animation: slideIn 0.5s forwards;
    }

    &.out {
      animation: slideOut 0.5s forwards;
    }
  
    .ik-pi-member-img {
      width: 40px;
      height: 40px;
  
      &:hover {
        cursor: pointer;
      }
    
      i {
        font-size: 18px;
        line-height: 36px;
      }
    }
  }
  
  .right-panel-content-body {
    padding: 20px;

    .title {
      font-size: 15px;
      font-family: $primarySemiBoldFont;
      margin-bottom: 15px;
    }
  }
  
  .ik-board-menu-section {
    margin-bottom: 15px;
    padding: 0 15px;
  
    &.board-activity {
      padding: 0;
  
      .title {
        padding: 0 15px;
        margin-bottom: 5px;
      }
    }
    
  }
  
  .ik-suggestions-wrapper {
    padding: 2px 0 10px ;
    border-top: 1px solid #e6e6e6;
    margin-top: 5px;
  }
  
  .ik-suggestions {
    margin: 0 -10px 0;
    max-height: 400px;
  }
  
  .ik-suggestion {
    .right-panel-item-overlay {
      padding-right: 35px;
    }
    .joined {
      font-size: 20px;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      color: $successColor;;
    }
  }

  @keyframes slideIn {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOut {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }