<!-- Beard Activity -->
<div class="ik-board-menu row-flex-vertical" [class.in]="inputToggle == 1" [class.out]="inputToggle == 2">
  <div class="right-panel-content-header box-shadow">
    <div class="right-panel-close">
      <span class="wk wk-close"></span>
    </div>
    <div class="title-right-panel-wrapper">
      <h3 class="section-title">Activity</h3>
    </div>
  </div>

  <div class="right-panel-content-body flex row-flex-vertical">
    <h3 class="title">Activities</h3>
    <div class="ik-menu-board-section-body flex row-flex-vertical">
      <div class="ik-activities small-scroll-bar flex row-flex-vertical">
        <!--ACTIVITY ITEM-->
        <div class="right-panel-item right-activity-noti-item" *ngFor="let act of activityList">
          <div class="right-panel-item-overlay">
            <div class="right-panel-item-header">
              <div class="user-avt">
                <img [src]="userAvt" alt="avatar">
              </div>

              <!-- Change name -->
              <!-- <div class="right-panel-item-info">
                <p class="right-panel-item-info-title">Tu Uyen
                  <span class="no-bold">change board name from iWork to iWork Frontend</span>
                </p>
                <span class="right-panel-item-info-content">Oct 21, 1:30 AM</span>
              </div> -->

              <!-- Create card -->
              <div class="right-panel-item-info" *ngIf="act.action=='create-card'">
                <p class="right-panel-item-info-title">{{act.actor.email}}
                  <span class="no-bold">created card</span>
                  <span></span>{{act.cardContent}}
                  <span class="no-bold">in</span>
                  <span>{{act.cardStatus}}</span>
                </p>
                <span class="right-panel-item-info-content">{{act.timeStamp | date:'yyyy-MM-dd'}}</span>
              </div>

              <!-- Update card -->
              <div class="right-panel-item-info" *ngIf="act.action=='update-card'">
                <p class="right-panel-item-info-title">{{act.actor.email}}
                  <span class="no-bold">edited card</span>
                  <span></span>{{act.cardContent}}
                  <span class="no-bold">in</span>
                  <span>{{act.cardStatus}}</span>
                </p>
                <span class="right-panel-item-info-content">{{act.timeStamp | date:'yyyy-MM-dd'}}</span>
              </div>

              <!-- Delete card -->
              <div class="right-panel-item-info" *ngIf="act.action=='delete-card'">
                <p class="right-panel-item-info-title">{{act.actor.email}}
                  <span class="no-bold">removed card</span>
                  <span></span>{{act.cardContent}}
                  <span class="no-bold">in</span>
                  <span>{{act.cardStatus}}</span>
                </p>
                <span class="right-panel-item-info-content">{{act.timeStamp | date:'yyyy-MM-dd'}}</span>
              </div>

              <!-- Add member to card -->
              <div class="right-panel-item-info" *ngIf="act.action=='add-member'">
                <p class="right-panel-item-info-title">{{act.actor.email}}
                  <span class="no-bold">add</span>
                  <span *ngIf="act.target.email!=undefined"></span>{{act.target.email}}
                  <span class="no-bold">to</span>
                  <span *ngIf="act.card!=undefined"></span>{{act.cardContent}}
                  <span class="no-bold">in</span>
                  <span *ngIf="act.cardStatus!=undefined">{{act.cardStatus}}</span>
                </p>
                <span class="right-panel-item-info-content">{{act.timeStamp | date:'yyyy-MM-dd'}}</span>
              </div>

              <!-- Remove member from card -->
              <div class="right-panel-item-info" *ngIf="act.action=='remove-member'">
                <p class="right-panel-item-info-title">{{act.actor.email}}
                  <span class="no-bold">remove</span>
                  <span *ngIf="act.target.email!=undefined"></span>{{act.target.email}}
                  <span class="no-bold">from</span>
                  <span *ngIf="act.card!=undefined"></span>{{act.cardContent}}
                  <span class="no-bold">in</span>
                  <span *ngIf="act.cardStatus!=undefined">{{act.cardStatus}}</span>
                </p>
                <span class="right-panel-item-info-content">{{act.timeStamp | date:'yyyy-MM-dd'}}</span>
              </div>
            </div>

          </div>
        </div>
        <!--END: ACTIVITY ITEM-->
      </div>
    </div>
  </div>

</div>
<!--end: board activity -->