@import './../../../../../../../../scss/variables';
@import './../../../../../../../../scss/mixins';

/*====================================
  View board task modal
 =======================================*/

.view-board-task-modal {
  display: block;

  .modal-dialog {
    max-width: 680px;
    width: 680px;

    .modal-header {
      height: 56px;

    }

    .modal-title {
      font-size: 20px;
    }

    .modal-content {
      margin: 40px 0;
    }
  }
  .ik-modal-close {
    top: 10px;
    right: 6px;
  }

  .modal-body {
    padding: 15px 30px;
    margin: 0;
  }
}

.ik-board-task-name {
  margin-bottom: 5px;

  .ik-textarea {
    height: 80px;
    padding: 8px 10px;
  }
}

.ik-board-task-title {
  font-family: $primarySemiBoldFont;
  margin-bottom: 15px;
  color: #5f5f5f;

  i {
    position: relative;
    color: $primaryColor;
    font-size: 20px;
    top: 2px;
    margin-right: 6px;
    font-weight: bold;
  }

  .ik {
    background: $primaryColor;
    top: 4px;
    margin: 0;
  }

}
.ik-board-task-time {
  padding: 15px 0;

  .ik-label {
    margin-bottom: 10px;
  }

  .start-date {
    i {
      color: $successColor;
    }
  }


  .due-date {
    i {
      color: $dueDateColor;
    }
  }
}

// Members

.ik-board-task-members {
  margin: 0 -3px 15px;
}

.ik-board-task-member {
  border: 2px solid $white;
  display: inline-block;
  border-radius: 100%;
  text-align: center;
  background: $white;
  margin: 0 1px;
  border-color: #dedede;
  float: left;
  position: relative;
  line-height: 0;

  &:hover {
    .ik-remove-member {
      opacity: 1;
    }
  }

  >span:first-child, {
    overflow: hidden;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 100%;
  }

  img {
    width:100%;
  }

  &.others {

    i {
      font-size: 15px;
      line-height: 36px;
      width: 36px;
      color: #a2a2a2;
      display: inline-block;
    }

    &:hover {
      cursor: pointer;
      border-color: $primaryColor;

      i {
        color: $primaryColor;
      }
    }
  }

  .dropbox {
    width: 300px;
    border-radius: 4px;
    padding: 0;
    overflow: hidden;
    left: 0;

    .ik-search-form-group {
      border-bottom: 1px solid $grey-5;
      margin: 0 23px;

      .ik-input {
        height: 38px;
        line-height: 38px;
        margin-bottom: 10px;
        font-size: 14px;
        &::placeholder {
          font-size: 14px;
        }
      }
    }


    .dropbox-header {
      height: 42px;
      background: $primaryColor;
      color: $white;
      line-height: 42px;
      border: none;
      padding: 0;
    }

    .dropbox-body {
      padding: 10px 0;
    }

    .dropbox-items {
      padding: 10px 0;
    }

    .dropbox-item {
      display: flex;
      height: 40px;
      line-height: 40px;
      text-align: left;

      img {
        border-radius: 100%;
        overflow: hidden;
        width: 30px;
        height: 30px;
        margin: 5px 7px 0 0 ;

      }

      .joined {
        font-size: 18px;
        color: $primaryColor;
        display: none;
      }

      &.selected {
        .joined {
          display: block;
        }
      }
    }
  }
}

.ik-remove-member {
  position: absolute;top: 0;
   right: 0;
   bottom: 0;
  left: 0;
  background: rgba($black, 0.5);
  line-height: 36px;
  color: $white;
  z-index: 10;
  overflow: hidden;
  border-radius: 100%;
  opacity: 0;
  trasition: $fast;
  
  i {
    font-size: 12px;
    line-height: 36px;
  }
  
  &:hover {
    cursor: pointer;
  }
}

// check list

.ik-board-task-checklist {
  .ik-board-task-title {
    margin-bottom: 5px;
  }
}

.ik-board-check-items {
  padding-left: 10px;
}

.ik-board-check-item {
  padding: 5px  0 5px 28px;

  .ik {
    position: relative;
    width: 20px;
    height: 20px;
    margin-left: -28px;
    float: left;
    &:hover {
      cursor: pointer;
    }

    &.ik-check-2 {
      background: $primaryColor;
    }
  }

  .ik-item-group {
    display: inline-block;

    i {
      float: left;
      margin-left: 10px;
      display: none;
    }
  }

  span {
    margin-left: 5px;
    float: left;
  }

  i {
    font-size: 18px;
    color: $dueDateColor;

    &:hover {
      cursor: pointer;
    }
  }
  
  &:hover {
    .ik-item-group {
      i {
        display: block;
      }
    }
  }
}

.ik-board-check-item-content {
  font-size: 15px;
  margin: 0;

  &:focus {
    outline: none;
  }
}

// comment

.ik-board-task-comments {
  padding-top: 20px;
  border-top: 1px solid $grey-5;
}

.ik-comment {
  display: flex;
  margin-bottom: 10px;
}

.ik-comment-img {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 100%;
  margin-right: 8px;
  img {
    max-width: 100%;
  }
}

.ik-new-comment-content {
  min-height: 40px;
  border: 1px solid $grey-5;
  border-radius: 4px;
  padding: 5px;
  &:focus {
    outline: none;
  }
}

.ik-comment-content {
  padding: 0 0 5px;
  p {
    margin: 0;
  }
}

.ik-comment-title {
  font-family: $primarySemiBoldFont;
  color: $grey-7;
  line-height: 1;
  margin-bottom: 3px;
}

.update-button  {
  width: auto; padding: 0 25px;
  float: right;
}

// =================
.ik-board-task-member-2 {
  display: flex;
  margin-bottom: 7px;

  .member-avt {
    width: 36px;
    height: 36px;
    margin-right: 7px;
    display: inline-block;
    border-radius: 100%;
    overflow: hidden;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .member-info {
    display: inline-block;
    font-size: 15px;
    line-height: 36px;
  }

  .remove-member-btn {
    display: inline-block;
    height: 21px;
    line-height:  21px;
    padding: 0 7px;
    margin-top: 7px;
    background: $dangerousColor;
    border-radius: 50px;
    overflow: hidden;
    text-align: center;
    color: $white;
    font-size: 10px;
    margin-left: 15px;

    &:hover {
      cursor: pointer;
    }
  }
}