<section id="viewBoardTaskModal"
 class="modal fade in modal-faded ik-modal-md ik-modal-extendsbase ik-modal-middle view-board-task-modal"
>
  <!--MODAL DIALOG-->
  <div class="modal-dialog">
    <!--MODAL CONTENT-->
    <div class="modal-content">
      <!--MODAL HEADER-->
      <div class="modal-header">
        <h4 class="section-title modal-title">Edit card</h4>
        <button class="ik-modal-close" (click)="close()">
          <span class="ik ik-close"></span>
        </button>
      </div>

      <div class="modal-body">

        <!--task name -->

        <div class="ik-board-task-name">
          <h4 class="ik-board-task-title">
            <i class="ti-pencil-alt"></i>Card content</h4>
          <textarea  [disabled]="!isMember&&!isAdmin" class="ik-textarea"[(ngModel)]='currentCard.content'></textarea>
        </div>
        <!-- end: task name -->

        <!-- Members -->
        <div class="ik-board-task-members-wrapper">
          <h4 class="ik-board-task-title">
            <i class="icon-people"></i>Members</h4>
          <ul class="ik-board-task-members clearfix">
            <!-- <li class="ik-board-task-member has-tooltip top">
              <span>
                <img [src]="teamAvt" alt="">
              </span>
              <span class="ik-tooltip">Tran Tu Uyen</span>
              <span class="ik-remove-member">
                <i class="ti ti-close"></i>
              </span>
            </li> -->
            <li class="ik-board-task-member-2" *ngFor = "let cardMem of cardMemberArray">
              <span class="member-avt">
                <img [src]="teamAvt" alt="">
              </span>
              <span class="member-info">{{cardMem.email}}</span>
              <span class="remove-member-btn" (click)="updateCardMember('remove-member',cardMem._id)" *ngIf="isMember||isAdmin">Remove</span>
            </li>
            <li class="ik-board-task-member others"  *ngIf="memberNotInCard.length &&(isMember||isAdmin)" (clickOutside)="toggleInvite=false">
              <i class="ti ti-plus" (click)="toggleInvite=!toggleInvite"></i>

              <div class="dropbox" [ngClass]="toggleInvite?'show-function':''">
                <div class="dropbox-header">Add new members</div>
                <div class="dropbox-body">
                  <!-- <div class="ik-search-form-group">
                    <input class="ik-input" type="search" placeholder="Search member ...">
                  </div> -->
                  <ul class="dropbox-items">
                    <li class="dropbox-item selected" *ngFor="let member of memberNotInCard" >
                      <img [src]="teamAvt">
                      <span class="flex" (click)="updateCardMember('add-member',member._id)">{{member.email}}</span>
                      <i class="ti-check joined"></i>
                    </li>
                    
                  </ul>
                </div>
              </div>

            </li>
          </ul>
        </div>
        <!-- end: members -->


        <!-- Time -->
        <div class="ik-board-task-time">
          <div class="row">
            <div class="col-md-6">
              <div class="ik-form-group start-date">
                <label class="ik-label">
                  <i class="icons ti-timer"></i>
                  Start date
                </label>
                <input [disabled]="!isMember&&!isAdmin" class="ik-input" type="date" [ngModel]="currentCard.startDate | date:'yyyy-MM-dd'" (ngModelChange)="currentCard.startDate = $event">
              </div>
            </div>
            <div class="col-md-6">
              <div class="ik-form-group due-date">
                <label class="ik-label">
                  <i class="icons ti-timer"></i>
                  Due date
                </label>
                <input [disabled]="!isMember&&!isAdmin" class="ik-input" type="date"[ngModel]="currentCard.dueDate | date:'yyyy-MM-dd'" (ngModelChange)="currentCard.dueDate = $event">
              </div>
            </div>
          </div>
        </div>
        <!-- end: time -->

        <div class="ik-button ik-button-primary update-button" (click)="updateCard(currentCard)"
        *ngIf="isMember||isAdmin">Update</div>
        <div *ngIf="!isMember&&!isAdmin" class="ik-button ik-button-default update-button"  (click)="close()">Close</div>
      </div>
    </div>
  </div>
</section>