<!-- FOOTER -->
<footer>
  <div class="foffset">
    <div class="row">
      <div class="footer">
        <div class="main-footer clearfix">

          <div class="col-xs-4">
            <div class="flogo">
              <img [src]="logo" alt="">
            </div>
          </div>
          <div class="col-xs-8">
            <div class="row">
              <div class="col-xs-4 footer-col">
                <h3 class="section-title">{{"footer_product" | translate}}</h3>
                <a href="#" class="footer-col-item">{{"footer_overview" | translate}}</a>
              </div>
              <div class="col-xs-4 footer-col">
                <h3 class="section-title">{{"footer_company" | translate}}</h3>
                <ul>
                  <li class="footer-col-item">
                    <a href="#">{{"footer_about" | translate}}</a>
                  </li>
                  <li class="footer-col-item">
                    <a href="#">{{"footer_features" | translate}}</a>
                  </li>
                </ul>
              </div>
              <div class="col-xs-4 footer-col">
                <h3 class="section-title">{{"footer_connect" | translate}}</h3>
                <ul>
                  <li class="footer-col-item">
                    <a href="#">{{"facebook" | translate}}</a>
                  </li>
                  <li class="footer-col-item">
                    <a href="#">{{"twitter" | translate}}</a>
                  </li>
                  <li class="footer-col-item">
                    <a href="#">{{"medium" | translate}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="copyright clearfix">
    <div class="foffset">
      <div class="pull-left">
        <span class="faddr">Ha Noi, Vietnam © IWork Technology 2018</span>
        <span>
            <a href="#">contact@iwork.co</a> - 18001098
        </span>
      </div>
      <a class="pull-right">Term & Privacy</a>
    </div>
  </div>
</footer>
<!-- END: FOOTER -->