@import '../../../../scss/variables';
@import '../../../../scss/mixins';

/* footer
======================================================*/
.main-footer {
  padding: 80px 0 40px;
}
.foffset {
  padding: 0 170px;
}

.faddr {
  margin-right: 15px;
}

.footer-col {
  padding-top: 10px;
  .section-title {
    font-size: 22px;
    margin-bottom: 30px;
    padding: 0;
    color: #0E3E9B;
  }
}

.footer-col-item {
  margin-bottom: 20px;
  a {
    display: block;
    color: #414141;
  }
}

.copyright {
  padding: 22px 0;
  background: #d9f0fd;

  a, span {
    font-size: 15px;
    color: #414141;
    display: inline-block;
  }
}


@include for-size($desktop-med-1) {
  .foffset {
    padding: 0 20px;
  }
}