@import '../../../../scss/variables';
@import '../../../../scss/mixins';

.message-popup {
  color: #f5f5f5;
  padding: 5px 15px;
  width: 277px;
  position: fixed;
  top: 120px;
  //right: -100%;
  z-index: 99999;
  right: 0;
  text-align: left;
  border-radius: 3px 0 0 3px;

  &.active {
    right: 0;
  }
  &:before {
    font-family: 'Glyphicons Halflings';
    position: relative;
    top: 3px;
    margin-right: 3px;
  }

  &-success {
    color: #3c763d;
    background: #d6e9c6;
    &:before {
      content: '\e013';
    }
  }

  &-failed {
    color:  #a94442;
    background: #f2dede;

    &:before {
      content: '\e014';
    }
  }
}