@import './../../../../../../../../scss/variables';
@import './../../../../../../../../scss/mixins';

/*====================================
  Team invitation
 =======================================*/

.team-invitation-modal {

  .close {
    margin-right: 25px;
  }

  .invitation-title {
    width: 78.5%;

    .section-title {
      font-size: 16px;
      color: rgba(#666, 0.9);
      margin-bottom: 15px;

      .team-name {
        color: $primaryColor;
      }
    }
  }

  .team-invitation-des {
    font-family: $primaryLightFont;
    font-size: 12px;
    line-height: 1.67;
    color: rgba(#5e5e5e, 0.9);
    margin-bottom: 20px;
  }

  // tags group
  .tags-group {
    width: 78.5%;
    float: left;
  }

  .selected-tags {
    padding: 5px 4px;
  }

  .dropdown-menu {
    padding: 0 20px;
    max-height: 300px;
  }

  // button

  .ik-center-button {
    margin-top: 30px;
    text-align: center;
  }
  .ik-button {
    font-size: 12px;
    width: auto;
    padding: 0 43px;
    float: right;
    border-radius: 3px;
    line-height: 42px;
    text-transform: uppercase;
  }
}
