<!-- TEAM INVITATION MODAL CENTER-->
<section id="teaminvitationModal" class="modal fade in modal-faded ik-modal-md ik-modal-extendsbase ik-modal-middle team-invitation-modal"
         role="dialog">
  <!--MODAL DIALOG-->
  <div class="modal-dialog">
    <!--MODAL CONTENT-->
    <div class="modal-content">
      <!--MODAL HEADER-->
      <button class="ik-modal-close">
        <span class="ik ik-close"></span>
      </button>

      <div class="modal-body row-flex-vertical">
        <h4 class="section-title modal-title">{{"invite_new" | translate}}</h4>

        <div class="flex small-scroll-bar">
          <div class="ik-form-group">
            <input class="ik-input" placeholder="Enter name or email address " [(ngModel)]="emailToInvite">
          </div>
          <!-- <div class="ik-form-group">
            <input class="ik-input" placeholder="Enter name or email address ">
          </div>
          <div class="ik-form-group">
            <input class="ik-input" placeholder="Enter name or email address ">
          </div> -->
        </div>

        <div class="ik-center-button">
          <button class="ik-button ik-button-primary" (click)="getMemberByEmail(emailToInvite)">{{"invite" | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END: TEAM INVITATION MODAL CENTER -->