<!--  MINI PROFILE -->
<div class="mini-profile right-mini-profile" [ngClass]="showProfile==true?'show-profile':''">
  <div class="top-profile">
    <img [src]="coverimg" alt="">
  </div>

  <div class="profile-main-info">
    <div class="avt-profile">
      <img [src]="user" alt="">
    </div>
    <div class="profile-info-group">
      <h4 class="profile-main-info-title">Tu Uyen</h4>
      <p class="profile-main-info-content">Account Manager</p>
      <p class="profile-main-info-sub-content">Write a status…</p>
    </div>
  </div>
  <div class="profile-sub-info">
    <ul class="profile-sub-info-items">
      <li class="profile-sub-info-item"  (click)="viewProfile($event);">{{"profile_view_profile" | translate}}</li>
      <li class="profile-sub-info-item">{{"profile_direct_msg" | translate}}</li>
      <li class="profile-sub-info-item">{{"profile_send_email" | translate}}</li>
      <li class="profile-sub-info-item">{{"profile_invite_to" | translate}}</li>
    </ul>
    <input class="ik-input" placeholder="Send dirrect message">
  </div>
</div>
<!-- END: MINI PROFILE -->