@import '../../../../scss/variables';
@import '../../../../scss/mixins';

/*======================= Mini profile======================*/
.profile-parent {
  position: relative;
  display: inline-block;
}

.mini-profile {
  position: absolute;
  width: 300px;
  border: 1px solid #DEDEDE;
  border-radius: 3px;
  overflow: hidden;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
  left: 100%;
  top: 100%;
  z-index: 999;
  display: none;

  &.show-profile {
    display: block;
  }

  &.top-right {
    top: 0;
    left: auto;
    right: -10px;
    transform: translateX(100%);
  }

  .top-profile {
    height: 100px;
    overflow: hidden;

    img {
      max-width: 100%;
    }
  }

  .profile-main-info {
    display: flex;
    margin-top: -100px;
    padding: 18px 0 14px;
  }

  .avt-profile {
    width: 69px;
    height: 69px;
    margin: 0 11px 0 17px;
    overflow: hidden;
    border-radius: 100%;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .profile-info-group {
    flex: 1;
  }

  .profile-main-info-title {
    font-size: 15px;
    line-height: 1.33;
    font-family: $primaryBoldFont;
    color: $white;
    margin-bottom: 0;
  }

  .profile-main-info-sub-content,
  .profile-main-info-content {
    font-size: 12px;
    line-height: 1.42;
    margin-bottom: 0;
    color: $white;

  }

  .profile-main-info-sub-content {
    font-style: italic;
  }
  .profile-sub-info {
    padding: 16px 10px 20px 13px;

    .ik-input {
      height: 40px;
      border: 1px solid #E0E0E0;
      border-radius: 3px;
      margin: 0;
      color: $grey-3;

      &:focus {
        box-shadow: none;
        border: 1px solid #E0E0E0;
      }

      &::placeholder {
        font-size: 14px;
        font-style: italic;
        color: #E0E0E0;
      }
    }
  }
  .profile-sub-info-items {
    padding: 0 0 10px 4px;
  }
  .profile-sub-info-item {
    margin-bottom: 6px;
    color: $grey-1;
    font-size: 15px;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    cursor: pointer;
  }
}

.right-mini-profile {
  position: relative;
  //  left: 0;
  //  top: 0;
  transform: translate(-102%, -22%);
}

.mini-profile-email {
  position: fixed;
  left: 250px;
  top: 94px;
}