@import '../../../scss/variables';
@import '../../../scss/mixins';

/* app
========================================== */


.home-body {
  background-color: #466dce;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  //font-family: $primarySemiBoldFont;
  font-size: 15px;
  line-height: 23px;
  color: #333;
  overflow-x: hidden;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

.main-content-wrapper {
  padding: 92px 0 140px;
  display: flex;
  justify-content: center;
  //min-height: 100vh;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
   -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-sizing: border-box;
}

.authen-option {
  padding: 10px;
}
//@include for-size($desktop-large-up-3) {
//    .main-content-wrapper {
//        min-height: 970px;
//    }
//}
//@include for-size($desktop-large-up-2) {
//    .main-content-wrapper {
//        min-height: 970px;
//    }
//}
//@include for-size($desktop-extra-large) {
//  .main-content-wrapper {
//    min-height: 854px;
//  }
//}
@include for-size($desktop-large) {
  .main-content-wrapper {
    padding: 45px 0 40px;
  }
}
//}
//@include for-size($desktop-med-2) {
//  .main-content-wrapper {
//    min-height: 1205px;
//  }
//}
//@include for-size($desktop-med-2) {
//  .main-content-wrapper {
//    min-height: 1054px;
//  }
//}
//@include for-size($tablet-landscape) {
//  .main-content-wrapper {
//    min-height: 863px;
//  }
//}
