<!--CHANGE PASSWORD-->
<section class="flex manager-item-detail-wrapper">
  <h3 class="section-title manager-item-detail-header"> {{"change_password_title" | translate}} </h3>

  <form class="change-password manager-item-detail clearfix" #changePasswordForm="ngForm"
        (ngSubmit)="changePassword()">
    <div class="row">
      <div class="col-lg-5 col-sm-10 col-xs-12">

        <div class="ik-form-group">
          <label class="ik-label"> {{"change_password_current_password" | translate}}</label>
          <input class="form-control ik-input ik-input-default ik-input-font-size-lg" type="password"
                 name="currentPassword"
                 [ngClass]="{'dangerous': fieldErrors.currentPassword}"
                 [(ngModel)]="data.currentPassword"
                 (keydown)="onKeyDown('currentPassword')"
                 (blur)="validateCurrentPassword()"/>
          <p class="ik-input-note ik-input-note-dangerous" *ngIf="fieldErrors.currentPassword">{{validationMessages.currentPassword |
            translate}}</p>
        </div>

        <div class="ik-form-group">
          <label class="ik-label"> {{"change_password_new_password" | translate}} </label>
          <input class="form-control ik-input  ik-input-default ik-input-font-size-lg" type="password"
                 name="newPassword"
                 [ngClass]="{'dangerous': fieldErrors.newPassword}"
                 [(ngModel)]="data.newPassword" (blur)="validateNewPassword()"
                 (keydown)="onKeyDown('confirmPassword')"/>
          <p class="ik-input-note ik-input-note-dangerous" *ngIf="fieldErrors.newPassword">{{validationMessages.newPassword |
            translate}}</p>
            <p class="ik-input-note "> {{"password_min_characters" | translate}} </p>
        </div>

        <div class="ik-form-group">
          <label class="ik-label"> {{"change_password_confirm" | translate}} </label>
          <input class="form-control ik-input  ik-input-default ik-input-font-size-lg" type="password"
                 name="confirmPassword"
                 [ngClass]="{'dangerous': fieldErrors.confirmPassword}"
                 [(ngModel)]="confirmPassword" (blur)="validateConfirmPassword()"
                 (keyup)="validateConfirmPassword()"/>
          <p class="ik-input-note ik-input-note-dangerous" *ngIf="fieldErrors.confirmPassword">{{validationMessages.confirmPassword |
            translate}}</p>
        </div>

        <input
          class="ik-button ik-button-primary ik-button-fixwidth-2 manager-accept-button"
          type="submit" value="Change"/>
      </div>
    </div>
  </form>
</section>
<!--END: CHANGE PASSWORD-->
<!-- <div *ngIf="sttChangeSuccess">
  <message-popup></message-popup>
</div> -->

<toaster-container [toasterconfig]="appToasterConfig"></toaster-container>
