@import '../../../../../../scss/variables';

.change-password {

  //.ik-form-group {
  //  margin-top: 7px;
  //}
  //
  //.ik-label {
  //  margin-bottom: 10px;
  //}
  //
  //
  //.ik-input[type=password] {
  //  color: #9b9b9b;
  //  padding: 0 12px;
  //  font-size: 21px;
  //}
  //
  //.passsword-note {
  //  font-size: 14px;
  //  color: #838383;
  //  font-family: 'Roboto-regular', sans-serif;
  //  margin-top: -5px;
  //}

}

