<div class="main-content-wrapper main-content-background flex">
  <section class="main-content-body confirm-body">
    <h2 class="section-title"> {{"home_confirm_email" | translate}} </h2>
    <p class="section-title-sub">{{"home_confirm_email_des_pre" | translate}} abc@gmail.com {{"home_confirm_email_des_suf" | translate}}</p>
  </section>
</div>