@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1f0rio');
  src:  url('fonts/icomoon.eot?1f0rio#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1f0rio') format('truetype'),
    url('fonts/icomoon.woff?1f0rio') format('woff'),
    url('fonts/icomoon.svg?1f0rio#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-time:before {
  content: "\e900";
}
.icon-star-rate:before {
  content: "\e901";
}
.icon-star-border:before {
  content: "\e902";
}
.icon-sms:before {
  content: "\e903";
}
.icon-sms-failed:before {
  content: "\e904";
}
.icon-settings:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}
.icon-reply:before {
  content: "\e907";
}
.icon-reply-all:before {
  content: "\e908";
}
.icon-notification:before {
  content: "\e909";
}
.icon-noti-paused:before {
  content: "\e90a";
}
.icon-noti-off:before {
  content: "\e90b";
}
.icon-noti-none:before {
  content: "\e90c";
}
.icon-noti-active:before {
  content: "\e90d";
}
.icon-multiple-files:before {
  content: "\e90e";
}
.icon-multiple-email:before {
  content: "\e90f";
}
.icon-more-vert:before {
  content: "\e910";
}
.icon-more-hor:before {
  content: "\e911";
}
.icon-lock:before {
  content: "\e912";
}
.icon-lock-outline:before {
  content: "\e913";
}
.icon-lock-open:before {
  content: "\e914";
}
.icon-info:before {
  content: "\e915";
}
.icon-info-outline:before {
  content: "\e916";
}
.icon-group:before {
  content: "\e917";
}
.icon-group-add:before {
  content: "\e918";
}
.icon-forward-arrow:before {
  content: "\e919";
}
.icon-forward-outine:before {
  content: "\e91a";
}
.icon-folder:before {
  content: "\e91b";
}
.icon-folder-special:before {
  content: "\e91c";
}
.icon-folder-share:before {
  content: "\e91d";
}
.icon-folder-open:before {
  content: "\e91e";
}
.icon-file-upload:before {
  content: "\e91f";
}
.icon-event:before {
  content: "\e920";
}
.icon-event-note:before {
  content: "\e921";
}
.icon-event-busy:before {
  content: "\e922";
}
.icon-event-available:before {
  content: "\e923";
}
.icon-emoticon:before {
  content: "\e924";
}
.icon-emo:before {
  content: "\e925";
}
.icon-email_black:before {
  content: "\e926";
}
.icon-download:before {
  content: "\e927";
}
.icon-delete:before {
  content: "\e928";
}
.icon-delete-forever:before {
  content: "\e929";
}
.icon-create-folder:before {
  content: "\e92a";
}
.icon-cloud-upload:before {
  content: "\e92b";
}
.icon-cloud-download:before {
  content: "\e92c";
}
.icon-cloud-done:before {
  content: "\e92d";
}
.icon-check:before {
  content: "\e92e";
}
.icon-chat:before {
  content: "\e92f";
}
.icon-chat-bubble:before {
  content: "\e930";
}
.icon-chat-bubble-outline:before {
  content: "\e931";
}
.icon-chat-5:before {
  content: "\e932";
}
.icon-chat-4:before {
  content: "\e933";
}
.icon-chat-3:before {
  content: "\e934";
}
.icon-chat-2:before {
  content: "\e935";
}
.icon-bookmark:before {
  content: "\e936";
}
.icon-bookmark-outline:before {
  content: "\e937";
}
.icon-attach-file:before {
  content: "\e938";
}
.icon-add:before {
  content: "\e939";
}
