@import '../../../../../scss/variables';

.main-content-body {
  padding: 0 0 30px;

  .section-title {
    font-family: $primaryRegularFont;
    padding: 0;
    font-size :26px;
    color: $white;
    text-align: center;
  }

  .main-form {
    background: $white;
    padding: 18px 20px 18px 20px;
    border-radius: 4px;
    max-width: 356px;
    margin: 40px auto 0;

    .ik-label {
      font-family: $primarySemiBoldFont;
      font-weight: normal;
      margin-bottom: 10px;
      color: #333;
    }

    .ik-input {
      height: 45px;
      line-height: 45px;
      color: #5c5c5c;
      font-size: 14px;

      &::placeholder {
        font-size: 14px;
        color: rgba(#5c5c5c, 0.8);
      }
    }

    .ik-button {
      font-family: $primaryRegularFont;
      font-size: 13px;
      letter-spacing: 1.3px;
      margin:  6px 0 0;
      padding: 0 26px;
      border: 1px solid #3e81de;
      color: $white;
      background-color: #3e81de;
      line-height: 46px;
      border-radius: 40px;
      text-transform: uppercase;
    }
  }

  .ik-form-group {
    margin-bottom: 10px;

    &.ik-form-group-sm {
      margin-bottom: 5px;
    }

  }
  .passsword-note {
    font-size: 13px;
    display: inline-block;
    float: right;
  }
}

.ik-input.ik-input-cont {
  margin: 15px 0 28px;
}
