<!-- REGISTER -->

<div class="main-content-wrapper main-content-background flex">
  <section class="main-content-body">
    <h2 class="section-title"> Sign up </h2>
    <div class="main-form">

      <form #registerForm="ngForm" (ngSubmit)="onRegister()">
        <div class="ik-form-group">
          <label class="ik-label">Email address<sup class="reqiured">*</sup> </label>
          <input class="ik-input ik-input-default" required
                 [(ngModel)]="accountData.email" name="email"
                 [ngClass]="{'dangerous': fieldError.email}"
                 (blur)="validateEmail()"
                 (keypress)="onKeyPress('email')"
                 placeholder="Your email address"/>
          <p class="ik-input-note ik-input-note-dangerous"
             *ngIf="fieldError.email"> {{errorMessage.email | translate}} </p>
        </div>
        <div class="ik-form-group">
          <label class="ik-label inline">Password <sup class="reqiured">*</sup> </label>
          <p class="ik-input-note pull-right"> 8 characters minimum</p> <!-- add class "ik-input-note-dangerous" -->
          <input class="form-control ik-input form-control ik-input-default form-control ik-input-font-size-lg"
                 type="password" maxlength="30"
                 [(ngModel)]="accountData.password" name="password"
                 [ngClass]="{'dangerous': fieldError.password}"
                 (blur)="validatePassword()"
                 (keypress)="onKeyPress('password')"/>
          <p class="ik-input-note ik-input-note-dangerous"
             *ngIf="fieldError.password"> {{errorMessage.password | translate}} </p>
        </div>
  
        <div class="ik-form-group">
          <label class="ik-label">Confirm password<sup class="reqiured">*</sup> </label>
          <input class="form-control ik-input form-control ik-input-default form-control ik-input-font-size-lg"
                 type="password" maxlength="30"
                 [(ngModel)]="confirmPassword" name="confirmPassword"
                 [ngClass]="{'dangerous': fieldError.confirmPassword}"
                 (blur)="validateConfirmPassword(false)"
                 (keypress)="onKeyPress('confirmPassword')"/>
          <p class="ik-input-note ik-input-note-dangerous"
             *ngIf="fieldError.confirmPassword"> {{errorMessage.confirmPassword | translate}} </p>
        </div>
        <input class="ik-input ik-button ik-button-primary" type="submit"
               value="Sign up"/>
      </form>
    </div>

      <a class="authen-cta" [routerLink]="['/authentication/login']">Login </a>
  </section>
</div>


<!-- END: REGISTER -->