<div class="ik-todo-task-detail">
    <div class="clearfix">
    <div class="ik-todo-task-detail-topbar-button pull-left">
        <i class="ti-arrow-left"></i>
        <label class="wk-label">Back to Task list</label>
    </div>
    <div class="pull-right">
        <span class="ik ik-close"></span>
    </div>
    </div>

    <h2 class="todo-content-header ik-todo-task-content-title">
        <i class="os-icon os-icon-ui-49"></i>
        <span>Task detail</span>
        </h4>
    </h2>
  
    <div class="ik-todo-task-detail-header">
        <div class="pull-left ik-icon-tooltip ik-group-button">
            <a class="ik-icon task-btn-done undone" href="#">
                <i class="icons ti-check"></i>
            </a>
            <label class="ik-label">Mark as Done</label>
        </div>

        <div class="pull-right ik-icon-tooltip">
            <a class="ik-icon task-btn-delete" href="#">
                <span class="ik-tooltip">Delete</span>
                <i class="os-icon os-icon-ui-15"></i>
            </a>
            <a class="ik-icon task-btn-star" href="#">
                <span class="ik-tooltip">Priority</span>
                <i class="os-icon os-icon-ui-02"></i>
            </a>
        </div>
    </div>
    <div class="ik-todo-task-detail-body">
        <div class="ik-form-group">
            <label class="ik-label">Task content</label>
            <textarea class="ik-input ik-todo-task-content-input">Hahaha</textarea>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="ik-form-group start-date">
                    <label class="ik-label">
                            <i class="icons ti-timer"></i>
                            Start date
                        </label>
                    <input class="ik-input" type="date">
                </div>
            </div>
            <div class="col-md-6">
                <div class="ik-form-group due-date">
                    <label class="ik-label">
                        <i class="icons ti-timer"></i>
                        Due date
                    </label>
                    <input class="ik-input" type="date">
                </div>
            </div>
        </div>
    </div>
</div>