@import '../../../../../../../../../scss/variables';
@import '../../../../../../../../../scss/mixins';

/*====================================
  Task detail
 =======================================*/

.ik-todo-task-detail {
    padding-left: 30px;
    margin-left: 30px;
    border-left: 1px solid rgba(#000, 0.08);
    height: 100%;

    .ik-close {
        font-size: 18px;
        cursor: pointer;
        &:hover {
            background: $grey-4;
        }
    }
}

.ik-todo-task-detail-topbar-button {
    height: 36px;
    line-height: 36px;
    font-size: 15px;
    width: auto;
    margin-bottom: 10px;
    display: inline-block;
    color: $grey-4;
    display: none;

    i {
        position: relative;
        top: 2px;
    }

    .wk-label {
        font-size: 13px;
        margin: 0;
    }

    &:hover {
        cursor: pointer;
        color: $primaryColor;
    }
}

.ik-todo-task-content-title {
    margin-bottom: 25px;
    font-size: 0;

    span {
        font-size: 25px;
    }
}

.ik-todo-task-detail-header {
    height: 36px;
    margin-bottom: 10px;

    .ik-group-button {
        &:hover {
            cursor: pointer;
        }

        .ik-label {
            position: relative;
            top: 1px;
        }
    }

    .ik-icon {
        .os-icon {
            font-size: 23px;
        }
    }


    .ik-icon.task-btn-done +  .ik-label {
        color: $successColor;
    }

    .ik-icon.task-btn-done.undone +  .ik-label {
        color: $grey-3;
    }

    .ik-label  {
        font-weight: 400;
        margin-left: 5px;
        display: inline-block;
    }
}

.ik-todo-task-content-input {
    height: 140px;
}

.ik-todo-task-detail-body {
    .ik-label {
        margin-bottom: 10px;
    }

    .start-date {
        i {
            color: $successColor;
        }
    }

    
    .due-date {
        i {
            color: $dueDateColor;
        }
    }
}

/*==================== RESPOMSIVE =========================*/
@include for-size($desktop-large) {
    .ik-todo-task-detail {
        border: none;
        padding:0 40px;
        margin: 0;

        .ik-close {
            display: none;
        }
    }

    .ik-todo-task-detail-topbar-button  {
        display: block;
    }
}