<!--ACCOUNT NAVBAR-->
<div class="ik-navbar row-flex">
  <!--USER MENU-->
  <div class="user dropbox-parent clearfix flex">
    <div class="user-avt">
      <a class="user-img" href="#">
        <img [src]="user" alt="user">
      </a>
      <span class="online-status"></span>
    </div>
    <div class="float-left">
      <a class="username" href="#"> Agnes Hodges </a>
      <span class="dropbox-toggle-icon ik ik-arrow-down cursor-pointer"></span>
      <p class="user-status" contenteditable="true">Set a status...</p>
    </div>

    <div class="dropbox user-functions">
      <div class="dropbox-header clearfix">
        <div class="user-avt">
          <a class="user-img" href="#">
            <img [src]="user" alt="user">
          </a>
        </div>
        <div class="float-left">
          <a class="username" href="#"> Agnes Hodges </a>
          <p class="user-status" contenteditable="true">Set a status...</p>
        </div>
        <span class="user-function-icon ik ik-edit"></span>
      </div>
      <ul class="dropbox-group-item">
        <li class="dropbox-item">{{"user_menu_fn_profile_account" | translate}}</li>
        <li class="dropbox-item">{{"invite_people" | translate}}</li>
        <li class="dropbox-item">{{"mute_noti" | translate}}</li>
        <li class="dropbox-item">{{"user_menu_fn_noti_setting" | translate}}</li>
        <li class="dropbox-item">{{"user_menu_fn_lab_channel" | translate}}</li>
        <li class="dropbox-item">{{"user_menu_fn_email_setting" | translate}}</li>
      </ul>
      <ul class="dropbox-group-item">
        <li class="dropbox-item">{{"user_menu_fn_lab_manager" | translate}}</li>
        <li class="dropbox-item">{{"user_menu_fn_join_lab" | translate}}</li>
        <li class="dropbox-item">{{"user_menu_fn_create_lab" | translate}}</li>
      </ul>
      <ul class="dropbox-group-item">
        <li class="dropbox-item">{{"user_menu_fn_sign_in" | translate}}</li>
        <li class="dropbox-item">{{"user_menu_fn_sign_out" | translate}}</li>
        <li class="dropbox-item not-highlighted">abc@gmail.com</li>
      </ul>
    </div>
  </div>

  <!--END: USER MENU-->

  <!--<h1 class="hlogo-wrapper">-->
  <!--<a class="hlogo">-->
  <!--<img [src]="appLogo" alt="logo"/>-->
  <!--</a>-->
  <!--</h1>-->

  <a class="ik-button cursor-pointer ik-button-backchat">
    <span class="ik-button-backchat-icon ik ik-home"></span>{{"account_menu_button_backchat" | translate}}
  </a>
</div>
<!--END: ACCOUNT NAVBAR-->
