@import './../../../../../../../scss/variables';
@import './../../../../../../../scss/mixins';

/*====================================
  Board detail
 =======================================*/

.ik-new-pipeline {
  .ik-input {
    font-size :14px;
    margin-bottom: 15px;

    &::placeholder {
      font-size :14px;
    }
  }
  .ik-button {
    float: right;
    padding: 0 15px;
    font-size: 14px;
    line-height: 34px;
    height: 34px;
    width: auto;
  }
}
.ik-pipeline {
  // width: 20%;
  // float: left;
  // margin-right: 20px;
  max-height: 100%;
  animation: none;

  .pipeline-name {
    font-size: 18px;
    font-family: $primarySemiBoldFont;

    span {
      border: 1px solid #dedede;
      border-radius: 3px;
      font-size: 19px;
      margin-right: 7px;
      position: relative;
      top: 2px;
      padding: 3px;

      &:hover {
        cursor: move;
      }
    }

    &:focus {
      outline: none;
    }
  }

  .pipeline-body {
    padding-right: 10px;
    min-height: 10px;
  }

  .pi-info {
    margin: 0 16px 0 -10px;
    padding: 5px 15px;
    border: 1px solid transparent;
    border-radius: 3px;
    height: 40px;
    line-height: 1.375;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      cursor: text;
      outline: none;
      border-color: #047bf8;
      box-shadow: inset 0 1px 1px rgba(4, 123, 248, 0.075), 0 0 8px rgba(4, 123, 248, 0.6);
    }
  }
  
  &:hover {

    .pi-controls {
      display: none;
    }
    .ik-pi-close {
      transform: scale(1);
    }
  }

  .pipeline-item {
    margin-bottom: 10px;
  }
}

.ik-new-pipeline-item {
  .ik-button {
    i {
      font-size :13px;
    }
  }

  .button-group {
    float: right;
    margin-top: 15px;
    .ik-button {
      width: 80px;
      font-size: 14px;
      margin-left: 10px;
      float: left;
      height: 32px;
      line-height: 32px;
      padding: 0;
    }

    .ik-button-default {
      border: 1px solid #9b9b9b;
      color:#9b9b9b;
      line-height: 30px;

      &:hover {
        border-color: #888;
        color: #888;
      }
    }
  }
}
.ik-pi-functions {
  float: right;

  span {
    font-size: 13px;
    position: relative;
    top: -3px
  }

  i {
    padding: 3px;
    color: $primaryColor;
  }
}

// Control
.ik-pi-close {
  position: absolute;
  font-size: 20px;
  top: 5px;
  right: 6px;
  color: $grey-5;
  transform: scale(0);
  transition: all 0.15s ease-in-out;


  &:hover {
    cursor: pointer;
    color: $grey-2;
  }
}


//Time

.ik-pi-body {
  display: block;
}

.ik-pi-time-wrapper {
  margin-top: 20px;

}
.ik-pi-time {
  span {
    font-size: 13px;
    color: $grey-5;
  }

  &.ik-pi-time-start {
    float: left;
    i {
      color: $successColor;
    }
  }

  &.ik-pi-time-duedate {
    float: right;

    i {
      color :$dueDateColor;
    }
  }
}

//Function
.ik-pi-function {
  display: inline-block;

  &:not(.ik-no-click):hover {
    cursor: pointer;
  }

  &.ik-no-click {
    position: relative;
    top: 1px;
  }
}

.ik-board-detail-header {
  text-align: center;
  height: 90px;
  padding: 0 30px;



  .ik-right-button {
    i {
      font-size: 26px;
      color: $grey-5;
    }

    &:hover {
      cursor: pointer;
      i {
        color: $primaryColor;
      }
    }
  }
}

.ik-left-button {
  width: auto;
}

.manage-members-button {
  margin-right: 15px;
}

.ik-board-detail-header-title {
  font-family: $primaryBoldFont;
  color: $grey-8;
  margin: 0;

  &:focus {
    outline:none;
  }
}

.ik-lists {
  padding: 30px;
}

.new-team-parent {
  position: relative;
}

.new-team-dropbox {
  top: 44px;
  right: auto;
  left: 50%;
  transform: translateX(-50%);
}

