<div class="top-menu-secondary ik-board-detail-header">
  <div class="inline new-team-parent" (clickOutside)="onClickedOutside($event)">
    <button class="ik-button ik-button-primary" (click)="toggleNewTeam=!toggleNewTeam">
      Create new team
    </button>

    <form class="dropbox dropbox-3 new-team-dropbox" [ngClass]="toggleNewTeam?'show-function':''">
      <div class="dropbox-header">
        <h5 class="dropbox-3-title">New team</h5>
        <i class="ik ik-close"></i>
      </div>
      <div class="dropbox-3-body">
        <p class="dropbox-3-des">Enter new team's name</p>
        <input class="ik-input" name="name" [(ngModel)]="newTeam.name" required>
        <button class="ik-button ik-button-primary" (click)="createTeam(newTeam)">Create</button>
      </div>
    </form>
  </div>

  <h3 class="ik-board-detail-header-title flex">{{teamName}}</h3>
  <div class="ik-right-button manage-members-button" *ngIf="cardsArr">
    <button class="ik-button ik-button-primary" (click)="switchToTeam()">Manage team members</button>
  </div>
  <div class="ik-right-button"  *ngIf="cardsArr"> 
    <i class="os-icon os-icon-ui-46" (click)="toggleMenu()"></i>
  </div>
</div>

<div class="ik-lists flex row-flex-vertical clearfix" [dragula]='"pineline-parent-1"' *ngIf="cardsArr">
  <div class="row">
    <!--START - Pipeline Backlog-->
    <div class="col-md-3">

      <div class="ik-pipeline flex row-flex-vertical pipeline white lined-primary">
        <div class="pipeline-header">
          <h5 class="pipeline-name">Backlog</h5>
        </div>
        <!-- List card-->
        <div class="pipeline-body small-scroll-bar" [dragula]='"pineline-1"' id="backlogPineline">
          <div class="pipeline-item" *ngFor="let card of backLogCardsArr"  id="{{card._id}}">
            <div class="pi-controls">
              <div class="status status-green" data-placement="top" data-toggle="tooltip" title="Active Status"></div>
            </div>
            <div class="ik-pi-close" title="Remove task" (click)="removeCard(card)">
              <i class="icon-close"></i>
            </div>
            <div class="pi-body ik-pi-body">
              <div class="pi-info" contenteditable="true">{{card.content}}</div>

              <div class="ik-pi-time-wrapper clearfix">
                <div class="ik-pi-time ik-pi-time-start">
                  <i class="ti ti-timer"></i>
                  <span>{{card.startDate | date:'yyyy-MM-dd'}}</span>
                </div>

                <div class="ik-pi-time ik-pi-time-duedate">
                  <i class="ti ti-timer"></i>
                  <span>{{card.dueDate  | date:'yyyy-MM-dd'}}</span>
                </div>
              </div>
            </div>
            <div class="pi-foot">
              <ul class="ik-pi-members">
                <li class="ik-pi-member has-tooltip top">
                  <div class="ik-pi-member-img">
                    <img [src]="teamAvt" alt="">
                  </div>
                  <span class="ik-tooltip">Tran Tu Uyen</span>
                </li>
                <li class="ik-pi-member has-tooltip top">
                  <div class="ik-pi-member-img">
                    <img [src]="teamAvt" alt="">
                  </div>
                  <span class="ik-tooltip">Tran Tu Uyen</span>
                </li>

                <li class="ik-pi-member">
                  <div class="ik-pi-member-img others">
                    <span>+3</span>
                  </div>
                </li>
              </ul>
              <ul class="ik-pi-functions" (click)="chooseCard(card)">
                <li class="ik-pi-function" title="View task" (click)="chooseCard(card)">
                  <i class="ti ti-eye"></i>
                </li>
                <li class="ik-pi-function ik-no-click">
                  <i class="os-icon os-icon-mail-12"></i>
                  <span>8</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--End: List card-->

        <!--Create new card-->
        <div class="pipeline-item ik-new-pipeline-item">
          <button class="ik-button ik-button-primary invert" *ngIf="!focusNewCard1" (click)="focusNewCard1 = true; newCard.status = 'backlog'">
            <i class="ti-plus"></i>
            New card
          </button>
          <div class="pi-body ik-pi-body clearfix" *ngIf="focusNewCard1">
            <textarea class="pi-info ik-input" placeholder="New card content" [(ngModel)]="newCard.content" required>New card content here</textarea>
            <div class="button-group">
              <button class="ik-button ik-button-primary" (click)="createCard(newCard)">Create</button>
              <button class="ik-button ik-button-default" (click)="focusNewCard1=false">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      <!--END: Create new card-->
    </div>
    <!--END - Pipeline-->

    <!--START - Pipeline Todo-->
    <div class="col-md-3">
      <div class="ik-pipeline flex row-flex-vertical pipeline white lined-primary">
        <div class="pipeline-header">
          <h5 class="pipeline-name">Todo</h5>
        </div>
        <!--End: List card-->
        <div class="pipeline-body small-scroll-bar" [dragula]='"pineline-1"' id="todoPineline">
          <div class="pipeline-item" *ngFor="let card of todoCardsArr"   id="{{card._id}}" [attr.data-status]="card">
            <div class="pi-controls">
              <div class="status status-green" data-placement="top" data-toggle="tooltip" title="Active Status"></div>
            </div>
            <div class="ik-pi-close" title="Remove card" (click)="removeCard(card)">
              <i class="icon-close"></i>
            </div>
            <div class="pi-body ik-pi-body">
              <div class="pi-info">{{card.content}}</div>

              <div class="ik-pi-time-wrapper clearfix">
                <div class="ik-pi-time ik-pi-time-start">
                  <i class="ti ti-timer"></i>
                  <span>{{card.startDate | date:'yyyy-MM-dd'}}</span>
                </div>

                <div class="ik-pi-time ik-pi-time-duedate">
                  <i class="ti ti-timer"></i>
                  <span>{{card.dueDate| date:'yyyy-MM-dd'}}</span>
                </div>
              </div>
            </div>
            <div class="pi-foot">
              <ul class="ik-pi-members">
                <li class="ik-pi-member has-tooltip top">
                  <div class="ik-pi-member-img">
                    <img [src]="teamAvt" alt="">
                  </div>
                  <span class="ik-tooltip">Tran Tu Uyen</span>
                </li>
                <li class="ik-pi-member has-tooltip top">
                  <div class="ik-pi-member-img">
                    <img [src]="teamAvt" alt="">
                  </div>
                  <span class="ik-tooltip">Tran Tu Uyen</span>
                </li>

                <li class="ik-pi-member">
                  <div class="ik-pi-member-img others">
                    <span>+3</span>
                  </div>
                </li>
              </ul>
              <ul class="ik-pi-functions" data-toggle="modal" data-target="#viewBoardtaskModal">
                <li class="ik-pi-function" title="View task" (click)="chooseCard(card)">
                  <i class="ti ti-eye"></i>
                </li>
                <li class="ik-pi-function ik-no-click">
                  <i class="os-icon os-icon-mail-12"></i>
                  <span>8</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--End: List card-->

        <!--Create new card-->
        <div class="pipeline-item ik-new-pipeline-item">
          <button class="ik-button ik-button-primary invert" *ngIf="!focusNewCard2" (click)="focusNewCard2 = true; newCard.status = 'todo'">
            <i class="ti-plus"></i>
            New card
          </button>
          <div class="pi-body ik-pi-body clearfix" *ngIf="focusNewCard2">
            <textarea class="pi-info ik-input" placeholder="New card content" [(ngModel)]="newCard.content" required>New card content here</textarea>
            <div class="button-group">
              <button class="ik-button ik-button-primary" (click)="createCard(newCard)">Create</button>
              <button class="ik-button ik-button-default" (click)="cancelCard()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      <!--END: Create new card-->
    </div>
    <!--END - Pipeline-->

    <!--START - Pipeline Doing-->
    <div class="col-md-3">
      <div class="ik-pipeline flex row-flex-vertical pipeline white lined-primary">
        <div class="pipeline-header">
          <h5 class="pipeline-name">Doing</h5>
        </div>
        <!--List card-->
        <div class="pipeline-body small-scroll-bar" [dragula]='"pineline-1"' id="doingPineline">
          <div class="pipeline-item" *ngFor="let card of doingCardsArr"   id="{{card._id}}">
            <div class="pi-controls">
              <div class="status status-green" data-placement="top" data-toggle="tooltip" title="Active Status"></div>
            </div>
            <div class="ik-pi-close" title="Remove card" (click)="removeCard(card)">
              <i class="icon-close"></i>
            </div>
            <div class="pi-body ik-pi-body">
              <div class="pi-info">{{card.content}}</div>

              <div class="ik-pi-time-wrapper clearfix">
                <div class="ik-pi-time ik-pi-time-start">
                  <i class="ti ti-timer"></i>
                  <span>{{card.startDate | date:'yyyy-MM-dd'}}</span>
                </div>

                <div class="ik-pi-time ik-pi-time-duedate">
                  <i class="ti ti-timer"></i>
                  <span>{{card.dueDate| date:'yyyy-MM-dd'}}</span>
                </div>
              </div>
            </div>
            <div class="pi-foot">
              <ul class="ik-pi-members">
                <li class="ik-pi-member has-tooltip top">
                  <div class="ik-pi-member-img">
                    <img [src]="teamAvt" alt="">
                  </div>
                  <span class="ik-tooltip">Tran Tu Uyen</span>
                </li>
                <li class="ik-pi-member has-tooltip top">
                  <div class="ik-pi-member-img">
                    <img [src]="teamAvt" alt="">
                  </div>
                  <span class="ik-tooltip">Tran Tu Uyen</span>
                </li>

                <li class="ik-pi-member">
                  <div class="ik-pi-member-img others">
                    <span>+3</span>
                  </div>
                </li>
              </ul>
              <ul class="ik-pi-functions" data-toggle="modal" data-target="#viewBoardtaskModal">
                <li class="ik-pi-function" title="View card" (click)="chooseCard(card)">
                  <i class="ti ti-eye"></i>
                </li>
                <li class="ik-pi-function ik-no-click">
                  <i class="os-icon os-icon-mail-12"></i>
                  <span>8</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--End: List card-->

        <!--Create new card-->
        <div class="pipeline-item ik-new-pipeline-item">
          <button class="ik-button ik-button-primary invert" *ngIf="!focusNewCard3" (click)="focusNewCard3=true; newCard.status = 'doing'">
            <i class="ti-plus"></i>
            New card
          </button>
          <div class="pi-body ik-pi-body clearfix" *ngIf="focusNewCard3">
            <textarea class="pi-info ik-input" placeholder="New card content" [(ngModel)]="newCard.content" required>New card content here</textarea>
            <div class="button-group">
              <button class="ik-button ik-button-primary" (click)="createCard(newCard)">Create</button>
              <button class="ik-button ik-button-default" (click)="focusNewCard3=false">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      <!--END: Create new card-->
    </div>
    <!--END - Pipeline-->

    <!--START - Pipeline Done-->
    <div class="col-md-3">
      <div class="ik-pipeline flex row-flex-vertical pipeline white lined-primary">
        <div class="pipeline-header">
          <h5 class="pipeline-name">Done</h5>
        </div>
        <!--List card-->
        <div class="pipeline-body small-scroll-bar" [dragula]='"pineline-1"' id="donePineline">
          <div class="pipeline-item" *ngFor="let card of doneCardsArr" id="{{card._id}}">
            <div class="pi-controls">
              <div class="status status-green" data-placement="top" data-toggle="tooltip" title="Active Status"></div>
            </div>
            <div class="ik-pi-close" title="Remove card" (click)="removeCard(card)">
              <i class="icon-close"></i>
            </div>
            <div class="pi-body ik-pi-body">
              <div class="pi-info">{{card.content}}</div>

              <div class="ik-pi-time-wrapper clearfix">
                <div class="ik-pi-time ik-pi-time-start">
                  <i class="ti ti-timer"></i>
                  <span>{{card.startDate | date:'yyyy-MM-dd'}}</span>
                </div>

                <div class="ik-pi-time ik-pi-time-duedate">
                  <i class="ti ti-timer"></i>
                  <span>{{card.dueDate| date:'yyyy-MM-dd'}}</span>
                </div>
              </div>
            </div>
            <div class="pi-foot">
              <ul class="ik-pi-members">
                <li class="ik-pi-member has-tooltip top">
                  <div class="ik-pi-member-img">
                    <img [src]="teamAvt" alt="">
                  </div>
                  <span class="ik-tooltip">Tran Tu Uyen</span>
                </li>
                <li class="ik-pi-member has-tooltip top">
                  <div class="ik-pi-member-img">
                    <img [src]="teamAvt" alt="">
                  </div>
                  <span class="ik-tooltip">Tran Tu Uyen</span>
                </li>

                <li class="ik-pi-member">
                  <div class="ik-pi-member-img others">
                    <span>+3</span>
                  </div>
                </li>
              </ul>
              <ul class="ik-pi-functions" (click)="chooseCard(card)" data-toggle="modal" data-target="#viewBoardtaskModal">
                <li class="ik-pi-function" title="View card" (click)="chooseCard(card)">
                  <i class="ti ti-eye"></i>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!--End: List card-->

        <!--Create new card-->
        <div class="pipeline-item ik-new-pipeline-item">
          <button class="ik-button ik-button-primary invert" *ngIf="!focusNewCard4" (click)="focusNewCard4 = true;  newCard.status = 'done'">
            <i class="ti-plus"></i>
            New card
          </button>
          <div class="pi-body ik-pi-body clearfix" *ngIf="focusNewCard4">
            <textarea class="pi-info ik-input" placeholder="New card content" [(ngModel)]="newCard.content" required>New card content here</textarea>
            <div class="button-group">
              <button class="ik-button ik-button-primary" (click)="createCard(newCard)">Create</button>
              <button class="ik-button ik-button-default" (click)="focusNewCard4=false">Cancel</button>
            </div>
          </div>
        </div>
        <!--END: Create new card-->
      </div>
    </div>
    <!--END - Pipeline-->
  </div>
</div>
<board-menu *ngIf="openMenu" [inputToggle]="showedMenu"></board-menu>
<view-card-modal (closeModal)="viewCardModal=false" [inputToggle]="viewCardModal" *ngIf="viewCardModal"></view-card-modal>