@import '../../scss/variables';

/* app
========================================== */

main {
    font-family: $primaryRegularFont;
    font-size: 15px;
    line-height: 23px;
    color: #333;
    overflow-x: hidden;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
    min-height: 100%;
}

.authen-option {
    padding: 10px;
}