<div class="bg-blue-grey flex row-flex-vertical">
    <account-navbar></account-navbar>
        <!--<p class="manager-alertik-alert-success ik-hidden"> Your password has been updated successfully! </p>-->
    <div class="manager-body flex row-flex">
        <account-menu class=""></account-menu>
        <div class="flex row-flex-vertical">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>