@import '../../../../../scss/variables';
@import '../../../../../scss/mixins';

/*====================================
Chat
 =======================================*/
.chat {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

.chat-menu {
  padding: 5px 0;
  background: $darkGrey1;
  text-align: center;
  width: 80px;
  height: 100%;
  overflow-y: auto;
}

.left-chat-comp {
}


.left-chat {
  height: 100%;
}

.list-chat {
  // background: $grey-6;
  // width: 255px;
  float: left;
  height: 100%;
  position: relative;
  border-right: 1px solid #dfe3eb;
}

.ng2-dropdown-menu {
  z-index: 9999 !important;
}

/*====================== RESPONSIVE ===========================*/
@include for-size($tablet-landscape) {
  .chat-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transform: translateX(-100%);
  }

  .list-chat {
    width: 200px;
  }
}