<!--CHAT-->
<div class="todo-app-w chat">
    <div class="left-chat">
        <left-menu></left-menu>
        <div class="list-chat row-flex-vertical">
        </div>
    </div>

    <div class="flex row-flex-vertical light-grey-bg"*ngIf="mainContentState && (mainContentState.type==='TEAM' || mainContentState.type==='BOARD')">
        <team *ngIf="mainContentState && mainContentState.type==='TEAM'"></team>
        <board-detail class="row-flex-vertical flex" *ngIf="mainContentState && mainContentState.type==='BOARD'"></board-detail>
    </div>
    <ng-container *ngIf="mainContentState && mainContentState.type==='TODO_LIST'">
        <todo-sidebar></todo-sidebar>
        <todo-content class="flex"></todo-content>
    </ng-container>
</div>

<team-invitation-modal></team-invitation-modal>