<h2 class="todo-content-header ik-todo-content-header">
  <i class="os-icon os-icon-ui-83"></i>
  <span>Task list</span>
  </h4>
</h2>

<ul class="tasks-list ik-task-list" [dragula]='"ik-todo-list"'>
  <li class="draggable-task warning">
    <div class="todo-task-drag ik-todo-task-drag">
      <div class="ik-todo-task-drag-handle"></div>
      <i class="os-icon os-icon-hamburger-menu-2 ik-icon"></i>
    </div>
    <div class="todo-task ik-todo-task">
      <span class="ik-todo-task-content" contenteditable="true">Order new drills from amazon sale box Order new drills from amazon sale box Order new drills from amazon sale box Order
        new drills from amazon sale box
      </span>
      <div class="todo-task-buttons">
        <a class="task-btn-done" href="#">
          <span>Mark as Done</span>
          <i class="icons ti-check"></i>
        </a>
        <a class="task-btn-edit" data-target="#taskModal" data-toggle="modal" href="#">
          <span>Edit</span>
          <i class="os-icon os-icon-ui-49"></i>
        </a>
        <a class="task-btn-delete" href="#">
          <span>Delete</span>
          <i class="os-icon os-icon-ui-15"></i>
        </a>
        <a class="task-btn-star" href="#">
          <span>Priority</span>
          <i class="os-icon os-icon-ui-02"></i>
        </a>
      </div>
    </div>
  </li>
</ul>