@import './../../../../../../../../../scss/variables';
@import './../../../../../../../../../scss/mixins';

/*====================================
  Task todo 
 =======================================*/


.ik-todo-task-drag {
    position: relative;
}

.ik-todo-task-drag-handle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    &:hover {
        cursor: move;
    }
}