<div class="todo-content row-flex-vertical">
  <div class="ik-search-form-group">
    <input type="search" placeholder="Search task" class="ik-input">
    <i class="ik ik-search"></i>
  </div>
  <div class="flex row-flex">
      <div class="ik-task-list">
        <task></task>
      </div>
    <div class="ik-task-detail-wp">
      <task-detail></task-detail>
    </div>
  </div>

</div>