@import '../../../../../../../../scss/variables';
@import '../../../../../../../../scss/mixins';

/*====================================
  Todo content
 =======================================*/


.todo-content {
  height: 100%;
  padding: 40px 30px 0 30px;
  background: $white;
  position: relative;

  .ik-search-form-group {
    .ik-input {
      border: 1px solid #DFE0E8;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      box-shadow: none;
      margin-bottom: 23px;
      padding-left: 40px;

      &::placeholder {
        font-size: 14px;
      }
    }

      i {
        position: absolute;
        top: 8px;
        left: 10px;
      }
  }
  
}

.ik-task-list,
.ik-task-detail-wp {
  flex-basis: 50%;
  background: $white;
}


/*===================== RESPNSIVE ================*/

@include for-size($desktop-large) {
  .ik-task-list,
  .ik-task-detail-wp {
    flex-basis: auto;
  }
  
  .ik-task-detail-wp {
    position: absolute;
    top: 98px;
    left: 0;
    right: 30px;
    padding-left: 0;
    z-index: 1;
    
  }
}