// Fonts
//$primaryFont: "OpenSans", sans-serif;
$primaryLightFont: "OpenSans-Light", sans-serif;
$primaryRegularFont: "Open Sans", sans-serif;
$primaryBoldFont: "OpenSans-Bold", sans-serif;
$primarySemiBoldFont: "OpenSans-SemiBold", sans-serif;
$italic: italic;

// Animation
$slow: all 0.5s ease-in-out;
$fast: all 0.3s ease-in-out;

// Color
$primaryColor: #047bf8;
$bookmarkColor: #FFCE0A;
$offColor: #F5A623;
$onlColor: #54c31b;
// $successColor: #4d9121;

$black: #000000;
$white: #fff;
$grey-1: #424354;
$grey-2: #272845;
$grey-3: #73747B;
$grey-4: #2c2c2c;
$grey-5: #B1B2BD;
$grey-6: #fafafa;
$grey-7: #343757;
$grey-8: #4f4f4f;

$darkBrown: #21201e;

$linkColor: #0197d3;

$borderColor-1: #ebebeb;
$safeColor: #3295d7;
$dangerousColor: #f7412c;
$dueDateColor: #e65252;
$successColor: #459543;
$normalColor: #1abc9c;
$privateColor: #d35400;

$darkGrey1: #010623;
$darkGrey1: #1d232a;
$darkGrey2: #262d34;
//$twitter: #00aced;
//$facebook: #3b5998;
//$googleplus: #dd4b39;
//$pinterest: #cb2027;
//$linkedin: #007bb6;
//$youtube: #bb0000;
//$vimeo: #aad450;
//$tumblr: #32506d;
//$instagram: #517fa4;
//$flickr: #ff0084;
//$dribbble: #ea4c89;
//$quora: #a82400;
//$foursquare: #0072b1;
//$forrst: #5B9A68;
//$vk: #45668e;
//$wordpress: #21759b;
//$stumbleupon: #EB4823;
//$yahoo: #7B0099;
//$blogger: #fb8f3d;
//$soundcloud: #ff3a00;