@import './variables';

.animation {
  &.blur {
    background: linear-gradient(90deg, #f2f2f2, rgba(#f2f2f2, 0.1));
    animation: blur 5s ease infinite;
  }
}

/*====================== Animation =================*/
@keyframes blur {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}
