@import 'variables';

/*button
===================================================*/

.ik-button {
  border: 1px solid #000;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  transition: $fast;

  &:before {
    vertical-align: middle;
  }

  &-default {
    font-family: $primaryBoldFont;
    border: none;
    color: #bdbdbd;
    background: transparent;

    &:focus, &:hover {
      box-shadow: none;
    }

    &-color-primary {
      color: $primaryColor;
    }

    &-dark {
      color: #4f4f4f;
    }
  }

  &-backchat {
    display: inline-block;
    font-size: 15px;
    width: 177px;
    line-height: 40px;
    border: none;
    color: $primaryColor;
    background: #f2f2f2;
    position: relative;

    .icon-wrapper {
      margin-right: 13px;
    }

    &-icon {
      width: 24px;
      height: 24px;
      background: $primaryColor;
      margin: 0 10px -6px 0;
      transition: $fast;
    }

    &:hover {
      background: $primaryColor;
      color: $white;
      .ik-button-backchat-icon {
        background: $white;
      }
    }
  }

  &-link {
    background: transparent;
    color: #1774ff;
    border: none;
  }

  &-primary {
    font-family: $primarySemiBoldFont;
    width: 100%;
    background: $primaryColor;
    border: none;
    height: 40px;
    line-height: 40px;
    padding: 0 25px;
    color: $white;
    font-size: 15px;
    cursor: pointer;
    transition: $fast;

    &:hover {
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.085), 0 0 10px rgba(102, 175, 233, 0.9);
    }

    &.invert {
      background: $white;
      color: $primaryColor;
    }
  }

  &-dangerous {
    color: $dangerousColor;
  }

  &-secondary {
    font-family: $primaryBoldFont;
    font-size: 14px;
    line-height: 50px;
    width: 100%;
    color: #bdbdbd;
    display: block;
    border-radius: 3px;
    border: none;
    background: #f2f2f2;

    &:before {
      display: inline-block;
      width: 18px;
      height: 15px;
      margin-right: 20px;
    }

    &:hover {
      background: $primaryColor;
      color: $white;
      border-color: $primaryColor;
    }
  }
  
  &-grey {
    background: #c1c1c1;
    color: $white;
    border: none;
    height: 40px;
    line-height: 40px;

    &:hover {
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.085), 0 0 10px rgba(#666, 0.5);
    }
  }

  &-pill {
    font-family: $primarySemiBoldFont;
    font-size: 15px;
    line-height: 30px;
    padding: 0 21px;
    color: #8c8c8c;
    height: 30px;
    background-color: #ebebeb;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
    text-transform: capitalize;

    &:hover, &:active {
      background: $primaryColor;
      color: $white;
    }
  }

  &-dooted {
    background: rgba($primaryColor, 0.05);
    border: 1px solid $primaryColor;
    border-style: dashed;
    color: $primaryColor;

    &:hover {
      background: $primaryColor;
      color: $white;
    }
  }

  // underline
  &-underline {
    line-height: 1;
    padding: 0;
    border-bottom: 1px solid #bdbdbd;
  }

  // inline
  &-inline {
    line-height: 1;
    display: inline-block;
    width: auto;
  }

  // button width
  &-fixwidth {
    width: 48%;
    height: 50px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    background: white;
    position: relative;
    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: block;
    }
  }

  &-fixwidth-2 {
    width: 120px;
  }

  &-fixwidth-3 {
    width: 160px;
  }

  &-fixwidth-4 {
    width: 177px;
  }

  &-fixwidth-5 {
    width: 130px;
  }


  // button height
  &-height-sm {
    height: 40px;
    line-height: 40px;
  }

  //size
  &-size-lg {
    padding: 0 60px;
  }
  &-size-md {
    padding: 0 28px;
  }

  &-upload[type="file"] {
    display: none;
  }

  // Text transform
  &-upr {
    text-transform: uppercase;
  }

  // Border radius
  &-radius-sm {
    border-radius: 3px;
  }

  &.negative {
    color: #656565;
    font-family: $primaryBoldFont;
    background: none;
    @extend .ik-button-inline;

    &:hover {
      color: $grey-4;
    }
  }

  &.positive {
    font-family: $primaryRegularFont;
    color: $white;
    background: $primaryColor;
  }

  &-offtop-sm {
    margin-top: 7px;
  }

  // font-size
  &-font-size-default {
    font-size: 15px;
  }

  &-font-size-sm {
    font-size: 13px;
  }
}

//icon bttun
.ik-icon-btn {
  background: none;
  font-size: 25px;
  color: #b1b2bd;
  line-height: 1;
}

// switch button
.switch {
  width: 36px;
  position: relative;
  display: inline-block;
  height: 18px;
  border-radius: 9px;

  input {
    display: none;
  }

  input:checked + .slider {
    background-color: $primaryColor;

    &:before {
      left: 20px;
    }
  }
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #555555;
  transition: all 0.4s ease-in-out;
  border-radius: 9px;
}

.slider:before {
  position: absolute;
  content: "";
  width: 14px;
  height: 14px;
  top: 2px;
  left: 2px;
  bottom: 0;
  background-color: $white;
  transition: all 0.4s ease-in-out;
  border-radius: 100%;
}

// Radio button
.radio {
  width: 22px;
  height: 22px;
  background-color: #fafafb;
  border: solid 1px #c4c8cf;
  text-align: center;
  border-radius: 100%;
  position: relative;

  input {
    display: none;
  }

  .radio-check {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: $fast;
    cursor: pointer;
  }

  input:not(:checked) {
    color: #939393;
  }

  input~ .ik-label{
    color: $grey-7;
  }

  input:checked + .radio-check {
    background-color: #3441cf;
  }
  input:not(:checked) + .radio-check {
    background-color: transparent;
  }
}



