@import 'variables';
@import 'mixins';

.modal-backdrop {
  display: none;
}

.todo-app-w {
  height: 100%;

  .todo-sidebar {
    padding: 40px 0;
    flex: 0 0 300px;
    width: 300px;
    height: 100%;

    .section-title {
      text-align: center;
      margin-bottom: 30px;
    }

    .ik-button {
      margin-bottom: 35px;
    }
  }


  .todo-content {
    padding-top: 35px;
    
    .ik-todo-content-header {
      margin-bottom: 6px;
      font-size: 0;

      span {
        font-size: 26px;
      }
    }

    .ik-task-list {
      font-size: 16px;

      li.draggable-task {
        .ik-todo-task-drag {
          top: 6px;
        }
        .ik-todo-task {
          padding-right: 120px;

          .ik-todo-task-content {
            font-size: 16px;
            line-height: 1.53;
          }

          .todo-task-buttons {
            top: 0;
            right: 0;
             transform: translate(0, 0);
            a span {
              font-size: 13px;
              top: -32px;
            }
          } 
        }
      }
    } 
  } 
}

/*======================= Dropdown =========================*/
.os-dropdown.ik-dropdown {
  width: 200px;
  ul {
    li {
      a {
        font-size: 14px;
        i {
          transition: all 0.05s ease-in-out
        }
        span {
          font-size: 14px;
          margin-left: 0;
          transition: $fast;
        }

        &:hover {
          i {
            color: $white;
            transform: scale(1.06);
          }

          span {
            margin-left: 3px;
          }
        }
      }
    }
  }
}


/*=================== Icon button has tooltip =================*/

.ik-icon-tooltip .ik-icon {
  font-size:18px;
  display:inline-block;
  position:relative;
  vertical-align:middle;
  text-decoration:none
}
.ik-icon-tooltip .ik-icon .ik-tooltip{
  position:absolute;
  top:-28px;
  left:50%;
  -webkit-transform:translateX(-50%);
  transform:translateX(-50%);
  white-space:nowrap;
  padding:2px 8px;
  border-radius:4px;
  background-color:#111;
  color:#fff;
  font-weight:500;
  font-size: 13px;
  text-transform:uppercase;
  letter-spacing:1px;
  visibility:hidden;
  opacity:0;
  -webkit-transition:all 0.2s ease;
  transition:all 0.2s ease;
  display:inline-block;
  vertical-align:middle
}
.ik-icon-tooltip .ik-icon:hover{
  text-decoration:none
}
.ik-icon-tooltip .ik-icon:hover .ik-tooltip{
  -webkit-transform:translate(-50%, 8px);
  transform:translate(-50%, 8px);
  visibility:visible;
  opacity:1
} 
.ik-icon-tooltip .ik-icon+.ik-icon {
  margin-left:8px
}
.ik-icon-tooltip .task-btn-done{
  color:#4d9121
}

.ik-icon-tooltip .task-btn-done.undone {
  color: $grey-3;
} 

.ik-icon-tooltip .task-btn-edit{
  color:#047bf8
}
.ik-icon-tooltip .task-btn-delete{
  color:#e65252
}
.ik-icon-tooltip .task-btn-star{
  color:#c89302
}
.todo-task{
  position:relative;
  display:inline-block
}
.todo-task .ik-tooltip{
  outline:none
}

/* =================== Sub menu ==========*/
  // .menu-side-compact-w ul.main-menu>li.active .sub-menu-w {
  // }
.menu-side-compact-w .sub-menu-w {
  background: $white;
  position: fixed;
  top: 0;
  left: 90px;
  transform: none;
  bottom: 0;
  max-height: unset;

  .sub-menu-i {
    ul {
      width: 25px;
    }
    >ul>li>a.active:before {
      transform: translate(0);
      opacity: 1;
    }
  }

  .sub-menu-title {
    font-size: 40px;
    color: $primaryColor;
    line-height: 1.3;
  }

  .team-item {
    display: flex;
    &:hover {
      cursor: pointer;
    }
    .team-img {
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 100%;
      margin-right: 7px;

      img {
        max-width: 100%;
      }
    }

    .team-name {
      font-size: 15px;
      font-family: $primarySemiBoldFont;
      color: $grey-2;
      margin: 0;
      line-height: 40px;
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 1;
      max-width: 100%;
    }
  }

  .sub-menu-i{
    > ul > li {
      border-bottom: 1px solid rgba($black,0.1);
      a {
        padding: 5px 0 5px 50px;
      }
    }
    .sub-menu+.sub-menu {
      border-left: 1px solid rgba($black,0.1);
    }
  } 
  
}
.menu-side-compact-w .logged-user-w .logged-user-menu ul li a span {
  font-size :14px;
}

/*==================== Logged user ==========*/
.logged-user-w .logged-user-role {
  font-size: 12px;
}
