@import 'variables';
@import 'mixins';

/*======================== Aactivity ========================== */

/*======================== Alert ========================== */
.ik-alert {
  font-size: 12px;
  text-align: right;
  display: block;
  margin-bottom: 0;

  &-dangerous {
    color: $dangerousColor;
  }

  &-successful {
    color: $successColor;
  }
}

/*======================== Attack item ===================*/
.attacked-group {
  align-items: flex-end;
}

.attacked-items {
  margin: 0 -7px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.attacked-item-wrapper {
  display: inline-block;
  margin-bottom: 10px;
  padding: 0 7px;
  position: relative;
}

.file-attacked-item {
  padding: 10px 4px 5px 4px;
  border: solid 1px #d9dbde;
  border-radius: 3px;
  width: 277px;
  height: 80px;

  .file-wrapper-gutter {
    //margin-left: -55px;
    float: left;
    line-height: 0;
    margin-right: 3px;

    .ik {
      width: 48px;
      height: 48px;
      background: rgba(36, 96, 236, 0.75);
      margin-top: -3px;
    }
  }
  .file-info {
    flex: 1;
    overflow: hidden;
    line-height: 0;

    .file-name {
      font-family: $primarySemiBoldFont;
      font-size: 13px;
      line-height: 1.37;
      color: $grey-1;
      margin-bottom: 2px;
      letter-spacing: -0.1px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .file-type,
    .file-size {
      font-size: 13px;
      line-height: 1;
      color: #b4b5b7;
    }

    .file-size {
      margin-left: 18px;
    }
  }

  .mesage-body-functions {
    margin-top: 3px;
  }
  .mesage-body-function {
    display: inline-block;
    cursor: pointer;

    .ik {
      margin-right: 4px;
      background-color: $grey-5;
    }

    &:hover {
      .ik {
        background: $primaryColor;
      }
    }

    .dropbox {
      width: 190px;
    }
  }

}

.attacked-item {
  position: relative;
}

/*======================== Bookmark ======================*/
.bookmark {
  background: url('assets/images/chat/icon_star_yellow_16x16.png') center no-repeat;
  width: 16px;
  height: 16px;
}

/*======================== Box content ==============================*/
.list-box-content-dark-line {
  border-top: 1px solid #c4c8cf;
  .box-content {
    border-bottom: 1px solid #c4c8cf;
  }
}

.list-box-content-light-line {
  border-top: 1px solid #ececec;
}

.box-content {
  padding: 17px 0 13px 0;
  border-bottom: 1px solid #ececec;
  position: relative;
  display: flex;

  .box-content-img {
    width: 51px;
    height: 51px;
    border-radius: 100%;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    background: transparent;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .box-content-main {
    flex: 1;
    line-height: 1;
    margin-left: 17px;

    &-offtop-sm {
      margin-top: 7px;
    }
  }

  .box-content-title {
    font-family: $primaryBoldFont;
    font-size: 14px;
    display: inline-block;
    line-height: 1;
    margin-bottom: 4px;
    text-transform: uppercase;

    a {
      white-space: nowrap;
      color: #5a5a5a;
    }

    .hightlight {
      font-family: $primaryBoldFont;
      font-size: 15px;
      margin-left: 17px;
      color: $primaryColor;
      text-transform: none;
    }
  }

  .box-content-info {
    //margin-bottom: 5px;
    line-height: 1;
    font-size: 13px;

    &-light {
      color: #bdbdbd;

      .highlight {
        font-family: $primaryRegularFont;
        color: #4f4f4f;
      }
    }
  }
  .italic {
    color: #bdbdbd;
  }

  p, span {
    &:not('.tag') {

      font-size: 14px;
      line-height: 1;
      color: #4f4f4f;
      margin-bottom: 0;
    }
  }

  .list-channel-icon,
  .dropbox-toggle-icon {
    width: 24px;
    height: 24px;
    margin-top: 10px;
    float: left;
  }

  .dropbox-toggle-icon {
    background: #b1b2bd;;
  }

  // List icon inline
  .list-icon-inline {
    margin-top: -2px;
  }

  // function
  .box-content-functions-wrapper {
    display: inline-block;
  }

  // Other style
  &-no-img {
    padding-left: 0;

    .box-content-title {
      font-family: $primaryBoldFont;
    }
  }

  .ik-button-pill {
    margin-right: 7px
  }
}

.box-content-sm {
  padding: 16px 16px 16px 68px;
  .box-content-title {
    font-size: 15px;
    text-transform: capitalize;
  }

  p, span {
    font-size: 13px;
    line-height: 1;
    color: #4f4f4f;
    margin-bottom: 0;
  }

  .box-content-info {
    font-size: 13px;
  }
}

/*======================= Box icon =========================*/
.ik-box-icon {
  padding: 28px 19px 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 3px;

  .title {
    text-transform: uppercase;
    font-size: 26px;
    line-height: 1;
    margin-bottom: 11px;
    color: $white;
  }

  .des {
    font-size: 13px;
    line-height: 1.38;
    color: $white;
    margin-bottom: 0;
  }

  .icon {
    flex: 1;
  }

  .bottom-button {
    font-family: $primaryBoldFont;
    font-size: 14px;
    line-height: 40px;
    text-transform: none;
    width: 140px;
    color: #bdc3c7;
    background-color: #ffffff;
    border: none;
    margin: 0 auto;
  }
}

/*======================= Commtens =========================*/
.comments-msg, .comment {
  background: #fff;

  .box-content-main {
    margin-left: 0;
  }

  .box-content-title {
    color: $grey-2;
    font-size: 14px;
    line-height: 1.357;
    text-transform: none;
    margin: 0;
  }

  .box-content-info {
    color: #323342;
    font-size: 12px;
    line-height: 1.2;

    &.inline.semi {
      color: #9193B2;
      font-family: $primarySemiBoldFont;
      margin-left: 14px;
    }
  }
}

.comments-msg {
  padding: 16px 0 8px 0;

  .box-content-info {
    color: #323342;
    font-size: 12px;
    line-height: 1.2;

    .highlight {
      font-family: $primarySemiBoldFont;
      color: #323342;
      font-size: 12px;
      line-height: 1.2;
    }
  }
}

.comments-msg-no-sub-info {
  .box-content-title {
    line-height: 32px;
  }
}

.comments {
  padding: 0;
}

.comment {
  padding: 10px 22px 10px 12px;

  .box-content-info {
    font-size: 14px;
    color: $grey-1;
    margin: 4px 0 0;
  }
}

.new-comment-wrapper {
  padding-bottom: 30px;
  .box-checkbox {
    padding: 0 12px;
    .box-to-check {
      width: 17px;
      height: 17px;
      border: 1px solid #979797;
      border-radius: 3px;
      margin-right: 8px;

      .checked {
        width: 17px;
        height: 17px;

        &:before {
          width: 17px;
          height: 17px;
        }
      }
    }
    .ik-label {
      font-size: 12px;
      line-height: 1.2;
      color: $grey-1;

      .highlight {
        font-family: $primarySemiBoldFont;
        color: $grey-1;
        font-size: 12px;
        line-height: 1.2;
      }
    }
  }
}

.new-comment {
  margin-bottom: 11px;
  .ik-form-group {
    margin: 0;
  }
  .ik-input {
    height: 34px;
    font-size: 14px;
    margin: 0;

    &:focus {
      box-shadow: none;
      border-color: #e0e0e0;
    }
  }
}

/*======================= Devider =========================*/
.divider {
  margin: 11px 0 11px 0;
  text-align: center;
  position: relative;

  &:after {
    position: absolute;
    content: '';
    background: #a8a8a8;
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -0.5px;
    z-index: 0;
  }

  span {
    position: relative;
    z-index: 1;
    background: $white;
    line-height: 1;
    padding: 0 20px;
    color: #a8a8a8;
    font-style: italic;
    font-size: 14px;
  }
}

/*======================== Hidden commments ================= */
.hidden-comments {
  margin-top: 10px;
  padding-left: 10px;

  .user-avts {
    float: left;
  }

  .user-avt, .users-avt-left {
    height: 26px;
    width: 26px;
    border: 2px solid #F0F0F0;
    margin-left: -12px;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    background-color: #D1D1D1;
    position: static;

    img {
      width: 24px;
    }
  }
  .users-avt-left {
    line-height: 24px;
  }

  .total-comments {
    color: $primaryColor;
    font-size: 13px;
    line-height: 20px;
    float: left;
    margin-left: 4px;
    margin-top: 3px;
    cursor: pointer;

    .ik {
      height: 20px;
      width: 20px;
      background-color: $primaryColor;
      float: left;
      margin-right: 3px;
    }

  }

}

/*======================== Highlight ==============================*/
.sub-highlight {
  font-family: $primarySemiBoldFont;
  font-size: 12px;
  line-height: 1.4;
  padding: 8px 14px 10px;
  display: block;
  color: $primaryColor;
  cursor: pointer;
  float: left;

  &.min-pad {
    padding: 4px 0 0 14px;
  }

  &.float-right {
    text-align: right;
    float: right;

    &.min-pad {
      padding: 4px 14px 0 0;
    }
  }
}

/*======================== Caret+Dropbox ==============================*/

.has-right-caret {

  .dropbox {
    padding: 0;
  }

  .dropbox-right {
    top: auto;
    left: auto;
    right: 0;
    bottom: -13px;
    transform: translate(100%, 0);
  }

  .dropbox-remove-caret {
    padding: 14px 0;
    width: 100%;
    height: 100%;
    background: $white;
  }
}

/*======================== Caret ==============================*/
.ik-caret {
  position: absolute;
  display: block;
  z-index: -1;
  width: 15px;
  height: 15px;
  background: $white;
  opacity: 0;
  visibility: hidden;
}

.ik-right-caret {
  top: auto;
  right: auto;
  left: -8px;
  bottom: 16px;
  transform: rotate(-45deg);
  box-shadow: 0 0 2px 0 rgba(87, 71, 81, 0.5);
}

/*======================== Dropbox ==============================*/
.more-content {
  background: url('assets/images/ik_icon/ik_more_bg.svg');
  width: 20px;
  height: 7px;
  background-size: cover;
  background-position: 50% 50%;
  display: inline-block;
  cursor: pointer;
}

/*======================== Dropbox ==============================*/
.dropbox-parent {
  position: relative;

  &:hover {
    .ik-caret,
    .dropbox {
      opacity: 1;
      visibility: visible;
    }
  }
}

.dropbox-toggle-icon {
  width: 15px;
  height: 15px;
  padding: 0 5px;
  margin: 0 0 -3px 10px;
  cursor: pointer;
}

.dropbox {
  position: absolute;
  top: 36px;
  right: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
  border: solid 1px #dedede;
  background: $white;
  padding: 14px 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  border-radius: 3px;

  &.full-width {
    width: 100%;
    padding: 14px 0;
  }

  &.top {
    top: -23px;
    transform: translateY(-100%);
  }

  &.right {
    left: 100%;
    top: 50%;
    transform: translate(0, -50%);
  }

  &.center {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }

  &.mini-box {
    padding: 5px 0;

    .dropbox-item {
      line-height: 26px;
      font-size: 14px;
    }
  }

  .dropbox-header {
    border-bottom: 1px solid #e6e6e6;
    padding: 4px 7px 4px 16px;
  }

  .dropbox-item {
    font-family: $primaryRegularFont;
    font-size: 15px;
    line-height: 28px;
    color: $grey-1;
    padding: 0 15px 0 23px;
    display: block;
    letter-spacing: -0.1px;
    cursor: pointer;
    float: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.danger {
      color: #e31436;

      &:hover, &:focus, &.active {
        color: #e31436;
      }
    }

    &.not-highlighted {
      font-size: 13px;
      color: #73747b;
    }

    &:hover, &:focus, &.active {
      background-color: #e6e7f5;
    }

    &.has-child {
      position: relative;

      &:after {
        content: '';
        width: 13px;
        height: 13px;
        display: inline-block;
        background-color: $grey-5;
        mask-size: 100%;
        -webkit-mask-size: 100%;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-position: 50% 50%;
        -webkit-mask-position: 50% 50%;
        mask-image: url(assets/images/ik_icon/ik_arrow_right.svg);
        -webkit-mask-image: url(assets/images/ik_icon/ik_arrow_right.svg);
        position: absolute;
        top: 50%;
        right: 11px;
        transform: translateY(-50%);
      }
    }
  }

  // bopbox position
  &-right {
    left: auto;
    right: 0;
    top: 50%;
    transform: translate(100%, -50%);
  }

  &.no-icon {
    li {
      padding-left: 13px;
    }
  }
}

.dropbox-group-item {
  padding: 7px 0 10px;
  border-top: 1px solid #e6e6e6;
}

.dropbox-header + .dropbox-group-item {
  border: none;
  padding-top: 16px;
}

.dropbox-group-item:first-child {
  border: none;
  padding-top: 0;
}

.dropbox-group-item:last-child {
  padding-bottom: 0;
}

//Other style
.dropbox-noline {
  position: absolute;
  z-index: 999;
  top: 50px;
  right: 0;
  border-radius: 3px;
  background: $white;
  opacity: 0;
  visibility: hidden;
  white-space: nowrap;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
  border: solid 1px #dedede;
  padding: 5px 18px 5px 0;
}

.dropbox-noline-item {
  font-size: 13px;
  letter-spacing: 0.4px;
  padding: 0 15px;
  cursor: pointer;

  a, span {
    color: #4f4f4f;
    display: block;
    line-height: 28px;
  }

  .dropbox-noline-item-icon {
    // display: inline-block;
    text-align: center;
    margin: 4px 11px 0 -31px;
    width: 20px;
    height: 20px;
    float: left;
  }

  &:last-child {
    border: none;
  }
}

.show-function,
.open > .dropdown-menu.dropbox {
  opacity: 1;
  visibility: visible;
}

.dropbox-2 {
  padding: 8px 0 14px;
}

.dropbox-item-2 {
  font-family: $primaryRegularFont;
  padding: 0 24px 0 73px;
  color: $grey-3;
  font-size: 15px;
  line-height: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .dark {
    color: $grey-1;
  }

  .title {
    width: 55px;
    margin-left: -55px;
    text-align: right;
    margin-right: 14px;
    display: inline-block;
  }

  .highlight {
    font-family: $primarySemiBoldFont;
    color: $grey-1;
    font-size: 15px;
    line-height: 32px;
    &:hover {
      color: $grey-1;
    }
  }
}

.receivers, .receivers-detail-wrapper {
  display: inline-block;
  font-family: $primaryRegularFont;
}

.receivers-detail-wrapper {
  position: relative;
  .ik {
    width: 13px;
    height: 13px;
    background-color: $grey-5;
    position: relative;
    top: 2px;
    margin-left: 8px;
    cursor: pointer;
  }

  .dropbox {
    width: 405px;
    left: 0;
    bottom: -9px;
    top: auto;
    transform: translateY(100%);
  }

  .dropbox-item-2 {
    ul {
      margin-bottom: 4px;
      li .highlight {
        line-height: 24px;
      }
      li:first-child {
        .highlight {
          line-height: 32px;
        }
      }
      li:nth-child(2) {
        margin-top: -5px;
      }
    }
  }
}

/*======================== Invite dropbox ======================*/
.dropbox-3 {
  width: 300px;
  padding: 10px;

  .dropbox-header {
    padding: 4px 0 10px;
    text-align: center;
    position: relative;

    .ik {
      position: absolute;
      top: 0;
      right: 2px;
      width: 14px;
      height: 14px;

      &:hover {
        cursor: pointer;
        background: $grey-2;
      }
    }
  }

  .ik-button {
    float: right;
    height: 34px;
    line-height: 34px;
    // display: inline-block;
    padding: 0 15px;
    font-size: 14px;
    width: auto;
  }
}

.dropbox-3-title {
  font-size: 15px;
  margin: 0;
  font-family: $primarySemiBoldFont;
}

.dropbox-3-des {
  font-size: 14px;
  line-height: 1.375;
  color: #838c91;
}

.dropbox-3-body {
  padding: 10px;
  
  .ik-input {
    height: 36px;
    line-height: 34px;
  }
}

/*======================== Flexbox ==============================*/

.flex-box-wrapper {
  font-family: $primarySemiBoldFont;
  font-size: 15px;
  color: #6d6f83;
  letter-spacing: -0.1px;
  margin-bottom: 23px;
  padding-left: 11px;
  display: block;

  .flex-box-icon-wrapper {
    position: relative;
    top: 6px;
  }

  .ik {
    background: #76778a;
  }
}

.flex-box {
  &:hover {
    color: $primaryColor;
    .ik {
      background: $primaryColor;
    }
  }
}

.flex-box-more-wrapper {
  float: right;
  padding: 7px 11px 0 0;
  line-height: 0;
}

.flex-box-more {
  width: 205px;
}

.flex-box-more-icon {
  fill: #b1b2bd;
}

/*======================== Icon ====================*/

.icon {
  content: '';
  display: inline-block;
  cursor: pointer;
}

/*======================== Image ====================*/
.image-rounded {
  border-radius: 100%;
  text-align: center;
  overflow: hidden;
  background: #cccccc;
}

.image-box {
  display: flex;

  .image-link {
    width: 51px;
    height: 51px;
    margin-right: 8px;
    @extend .image-rounded;

    img {
      width: 51px;
      height: 51px;
    }
  }

  .image-box-content {
    font-family: $primaryBoldFont;
    font-size: 16px;
    line-height: 51px;
    white-space: nowrap;
    color: #5a5a5a;
    flex: 1;
  }

  .dropbox-toggle-icon {
    width: 18px;
    height: 18px;
    margin-top: 16px;
  }
}

/*======================== Manager page ======================*/
.manager-alert {
  line-height: 35px;
  font-size: 12px;
  text-align: center;
  margin: 0;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 999;
}

.manager-body {
  padding: 16px 60px 0;
  background: $grey-6;
}

.manager-item-detail-wrapper {
  background-color: $white;
}

.manager-item-detail-header {
  padding: 0 0 0 33px;
  margin-bottom: 0;

  .section-title {
    padding: 25px 0 0 0;
    margin-bottom: 10px;
  }
}

.manager-item-detail-header-des {
  font-family: $primarySemiBoldFont;
  font-size: 13px;
  line-height: 1;
  color: #c1c1c1;
  margin: 0;
}

.sub-manager-item-detail-header {
  font-size: 14px;
  line-height: 1;
  font-style: italic;
  color: #bdbdbd;
  margin: 0;
}

.manager-item-detail {
  padding: 30px 25px 0 33px;

  .section-title {
    padding: 0;
  }

  .title {
    font-family: $primaryBoldFont;
    font-size: 14px;
    text-align: left;
    color: $grey-7;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
}

.manager-item-detail-sm {
  padding: 11px 0 0 33px;
}

.manager-accept-button-group {
  text-align: right;
  display: block;
  margin-top: 28px;

  .ik-button-default:first-child {
    margin-right: 16px;

    &:hover {
      color: #4f4f4f;
    }
  }

  .ik-button-default {
    height: 40px;
    line-height: 40px;
  }
}

.manager-accept-button {
  margin-top: 36px;
  float: right;
}

// Other style
.manager-item-detail-wrapper-lg {
  .manager-item-detail-header-wrapper {
    margin-bottom: 30px;
  }

  .manager-item-detail-header {
    margin-bottom: 8px;
  }

  .manager-item-detail-wrapper {
    padding: 20px;
  }

  .search-filter {
    padding: 0 7px 15px 4px;
  }

  .box-content {
    padding: 18px 8px;
  }

  .box-content-title {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.search-filter-sm {
  .ik-select-wrapper {
    width: 26.67%;

    &:first-child {
      margin-right: 18px;
    }
  }

  .ik-input-wrapper {
    flex: 1;
  }

  .ik-select, .ik-input {
    font-family: $primaryRegularFont;
    color: #5a5a5a;
    font-size: 13px;
  }

  .ik-input {
    &::placeholder {
      font-size: 14px;
      color: #bdbdbd;
    }
  }
}

.search-filter-title {
  font-family: $primarySemiBoldFont;
  font-size: 14px;
  line-height: 1;
  color: $grey-7;
  margin-bottom: 13px;

}

// Manager modal
.manager-item-detail-wrapper-modal {
  .manager-item-detail-header {
    padding: 0;
  }

  .manager-item-detail {
    padding: 0;
  }
}

//manager tab style
.manage-item-detail-tabs-header {
  border-bottom: solid 1px #464646;
  line-height: 0;

  .ik-button {
    width: 142px;
    float: right;
    position: relative;
    top: -25px;
  }

  .ik-nav-tabs {
    display: inline-block;
    border: none;
  }
}

.manage-item-detail-tabs {
  padding-bottom: 26px;

  .box-checkbox {
    margin: 0;
  }

  .ik-tab-content-header {
    .box-checkbox {
      // display: inline-block;
      padding-left: 0;
      padding-right: 15px;
      float: left;
      text-transform: capitalize;

      .ik-label {
        font-size: 13px;
        line-height: 20px;
        color: #4f4f4f;
      }
    }

    .ik-button {
      font-size: 13px;
      float: left;
      padding: 5px 15px;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        height: 1px;
        bottom: 7px;
        left: 15px;
        right: 15px;
      }

      &-dangerous:after {
        background: $dangerousColor;
      }

      &-default-color-primary:after {
        background: $primaryColor;
      }
    }
  }

  .ik-search-form-group {
    width: 282px;
    float: right;

    .ik-input {
      margin: 0;
      font-size: 13px;

      &::placeholder {
        font-size: 13px;
        color: #929292;
        font-style: italic;
      }
    }
  }

  .ik-tab-content-body {
    .box-checkbox {
      padding: 16px 25px;
      position: relative;

      &:hover {
        background: #f6f5f5;
      }
    }

    .box-to-check {
      margin-top: 16px;
    }
  }

  .box-content {
    padding: 0 0 0 62px;
    border: none;
    //float: left;

    .box-content-title {
      margin: 3px 0 10px;
    }
  }

  .box-content-info {
    font-size: 13px;
    line-height: 1;
    color: #4f4f4f;
  }

  .box-content-img {
    width: 46px;
    height: 46px;
  }

  .dropbox-toggle-icon {
    width: 24px;
    height: 24px;
    background: #b1b2bd;
  }

  .dropbox {
    top: 25px;
  }

  .function-button-group {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 0;

    .ik-button {
      line-height: 1.2;
      border-radius: 0;
      padding: 0;
      border-bottom: 1px solid #4f4f4f;
    }

    .ik-button:first-child {
      margin-right: 15px;
    }
  }
}

/*======================== Member item ======================*/
.right-profile {
  position: relative;
  margin-bottom: 10px;
  background: $white;

  .right-panel-close {
    position: absolute;
    margin: 0;
    top: 9px;
    right: 6px;
    z-index: 9;

    .ik {
      background: $white;
    }
  }

  .top-profile {
    height: 119px;
    overflow: hidden;
    position: relative;
    img {
      max-width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .profile-main-info {
    text-align: center;
    margin-top: -52px;
    position: relative;
    z-index: 9;

    .avt-profile {
      height: 92px;
      width: 92px;
      border: 2px solid #FFFFFF;
      overflow: hidden;
      border-radius: 100%;
      display: inline-block;
    }

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .profile-main-info-title {
    font-family: $primaryBoldFont;
    color: $grey-1;
    font-size: 20px;
    line-height: 1.35;
    margin: 7px 0 0;
  }
  .profile-main-info-content {
    color: $grey-1;
    font-size: 15px;
    line-height: 1.33;
    margin-bottom: 0;
  }

  .profile-main-info-sub-content {
    color: $grey-3;
    font-size: 13px;
    font-style: italic;
    line-height: 1.384;
    margin-top: 8px;
    margin-bottom: 0;
  }

  .profile-sub-info {
    margin-top: 11px;
    padding: 7px 12px;
    margin-bottom: 0;
  }

  .profile-sub-info-content {
    color: $grey-7;
    font-size: 14px;
    line-height: 1.357;
    margin-bottom: 0;

    .ik {
      color: $grey-7;
      width: 22px;
      height: 22px;
      margin-right: 4px;
      float: left;
    }

    &:first-child {
      margin-bottom: 6px;
    }
  }

  .profile-more-function {
    position: absolute;
    top: 91px;
    right: 6px;
    left: auto;
    z-index: 9;

    .ik {
      width: 18px;
      height: 18px;
      z-index: 9;
      background: $white;
      cursor: pointer;
    }

    .dropbox {
      border-radius: 3px;
      width: 210px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
    }

    .dropbox,
    .dropbox.show-function {
      top: 32px;
      left: auto;
      transform: translate(0.0);
      right: 3px;
    }
  }
}
/*======================= Piline members =====================*/


.ik-pi-members {
  float: left;
  padding-left: 15px;
  font-size: 0;
  line-height: 0;
}
.ik-pi-member{
  margin-left: -10px;
  float: left;
  line-height: unset;
  position: relative;

  .dropbox {
    top: 110%;
  }
}

.ik-pi-member-img {
  width: 30px;
  height: 30px;
  border: 2px solid $white;
  overflow: hidden;
  display: inline-block;
  border-radius: 100%;
  text-align: center;
  background: $white;


  img {
    width:100%;
  }

  img + i {
    position: absolute;
    right: 2px;
    left: 2px;
    background: rgba($black, 0.3);
    color: $white;
    text-align: center;
    opacity: 0;
    border-radius: 100%;
  }

  &:hover {
    cursor: text;
    
    img + i {
      opacity: 1;
    }
  }

  i {
    font-size: 16px;
    line-height: 26px;
    color: #a2a2a2;
  }

  &.others {
    border-color: #dedede;
    span {
      line-height: 26px;
      font-size: 13px;
      color: #9a9a9a;
    }
  }

}

/*======================== Filter dropbox======================*/
.filter-dropbox {
  width: 291px;
  border: 1px solid #DEDEDE;
  border-radius: 3px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
  top: 100%;
  padding: 5px 0 0;


  .ik-label {
    font-family: $primaryRegularFont;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.357;
    color: #424354;
    display: inline-block;
    margin: 0;
  }
}

.filter-header {
  display: flex;
  padding: 3px 11px 8px 13px;
  border-bottom: 1px solid #e3e3e3;

  .filter-input {
    display: flex;
    flex: 1;
    .ik-label {
      margin: 0 7px 0 0;
    }

    .ik-input {
      font-size: 14px;
      flex: 1;
      border: none;
      box-shadow: none;
      margin: 0;
      height: 19px;
      line-height: 19px;
      padding: 0;

      &::placeholder {
        font-size: 14px;
        line-height: 19px;
        color: #c1c1c1;
      }
    }
  }

  .filter-select {
    width: 20%;
    float: right;
    line-height: 0;
    font-size: 0;
    height: auto;
    border-left: 1px solid #e3e3e3;

    .ik-select {
      border: none;
      padding: 0 0 0 13px;
      height: 19px;
      line-height: 19px;
      box-shadow: none;
      font-size: 14px;
    }

    &:after {
      right: 0;
    }
  }
}

.filter-body {
  padding: 3px 0 0;
}

.filter-result-group-title {
  font-size: 12px;
  line-height: 1.42;
  color: #606068;
  margin: 11px 0 0 11px;
}

.filter-items {
  padding: 10px 0 0;
}

.filter-item {
  padding: 0 20px;
  display: flex;
  height: 26px;
  line-height: 26px;
  cursor: pointer;
  
  &:hover {
    background-color: #E6E7F5;
  }
}

.filter-item-text {
  padding: 0 14px;
  line-height: 26px;
  font-size: 13px;
  color: rgba(41,46,52,0.32);

  .ik-label {
    font-family: $primarySemiBoldFont;
    font-size: 13px;
    line-height: 26px;
    margin-right: 3px;
  }
}

.filter-item-img {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-right: 10px;
  background: #333;
  margin-top: 3px;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.filter-item-info {
  font-size: 14px;
  line-height: 26px;
  color: #424354;
  margin: 0;
}

/*======================== Member item ======================*/

.member-item {
  height: 60px;
  border-bottom: 1px solid #dedede;
  padding-left: 73px;
  position: relative;
  cursor: pointer;

  .member-avt {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    max-width: 42px;
    max-height: 42px;
    border-radius: 3px;
    overflow: hidden;

  }

  .member-name {
    font-size: 14px;
    font-family: $primaryBoldFont;
    color: #5c5c5c;
    margin: 10px 0 0;
  }

  .member-stt {
    font-size: 12px;
    color: #7f7f7f;
    font-style: italic;
  }

  &:last-child {
    border: none;
  }

  &:hover {
    background: #f2f2f2;
    .member-name {
      color: $primaryColor;
    }
  }

  &:after {
    content: "+invite";
    display: block;
    line-height: 60px;
    color: $primaryColor;
    font-size: 12px;
    font-family: $primaryRegularFont;
    position: absolute;
    top: 0;
    right: 16px;
  }
}

/*======================= Meni profile======================*/
.profile-parent {
  position: relative;
  display: inline-block;
}

.mini-profile {
  position: absolute;
  width: 300px;
  border: 1px solid #DEDEDE;
  border-radius: 3px;
  overflow: hidden;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
  left: 100%;
  top: 100%;
  z-index: 999;

  &.top-right {
    top: 0;
    left: auto;
    right: -10px;
    transform: translateX(100%);
  }

  .top-profile {
    height: 100px;
    overflow: hidden;

    img {
      max-width: 100%;
    }
  }

  .profile-main-info {
    display: flex;
    margin-top: -100px;
    padding: 18px 0 14px;
  }

  .avt-profile {
    width: 69px;
    height: 69px;
    margin: 0 11px 0 17px;
    overflow: hidden;
    border-radius: 100%;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .profile-info-group {
    flex: 1;
  }

  .profile-main-info-title {
    font-size: 15px;
    line-height: 1.33;
    font-family: $primaryBoldFont;
    color: $white;
    margin-bottom: 0;
  }

  .profile-main-info-sub-content,
  .profile-main-info-content {
    font-size: 12px;
    line-height: 1.42;
    margin-bottom: 0;
    color: $white;

  }

  .profile-main-info-sub-content {
    font-style: italic;
  }
  .profile-sub-info {
    padding: 16px 10px 20px 13px;

    .ik-input {
      height: 40px;
      border: 1px solid #E0E0E0;
      border-radius: 3px;
      margin: 0;
      color: $grey-3;

      &:focus {
        box-shadow: none;
        border: 1px solid #E0E0E0;
      }

      &::placeholder {
        font-size: 14px;
        font-style: italic;
        color: #E0E0E0;
      }
    }
  }
  .profile-sub-info-items {
    padding: 0 0 10px 4px;
  }
  .profile-sub-info-item {
    margin-bottom: 6px;
    color: $grey-1;
    font-size: 15px;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
  }
}

.right-mini-profile {
  position: relative;
  //  left: 0;
  //  top: 0;
  transform: translate(-102%, -22%);
}

.mini-profile-email {
  position: fixed;
  left: 250px;
  top: 94px;
}

/*======================= Menu sidebar ======================*/

.menu-sidebar-wrapper {
  width: 240px;
  margin-top: 32px;

  .ik-input {
    border-right: none;
  }
}

.menu-sidebar-title {
  font-family: $primaryBoldFont;
  font-size: 15px;
  color: #bdbdbd;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: -0.1px;
}

.menu-sidebar-group {
  padding: 14px 0 16px;
  border-top: 1px solid #c4c8cf;

  &:first-child {
    border: none;
  }

  &.offset-left a {
    padding-left: 10px;
  }
}

.menu-sidebar-item {
  font-size: 15px;
  background: transparent;
  transition: $fast;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow: hidden;
  letter-spacing: -0.1px;

  &.isnot-link, a {
    line-height: 40px;
    color: #4f4f4f;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize;
    text-overflow: ellipsis;
    display: flex;

    .menu-sidebar-icon {
      background: #828282;
      margin: 5px 13px;
    }

    .menu-sidebar-item-content {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex: 1;
    }

    &.dangerous {
      color: $dangerousColor;
      .menu-sidebar-icon {
        background: $dangerousColor;
      }
    }

    &:hover {
      background-color: #3441cf;
      color: $white;

      .menu-sidebar-icon {
        background: $white;
      }
    }
  }

  &.current {
    &.isnot-link, a {
      background-color: #3441cf;
      color: $white;

      .menu-sidebar-icon {
        background: $white;
      }
    }
  }
}

.menu-sidebar-icon {
  margin: 0 13px -8px -40px;
}

/*======================== Navbar ======================*/
.multiselect-box {
  padding-bottom: 22px;
  border-bottom: 1px solid #e0e0e0;
}

.multiselect-box-header-wrapper {
  margin-bottom: 16px;
}

.multiselect-box-header {
  font-family: $primaryBoldFont;
  font-size: 15px;
  line-height: 1;
  color: #5a5a5a;
  margin-bottom: 3px;
}

.sub-multiselect-box-header {
  font-family: $primarySemiBoldFont;
  font-size: 13px;
  line-height: 1;
  color: #c1c1c1;
  margin-bottom: 0;
}

.multiselect-box-body {
  display: flex;
}

/*======================== Navbar ======================*/
.list-icon-inline {
  display: inline-block;
  padding-left: 22px;
  flex: 1;

  .icon-item {
    font-family: $primarySemiBoldFont;
    font-size: 12px;
    line-height: 18px;
    display: inline-block;
    margin-left: 20px;

    .ik {
      width: 18px;
      height: 18px;
      float: left;
      margin-right: 6px;
    }

    &.safe {
      color: $safeColor;

      .ik {
        background: $safeColor;
      }
    }

    &.private {
      color: $privateColor;

      .ik {
        background: $privateColor;
      }
    }

    &.normal {
      color: $normalColor;

      .ik {
        background: $normalColor;
      }
    }
  }
}

/*======================== Navbar ======================*/
.ik-navbar {
  height: 85px;
  padding: 0 60px;
  background: $white;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.05);

  .user {
    padding: 16px 0 18px 0;
  }

  .ik-button-backchat {
    margin: 21px 0 24px
  }
}

/*======================== Number notification ====================*/

.num-noti {
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  background-color: #ed7274;
  font-size: 12px;
  font-family: $primaryBoldFont;
  color: $white;
  line-height: 20px;
  border-radius: 100%;

}

/*======================== Online status ====================*/
.user-avt {
  position: relative;
}

.online-status {
  font-size: 13px;
  background: $onlColor;
  position: absolute;
  right: 2px;
  bottom: 4px;
  font-family: $primarySemiBoldFont;
  letter-spacing: -0.3px;
  width: 14px;
  height: 14px;
  display: inline-block;
  border-radius: 100%;
  overflow: hidden;
  border: 1px solid $white;

  &.offline {
    background-color: $offColor;
  }

  &-sm {
    bottom: -2px;

    &:before {
      width: 12px;
      height: 12px;
    }
  }
}

/*======================== Profile ====================*/
.profile-picture-wrapper {
  margin-right: 40px;
  text-align: center;

  .ik-button {
    font-family: $primaryBoldFont;
    margin: 15px 0;
    height: 44px;
    line-height: 42px;
  }
}

.profile-picture-title {
  font-family: $primaryBoldFont;
  font-size: 15px;
  color: #5a5a5a;
  text-transform: capitalize;
  margin-bottom: 26px;
  text-align: center;
  letter-spacing: -0.1px;
}

.profile-picture-img {
  overflow: hidden;
  margin: 0 0 20px;
  width: 225px;
  height: 225px;
  text-align: center;
  vertical-align: middle;
  border-radius: 100%;
  position: relative;

  img {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.profile-info {
  padding-bottom: 70px;
}

.accept-button {
  float: right;
  margin-top: 30px;
  text-transform: capitalize;

  &:hover {
    box-shadow: inset 0 1px 1px rgba($primaryColor, 0.175), 0 0 8px rgba($primaryColor, 0.8);
  }
}

/*======================== Separator====================*/
.has-vertical-separator {
  &:after {
    content: '|';
    color: #989898;
    font-style: normal;
    margin-left: 5px;
  }
}

/*======================== Small scrollbar ====================*/
.small-scroll-bar {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 8px;
    transition: $fast;
  }
}

/*======================== React ====================*/
.reactions {
  margin: 0 -5px 0 9px;
  float: left;
}

.reaction-icon {
  display: inline-block;
  margin-left: -11px;
  width: 22px;
  height: 22px;

  &.has-tooltip.top {
    .ik-tooltip {
      transform: translate(-10%, -100%);
      padding: 5px 10px 5px 7px;
    }
  }

}

.total-reaction {
  font-size: 13px;
  color: #919191;
  margin-left: 5px;
}

/*======================== Tags ====================*/

.tag {
  padding: 0 10px;
  line-height: 25px;
  height: 25px;
  position: relative;
  background: $primaryColor;
  color: $white;
  display: inline-block;
  border-radius: 20px;
  font-size: 13px;
  white-space: nowrap;

  //img {
  //  max-width: 20px;
  //  max-height: 20px;
  //  position: absolute;
  //  top: 50%;
  //  transform: translateY(-50%);
  //  left: 15px;
  //  border-radius: 3px;
  //}

  &-invert {
    background: #ecf0f1;
    color: $primaryColor;
  }
}

.tag-style-2 {
  font-family: $primarySemiBoldFont;
  font-size: 14px;
  line-height: 25px;
  height: 25px;
  color: #808080;
  border-radius: 100px;
  background-color: #F1F2F9;
  padding: 0 10px 0 14px;
  margin: 0 3px;

  &:after {
    display: inline-block;
    mask-size: 100%;
    -webkit-mask-size: 100%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: 50% 50%;
    -webkit-mask-position: 50% 50%;
    content: "";
    width: 13px;
    height: 13px;
    background: #808080;
    mask-image: url(assets/images/ik_icon/ik_close.svg);
    -webkit-mask-image: url(assets/images/ik_icon/ik_close.svg);
    float: right;
    margin: 6px 0 0 5px;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }


  &.private {
    background: $privateColor;
    color: $white;

    &:after {
      background: $white;
    }
  }

}

.remove {
  cursor: pointer;
}

/*====================== Tabs =====================*/

.ik-nav-tabs {
  padding-left: 8px;

  li {
    padding: 0 8px;

    a {
      font-family: $primaryBoldFont;
      font-size: 15px;
      color: #c1c1c1;
      position: relative;
      padding: 0;
      background: none;
      border: none;
      border-bottom: 3px solid transparent;
      padding-bottom: 2px;
      top: 1px;
    }

    &.active, &:hover {
      a {
        color: $primaryColor;
        border-bottom-color: $primaryColor;
      }
    }
  }

  &.dropbox {

    li a {
      font-family: $primaryRegularFont;
      border: none;
      font-size: 13px;
      line-height: 28px;
      color: #4f4f4f;
      display: block;
    }
    &.active, &:hover {
      a {
        color: #c1c1c1;
      }
    }
  }
}

.ik-tab-content {
  padding: 0 15px;
}

.ik-tab-content-header {
  padding: 17px 0;
  border-bottom: 1px solid #d7d7d7;
}

.ik-tab-content-body {
  padding-bottom: 16px;
}

/*====================== Tags =====================*/

.tags-group {
  padding: 0;
  position: relative;

  .selected-tags {
    width: 100%;
    border: 1px solid #dedede;
    border-radius: 3px;
    padding: 6px 3px;
  }

  .selected-tag-search-field {
    width: 5px;
    border: none;
    line-height: 30px;
    height: 30px;
    margin: 0;

    &:focus {
      box-shadow: none;
    }
  }

  // Suggested member
  .dropdown-menu {
    width: 100%;
    border: 1px solid #dedede;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    max-height: 146px;
    overflow: auto;
    box-shadow: none;
    margin-top: -1px;
  }
}

/*======================== Tooltip ====================*/
/*======================== Tooltip ====================*/
.has-tooltip {
  position: relative;

  &:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #33333c;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
  }

  .ik-tooltip {
    position: absolute;
    z-index: 9;
    width: auto;
    background: #33333c;
    padding: 2px 5px 4px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 11px;
    color: $white;
    letter-spacing: -0.1px;
    white-space: nowrap;
    top: 50%;
    right: 1px;
    transform: translate(100%, -50%);
    border: none;
    display: block;
    line-height: 1.54;
    transition: all 0.2s ease-in-out;

    ul {
      max-width: 150px;

      li span {
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.1px;
        color: rgba($white, 0.93);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .tooltip-title {
    font-family: $primaryBoldFont;
    font-size: 13px;
    color: rgba($white, 0.93);
    letter-spacing: -0.1px;
    margin-bottom: 2px;
  }

  &.top {
    &:after,
    .ik-tooltip {
      top: -5px;
      left: 50%;
      right: auto;
      transform: translateX(-50%);
      transition: all 0.2s ease-in-out;
    }

    &:after {
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 6px solid #33333c;
    }

    .ik-tooltip {
      transform: translate(-50%, -100%);
    }
  }

  &.bottom {
    &:after,
    .ik-tooltip {
      bottom: auto;
      top: 115%;
      left: 50%;
      right: auto;
      transform: translateX(-50%);
    }

    &:after {
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #33333c;
      top: 90%;
    }

    .ik-tooltip {
      transform: translate(-50%, 5px);
    }
  }

  &:hover {
    &:after,
    .ik-tooltip {
      opacity: 1;
      visibility: visible;
    }
  }
}

/*======================== Tooltip ====================*/
.user-name {
  &:hover {
    text-decoration: underline;
  }
}

/*===========================================================
RESPONSIVE
 ============================================================*/

@include for-size($desktop-large) {
  .dropbox {
    padding: 10px 0;

    .dropbox-item {
      font-size: 14px;
      line-height: 26px;
    }
  }

  .dropbox-group-item {
    padding: 6px 0 8px;
  }
}

@include for-size($tablet-landscape) {
  /*======================== Navbar ====================*/
  .ik-navbar {
    .user {
      //width: 70%;
    }
  }
}

@include for-size($tablet-landscape) {
  /*======================== Menu sidebar ====================*/
  .menu-sidebar-item.curent {
    border-right: 1px solid $borderColor-1;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}