@import 'variables';

/*=================== General =================*/
.ik-form-group {
  display: inline-block;
  width: 100%;
  margin-bottom: 26px;
  font-size: 0;
  line-height: 0;

  &-md {
    width: 50%;
  }
  &-sm {
    width: 48%;
  }

  // margin
  &.ik-form-group-marbt-sm {
    margin-bottom: 15px;
  }

  &-icon-inside-right {
    position: relative;

    .ik {
      position: absolute;
      width: 24px;
      height: 24px;
      background-color: $grey-5;
      top: 50%;
      left: auto;
      right: 8px;
      transform: translateY(-50%);
    }
  }
}

.ik-form-group-child-extend {
  font-size: 13px;
}

.ik-form-group-inline {
  .ik-label {
    margin: 0 24px 0 0;
    line-height: 40px;
    display: inline-block;
    white-space: nowrap;
  }
}

.ik-form-group-addon-right {
  position: relative;

  button {
    width: 72px;
    height: 40px;
    position: absolute;
    right: 14px;
    bottom: 5px;
    z-index: 1;
    font-size: 14px;
  }
}

.ik-form-group-inline-flex {
  display: flex;

  .ik-input, .ik-select {
    flex: 1;
  }
}

.ik-input, .ik-select, .ik-textarea, .ik-fake-input {
  font-size: 15px;
  line-height: 40px;
  padding: 0 10px;
  height: 40px;
  margin: 0 0 6px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #e0e0e0;
  box-shadow: none;
  letter-spacing: -0.1px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

  &:focus {
    outline: none;
    border-color: $primaryColor;
    box-shadow: inset 0 1px 1px rgba($primaryColor, 0.075), 0 0 8px rgba($primaryColor, 0.6);
  }

  &::placeholder {
    color: #5c5c5c;
    font-size: 16px;
  }

  &-default {
    background: $white;
    font-size: 15px;
    color: #5c5c5c;
  }

  &-disabled {
    background: #f7f7f7;
    color: rgba($grey-4, 0.54);
  }

  &.dangerous {
    border-color: #ed0404;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(#ed0404, 0.6);
  }

  &-line {
    border: none;
    border-bottom: 1px solid #efefef;

    &:focus {
      border-color: #efefef;
      box-shadow: none;
    }
  }

  // Background color
  &-light-grey {
    background: $grey-6;
  }

  // Size

  &-sm {
    height: 30px;
    line-height: 28px;
  }

  &-xs {
    height: 22px;
    line-height: 20px;
  }

  &-font-size-lg {
    font-family: 'Lato-Regular', sans-serif;
    font-size: 27px;
    line-height: 100;
  }

  // Width
  &-fix-width-1 {
    width: 70px;
  }

  &.placeholder-italic {
    &::placeholder {
      font-style: italic;
    }
  }

  &-font-size-sm {
    font-size: 13px;

    &::placeholder {
      font-size: 13px;
    }
  }
}

/*======================== Text area =======================*/
.ik-textarea {
  font-family: $primaryRegularFont;
  padding: 17px 22px;
  height: 121px;
  line-height: 1.375;

  &::placeholder {
    color: #bdbdbd;;
  }
}

.ik-radio-wrapper {
  position: relative;
  padding-left: 25px;
  label {

    &:before, &:after {
      content: "";
      position: absolute;
      display: inline-block;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border-radius: 100%;
    }

    &:before {
      border: 1px solid #969696;
    }
    &:after {
      background: $linkColor;
      display: none;
      transform: scale(0.4);
    }
  }
  input {
    display: none;
    &:checked + label {
      &:before {
        border-color: $linkColor;
      }

      &:after {
        display: inline-block;
      }
    }
  }

  &-inline {
    display: inline-block;
  }
}

/*====================== Select ======================*/
.ik-selectadon-input {
  position: relative;
  select, input {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
  select {
    z-index: 2;
  }
  input {
    width: 100%;
  }
}

.ik-select-wrapper {
  position: relative;
  height: 40px;
  select {
    margin-bottom: 0;
  }
  &:after {
    content: '';
    background: url('assets/images/account/icon_angle_down_8x7.png') no-repeat center;
    width: 8px;
    height: 7px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
  }

  &-fix-width {
    width: 94px;
  }

  &-sm {
    height: 30px;
  }

  &-xs {
    height: 22px;
  }
}

/*======================= Search ======================*/
.ik-search-form-group {
  display: flex;
  position: relative;
  font-size: 14px;
  font-family: $primaryLightFont;

  input[type=search] {
    flex: 1;
    border-color: #dfe0e8;
    height: 42px;

    &:focus {
      border-color: $primaryColor;
      box-shadow: inset 0 1px 1px rgba($primaryColor, 0.075), 0 0 8px rgba($primaryColor, 0.6);

    }
  }

  .ik-search-right-button {
    margin: 9px 5px 0 5px;
    background: transparent;
  }

  .ik-search-right-button-icon {
    fill: #CACBD6;
  }

  &-offset-sm {
    padding: 0 12px;
  }
  /*============== Other style ==================*/
  &-light-grey {
    padding: 0 10px;

    input[type=search] {
      height: 38px;
      line-height: 38px;
      border: solid 1px #ced0d6;
      color: #15194a;
      background: transparent;
      font-size: 14px;

      &.icon-inside::placeholder {
        color: rgba(93, 123, 151, 0.6);
        font-size: 14px;
        text-align: center;
        font-family: Linearicons-Free;
      }

      &:focus {
        border-color: #ced0d6;
        box-shadow: none;
      }
    }
  }

  &.button-inside-right {
    button {
      position: absolute;
      top: 0;
      right: 0;
      background: transparent;
      border: none;
      height: 40px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;

      .ik {
        width: 20px;
        height: 20px;
        margin-top: 5px;
        padding: 0 12px;
        background: #5a5a5a;
      }
    }
  }

}

.ik-input-wrapper-sm.ik-search-form-group {
  &.button-inside-right {
    button {
      height: 30px;
    }
  }
}

.ik-search-form-group-fixstyle-1 {
  width: 282px;
  float: right;

  .ik-input {
    margin: 0;
    font-size: 13px;

    &::placeholder {
      font-family: $primaryRegularFont;
      font-size: 13px;
      color: #929292;
      font-style: italic;
    }
  }
}

/*======================= Label ==========================*/
.ik-label,
.ik-other-signin-title {
  font-family: $primaryRegularFont;
  font-weight: normal ;
  font-size: 15px;
  line-height: 1;
  color: #5a5a5a;
  text-transform: capitalize;
  display: block;
  letter-spacing: -0.1px;

  &.no-transform {
    text-transform: none;
  }

  &-inline {
    display: inline-block;
  }
}

.ik-label {
  margin-bottom: 5px;

  &-sm {
    font-size: 13px;
  }

  &-semibold {
    font-family: $primarySemiBoldFont;
  }
}

.ik-problem-pass {
  font-size: 14px;
  color: $primaryColor;
  float: right;

  &:hover {
    color: $primaryColor;
  }
}

/*========================== Input note ====================*/
.ik-input-note {
  font-size: 14px;
  line-height: 1;
  margin: 0;
  color: #bdbdbd;
}

.ik-input-note-dangerous {
  color: $dangerousColor;
  font-style: italic;
}

.required:after {
  content: '*';
  color: $dangerousColor;
  display: inline-block;
  position: relative;
  top: -3px;
}

/*========================== Notification box ====================*/

.boxes-noti {
  padding-bottom: 33px;

  &-block {
    padding: 6px 15px 0 15px;
  }
}

.boxes-noti-pad-1 {
  padding-bottom: 30px;
}

.box-noti-group {
  padding: 16px 0;
  cursor: pointer;

  .box-noti-radio {
    padding: 0;
  }
}

.boxes-noti-title {
  padding: 16px 0 5px;
  font-family: $primarySemiBoldFont;
  font-size: 14px;
  line-height: 1;
  color: $grey-7;
  margin-bottom: 0;
}

.box-noti-switch {
  padding: 16px 7px;

  .ik-label {
    font-family: $primarySemiBoldFont;
    font-size: 14px;
    line-height: 1;
    color: $grey-7;
    margin-bottom: 0;

    .hightlight {
      font-family: $primaryBoldFont;
      color: $grey-7;
    }
  }

  .switch {
    float: right;
    margin-top: 2px;
  }

  &.no-pad-top {
    padding-top: 0;
  }

  &-block {
    padding: 15px;
  }
}

.box-noti-radio {
  padding: 20px 0 2px;

  .radio, .ik-label, .ik-form-group, span {
    float: left;
    margin: 0 15px 0 0;
  }

  .ik-label {
    font-family: $primarySemiBoldFont;
    font-size: 14px;
    color: #939393;
    line-height: 22px;
  }

  .ik-label-sm {
    font-size: 13px;
  }

  .ik-select {
    font-family: $primaryBoldFont;
    color: #555555;
    font-size: 14px;
  }

  .radio + .ik-label {
    margin: 0;
  }

  .ik-label + .ik-form-group {
    margin-left: 15px;
  }
}

.box-checkbox {
  margin-bottom: 8px;
  padding: 7px 12px;

  .ik-label {
    font-family: $primarySemiBoldFont;
    font-size: 14px;
    display: inline-block;
    float: left;
    margin-bottom: 0;
  }
}

.box-to-check {
  width: 20px;
  height: 20px;
  background-color: #fafafb;
  border: solid 1px #c4c8cf;
  position: relative;
  float: left;
  margin-right: 16px;
  margin-bottom: 0;
  cursor: pointer;
  overflow: hidden;

  padding: 1px;
  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox]:checked + .checked {
    background: $primaryColor;

    &:before {
      background: $white;
    }
  }

  .checked {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: none;
    z-index: 9;
    cursor: pointer;
    margin: 0;

    &:before {
      content: '';
      display: inline-block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      mask-image: url(assets/images/ikicon/wk_check_fill.svg);
      -webkit-mask-image: url(assets/images/ikicon/wk_check_fill.svg);
      mask-size: 100%;
      -webkit-mask-size: 100%;
    }
  }
}

.box-noti-checkbox {
  height: 36px;
  line-height: 20px;
  border: 1px solid #c4c8cf;
  border-radius: 3px;
  background: #fafafb;

  &-checked {
    background: $primaryColor;
    border: $primaryColor;
    .ik-label {
      color: $white;
    }

    .box-to-check {
      background: $white;
    }
  }

}

.noti-accept-button {
  width: 150px;
  float: right;
  margin-top: 14px;
}