@import 'variables';
//Align
.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-middle {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

// background
.bg-blue-grey {
  background-color: $grey-6;
}

.bg-white {
  background: $white;
}

.light-grey-bg {
  background: #f2f4f8;
}

/*============== full height ==================*/
.full-height {
  height: 100%;
}

//flex
.flex {
  flex: 1;
}

// cursor
.cursor-pointer {
  cursor: pointer;
}

/* Display
================================================== */
.inline {
  display: inline-block;
  width: auto;
}

/* Float
================================================== */
.left {
  float: left;
}

.right {
  float: right;
}

/* Hightlight
================================================== */
.highlight {
  color: $primaryColor;
  font-family: $primaryBoldFont;
  margin-right: 3px;
  &:hover {
    color: $primaryColor;
  }
}

.darkhighlight {
  color: #1b1b1b;
  font-family: $primaryBoldFont;
  margin-right: 3px;
  &:hover {
    color: #1b1b1b
  }
}

/* padding
================================================== */
.no-pad {
  padding: 0;
}

/* Margin
================================================== */

.mar {
  &-bt-sm {
    margin-bottom: 20px;
  }

  &-top-xs {
    margin-top: 10px;
  }

  &-top-sm {
    margin-top: 20px;
  }
}

/* Visibility
================================================== */
.ik-hidden {
  line-height: 0;
  overflow: hidden;
  margin: 0;
  &:before, &:after {
    display: inline;
  }
}

.invisible {
  visibility: hidden;
}

/*Overflow
================================================== */
.overflow-hidden {
  overflow: hidden;
}

/*Position
================================================== */
.position-right {
  left: auto;
  right: 0;
}

/* Float
================================================== */
.float-left {
  float: left;
}

.float-right {
  float: right;
}

/* Wrappers
================================================== */
.row-flex {
  display: flex;
}

.row-flex-vertical {
  display: flex;
  flex-direction: column;
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  &.canvas {
    padding: 0;
  }

  &.inset-sm {
    padding: 0 85px;
  }

  &.no-pad-right {
    padding-right: 0;
  }
}

.ik-col {
  padding: 0 16px;
  float: left;
}

.ik-col-xs {
  padding: 0 8px;
  float: left;
}

.ik-row {
  margin: 0 -16px;
}

.ik-row-xs {
  margin: 0 -8px;
}

.ik-flex-base-half {
  flex-basis: 50%;
}

/*========================== Line ===================*/
.line-bottom-dark {
  border-bottom: 1px solid #c4c8cf;
}

.line-bottom-light {
  border-bottom: 1px solid #e1e1e1;
}

/*========================== font style ===================*/
.italic {
  font-style: italic;
}

.no-italic {
  font-style: normal;
}


