.ik {
  width: 24px;
  height: 24px;
  display: inline-block;
  background: #888991;
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: 50% 50%;
  -webkit-mask-position: 50% 50%;
}

.ik-add {
  mask-image: url(assets/images/ikicon/wk_add.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_add.svg);
}

.ik-all-files {
  mask-image: url(assets/images/ikicon/wk_all_files.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_all_files.svg);
}

.ik-all-files {
  mask-image: url(assets/images/ikicon/wk_all_files.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_all_files.svg);
}

.ik-attack {
  mask-image: url(assets/images/ikicon/wk_attack.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_attack.svg);
}

.ik-arrow-down {
  mask-image: url(assets/images/ikicon/wk_arrow_down.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_arrow_down.svg);
}

.ik-arrow-left {
  mask-image: url(assets/images/ikicon/wk_arrow_left.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_arrow_left.svg);
}

.ik-arrow-right {
  mask-image: url(assets/images/ikicon/wk_arrow_right.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_arrow_right.svg);
}

.ik-arrow-up {
  mask-image: url(assets/images/ikicon/wk_arrow_up.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_arrow_up.svg);
}

.ik-backward-o {
  mask-image: url(assets/images/ikicon/wk_backward_o.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_backward_o.svg);
}

.ik-bell {
  mask-image: url(assets/images/ikicon/wk_bell.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_bell.svg);
}

.ik-bell-fill {
  mask-image: url(assets/images/ikicon/wk_bell_fill.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_bell_fill.svg);
}

.ik-bookmark {
  mask-image: url(assets/images/ikicon/wk_bookmark.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_bookmark.svg);
}

.ik-bookmark-o {
  mask-image: url(assets/images/ikicon/wk_bookmark_o.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_bookmark_o.svg);
}

.ik-connect {
  mask-image: url(assets/images/ikicon/wk_connect.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_connect.svg);
}

.ik-caret-down-rec {
  mask-image: url(assets/images/ikicon/wk_caret_down_rec.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_caret_down_rec.svg);
}

.ik-chat-circle-o {
  mask-image: url(assets/images/ikicon/wk_chat_circle_o.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_chat_circle_o.svg);
}

.ik-chat-rectangle {
  mask-image: url(assets/images/ikicon/wk_chat_rectangle.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_chat_rectangle.svg);
}

.ik-check {
  mask-image: url(assets/images/ikicon/wk_check.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_check.svg);
}

.ik-check-2 {
  mask-image: url(assets/images/ikicon/wk_check_2.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_check_2.svg);
}

.ik-check-fill {
  mask-image: url(assets/images/ikicon/wk_check_fill.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_check_fill.svg);
}

.ik-close {
  mask-image: url(assets/images/ikicon/wk_close.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_close.svg);
}


.ik-collapse{
  mask-image: url(assets/images/ikicon/wk_collapse.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_collapse.svg);
}

.ik-docx {
  mask-image: url(assets/images/ikicon/wk_docx.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_docx.svg);
}

.ik-download {
  mask-image: url(assets/images/ikicon/wk_download.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_download.svg);
}

.ik-edit {
  mask-image: url(assets/images/ikicon/wk_edit.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_edit.svg);
}

.ik-email {
  mask-image: url(assets/images/ikicon/wk_email.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_email.svg);
}

.ik-eye {
  mask-image: url(assets/images/ikicon/wk_eye.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_eye.svg);
}

.ik-email-setting {
  mask-image: url(assets/images/ikicon/wk_email_setting.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_email_setting.svg);
}

.ik-email-o {
  mask-image: url(assets/images/ikicon/wk_email_o.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_email_o.svg);
}


.ik-expand {
  mask-image: url(assets/images/ikicon/wk_expand.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_expand.svg);
}

.ik-filter {
  mask-image: url(assets/images/ikicon/wk_filter.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_filter.svg);
}

.ik-folder {
  mask-image: url(assets/images/ikicon/wk_folder.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_folder.svg);
}

.ik-foward {
  mask-image: url(assets/images/ikicon/wk_foward.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_foward.svg);
}

.ik-foward-o {
  mask-image: url(assets/images/ikicon/wk_foward_o.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_foward_o.svg);
}

.ik-foward-2 {
  mask-image: url(assets/images/ikicon/wk_foward_2.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_foward_2.svg);
}


.ik-garbage {
  mask-image: url(assets/images/ikicon/wk_garbage.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_garbage.svg);
}

.ik-gear {
  mask-image: url(assets/images/ikicon/wk_gear.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_gear.svg);
}


.ik-gear-bold {
  mask-image: url(assets/images/ikicon/wk_gear_bold.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_gear_bold.svg);
}

.ik-globe {
  mask-image: url(assets/images/ikicon/wk_globe.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_globe.svg);
}

.ik-go {
  mask-image: url(assets/images/ikicon/wk_go.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_go.svg);
}

.ik-group {
  mask-image: url(assets/images/ikicon/wk_group.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_group.svg);
}

.ik-group-fill {
  mask-image: url(assets/images/ikicon/wk_group_fill.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_group_fill.svg);
}

.ik-home {
  mask-image: url(assets/images/ikicon/wk_home.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_home.svg);
}

.ik-info {
  mask-image: url(assets/images/ikicon/wk_info.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_info.svg);
}

.ik-info-o {
  mask-image: url(assets/images/ikicon/wk_info_o.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_info_o.svg);
}

.ik-join {
  mask-image: url(assets/images/ikicon/wk_join.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_join.svg);
}

.ik-jpg {
  mask-image: url(assets/images/ikicon/wk_jpg.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_jpg.svg);
}

.ik-more {
  mask-image: url(assets/images/ikicon/wk_more.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_more.svg);
}

.ik-more-vertical {
  mask-image: url(assets/images/ikicon/wk_more_vertical.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_more_vertical.svg);
}

.ik-mp3 {
  mask-image: url(assets/images/ikicon/wk_mp3.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_mp3.svg);
}

.ik-mp4 {
  mask-image: url(assets/images/ikicon/wk_mp4.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_mp4.svg);
}

.ik-layer-o {
  mask-image: url(assets/images/ikicon/wk_layer_o.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_layer_o.svg);
}

.ik-list {
  mask-image: url(assets/images/ikicon/wk_list.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_list.svg);
}

.ik-list-three {
  mask-image: url(assets/images/ikicon/wk_list_three.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_list_three.svg);
}

.ik-lock {
  mask-image: url(assets/images/ikicon/wk_lock.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_lock.svg);
}

.ik-lock-fill {
  mask-image: url(assets/images/ikicon/wk_lock_fill.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_lock_fill.svg);
}

.ik-out {
  mask-image: url(assets/images/ikicon/wk_out.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_out.svg);
}

.ik-pdf {
  mask-image: url(assets/images/ikicon/wk_pdf.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_pdf.svg);
}

.ik-ppt {
  mask-image: url(assets/images/ikicon/wk_ppt.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_ppt.svg);
}

.ik-plus-circle {
  mask-image: url(assets/images/ikicon/wk_plus_circle.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_plus_circle.svg);
}

.ik-profile {
  mask-image: url(assets/images/ikicon/wk_profile.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_profile.svg);
}

.ik-rar {
  mask-image: url(assets/images/ikicon/wk_rar.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_rar.svg);
}

.ik-search {
  mask-image: url(assets/images/ikicon/wk_search.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_search.svg);
}

.ik-search-bold {
  mask-image: url(assets/images/ikicon/wk_search_bold.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_search_bold.svg);
}

.ik-shield {
  mask-image: url(assets/images/ikicon/wk_shield.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_shield.svg);
}

.ik-smile {
  mask-image: url(assets/images/ikicon/wk_smile.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_smile.svg);
}

.ik-star {
  mask-image: url(assets/images/ikicon/wk_star.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_star.svg);
}

.ik-star-o {
  mask-image: url(assets/images/ikicon/wk_star_o.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_star_o.svg);
}

.ik-two-people-plus {
  mask-image: url(assets/images/ikicon/wk_two_people_plus.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_two_people_plus.svg);
}

.ik-three-people-plus {
  mask-image: url(assets/images/ikicon/wk_three_people_plus.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_three_people_plus.svg);
}

.ik-txt {
  mask-image: url(assets/images/ikicon/wk_txt.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_txt.svg);
}

.ik-uncheck-2 {
  mask-image: url(assets/images/ikicon/wk_uncheck_2.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_uncheck_2.svg);
}

.ik-unlock {
  mask-image: url(assets/images/ikicon/wk_unlock.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_unlock.svg);
}

.ik-user {
  mask-image: url(assets/images/ikicon/wk_user.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_user.svg);
}

.ik-users {
  mask-image: url(assets/images/ikicon/wk_users.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_users.svg);
}

.ik-users-fill {
  mask-image: url(assets/images/ikicon/wk_user_fill.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_user_fill.svg);
}

.ik-xls {
  mask-image: url(assets/images/ikicon/wk_xls.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_xls.svg);
}

.ik-xlsx {
  mask-image: url(assets/images/ikicon/wk_xlsx.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_xlsx.svg);
}

.ik-xml {
  mask-image: url(assets/images/ikicon/wk_xml.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_xml.svg);
}

.ik-7zip {
  mask-image: url(assets/images/ikicon/wk_7zip.svg);
  -webkit-mask-image: url(assets/images/ikicon/wk_7zip.svg);
}

/*============================== Reaction =============*/
.ik-reaction {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}

.ik-happy {
  background-image: url(assets/images/ikicon/wk_happy.svg);
  -webkit-background-image: url(assets/images/ikicon/wk_happy.svg);
}

.ik-love {
  background-image: url(assets/images/ikicon/wk_love.svg);
  -webkit-background-image: url(assets/images/ikicon/wk_love.svg);
}