@import 'variables';
@import 'mixins';

/*====================================================
Modal
 ====================================================*/

  /*====================== Modal close======================*/
.close.cricle-close {
  width: 30px;
  height: 30px;
  background: #cccccc;
  padding: 0;
  text-align: center;
  border-radius: 100%;
}

.ik-modal {
  overflow: hidden;
  background: rgba($primaryColor, 0.04);

  .modal-dialog {
    width: auto;
    height: 100%;
    overflow-y: scroll;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $white;

  }

  .modal-content {
    border: none;
    box-shadow: none;
    overflow: hidden;
    background: none;
    min-height: 100%;
  }

  .modal-title {
    font-family: $primaryBoldFont;
  }

  .modal-header, .modal-footer {
    padding: 15px 0;
  }

  .modal-header {
    border: none;

    .section-title {
      color: #242424;
      margin: 0;

      .breadcrumb {
        background: none;
        padding: 0;
        color: $primaryColor;
        &:after {
          content: '\f105';
          font-family: FontAwesome;
          font-size: 15px;
          display: inline-block;
          margin: 0 10px;
          color: $primaryColor;
        }
      }
    }
  }

  .modal-footer {

    &.modal-fixed {
      position: absolute;
      text-align: center;
      bottom: 0;
      width: 100%;
      background: $white;
    }

    .ik-button {
      font-family: $primarySemiBoldFont;
      height: 40px;
      line-height: 40px;
      margin-left: 25px;
      font-size: 12px;
      text-transform: uppercase;
    }
  }

  .close {
    opacity: 1;

    input {
      mask-image: url(assets/images/ik_icon/wk_close.svg);
      -webkit-mask-image: url(assets/images/wk_icon/ik_close.svg);
      width: 26px;
      height: 26px;
      background: $white;
      border: none;
      padding: 0;
      margin-top: 2px
    }
  }
}

.ik-modal-xs {
  background: rgba($primaryColor, 0.04);
  .modal-dialog {
    width: 450px;
    margin: 30px auto;
  }

  .modal-header {
    padding: 18px 0 14px 17px;

  }

  .modal-title {
    font-size: 18px;
    line-height: 1;
    font-family: $primaryBoldFont;
  }

  .manager-item-detail {
    padding: 17px;
    margin-bottom: 16px;
    line-height: 0;
  }
}

.ik-modal-sm {
  background: rgba($primaryColor, 0.04);

  .modal-dialog {

    .modal-content {
      width: 500px;
      padding: 40px 42px 30px;

      .section-title {
        padding: 0;
        margin-bottom: 31px;
        text-transform: uppercase;
      }
    }

    .modal-body {
      padding: 0;
    }
  }

}

.sub-modal-title {
  font-size: 13px;
  line-height: 1;
  color: #d6d6d6;
  margin: 5px 0 0;
}

// Next
.modal.in {

  .prev, .cur, .next {
    transition: 0.8s ease-in-out;
    z-index: -10;

  }

  .prev {
    transform: translateX(-100%);
    opacity: 0;
    overflow: hidden;
  }

  .cur {
    transform: translateX(0);
    opacity: 1;
    z-index: 10;
    overflow-y: auto;

    &.first {
      transition: 0.3s ease-in-out;
    }
  }

  .next {
    transform: translateX(100%);
    opacity: 0;

  }
}

.modal-footer-align-right{
  text-align: right;
  padding: 32px 0 28px;
  border: none;

  .ik-button {
    display: inline-block;
    //width: auto;
  }
  .ik-button-default {
    width: auto;
    &:hover {
      color: #4f4f4f;
    }
  }

  .ik-button-grey {
    font-family: $primaryBoldFont;
  }
  .ik-button-primary {
    padding: 0 20px;
    margin-left: 10px;
  }
}


// Extends bootstrap

.ik-modal-extendsbase {
  background: rgba($primaryColor, 0.04);
  .modal-dialog,
  .modal-content {
    max-height: 100%;
    display: flex;
    flex-direction: column;
  }

  .modal-content {
    flex: 1;
    margin: 20px 0;
    box-shadow: 0 25px 65px rgba(4,111,223,0.5);
    border: none;
    border-radius: 8px;
  }



  .sub-highlight {
    font-size: 13px;
    line-height: 1.38;
    color: $primaryColor;

    .ik {
      width: 15px;
      height: 15px;
      background: $primaryColor;
      float: left;
      margin-right: 2px;
    }
  }
}

// Close button
.ik-modal-close {
  background: none;
  position: absolute;
  top: 15px;
  right: 11px;
  cursor: pointer;

  .ik {
    width: 24px;
    height: 24px;
    background: #4f4f4f;
  }

  &:hover {
    .ik {
      background: #080808;
    }
  }
}

// modal header bg

.ik-modal-header-dark {
  background-color: #7f8c8d;
  border: none;

  .modal-title {
    color: $white;
    text-transform: capitalize;
    margin: 0;
  }
  .ik-modal-close {
    top: 12px;

    .ik-close {
      background: $white;
    }
  }
}

// Other style
.ik-modal-body-sm-padding {
  padding: 0 0 16px;

  .noti-accept-button {
    margin-right: 16px;
  }
}

.ik-modal-md {
  background: rgba($primaryColor, 0.2);

  .ik-modal-close {
    top: 26px;
  }

  .modal-body {
    padding: 0 80px 50px;
    margin-top: 45px;

    .section-title {
      font-size: 20px;
      line-height: 20px;
      padding: 0;
      margin-bottom: 26px;
    }

    .ik-form-group {
      margin-bottom: 8px;

      &:last-child {
        margin: 0;
      }
    }

    .ik-input {
      margin-bottom: 10px;

      &::placeholder {
        font-size: 15px;
        color: #C1C1C7;
        font-family: $primaryRegularFont;
      }
    }

    .full-width-button {
      font-family: $primaryBoldFont;
      width: 100%;
      height: 48px;
      line-height: 48px;
      margin-top: 35px;
    }
  }
}

// Confirm modal
.ik-confirm-modal {
  text-align: center;

  .modal-content {
    box-shadow: 0 25px 65px rgba(4,111,223,0.5);
    border: none;
    padding: 38px 15px 33px 15px;
  }

  .modal-dialog {
    width: 450px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }

  .btn-group {
    margin-top: 30px;
  }

  .ik-button {
    font-family: $primaryBoldFont;
    text-transform: capitalize;
    width: 150px;

    &:first-child {
      margin-right: 16px;
    }
  }

  &-md {

    .modal-dialog {
      width: 600px;
    }

    .ik-confirm-modal-title {
      margin-bottom: 20px;
    }
  }
}

.modal-title {
  color: #4f4f4f;
}

.ik-confirm-modal-title {
  font-family: $primaryBoldFont;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  line-height: 1;
  color: #4f4f4f;
  margin-bottom: 25px;
}

.ik-confirm-modal-des {
  font-style: italic;
  font-size: 13px;
  line-height: 1.23;
  text-align: center;
  color: #7b7b7b;
  margin-bottom: 10px;
}

.ik-confirm-modal-content {
  font-family: $primarySemiBoldFont;
  font-size: 14px;
  text-align: center;
  color: #7b7b7b;
  margin: 0;

  &-dark {
    line-height: 1.5;
    color: #5a5a5a;
  }
}

.ik-modal-middle,
.ik-modal-middle.in{
  .modal-dialog {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    margin: 0;
  }
}


.modal-accept-button {
  float: right;
  width: 150px;
  font-family: $primaryBoldFont;
  margin-top: 25px;
  font-size: 15px;
}
