@import 'variables';
@import 'mixins';

/* Fonts
================================================== */

// Roboto
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url("./../assets/font/Open_Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("./../assets/font/Open_Sans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("./../assets/font/Open_Sans/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("./../assets/font/Open_Sans/OpenSans-Light.ttf");
}

// Lato
@font-face {
  font-family: "Lato-Regular";
  src: url("./../assets/font/Lato/Lato-Regular.ttf");
}

/* #Basic Styles
================================================== */
* {
  letter-spacing: -0.1px;
}

html {
  overflow-x: hidden;
  height: 100%;
}

body {
  font: 14px/1.375 $primaryRegularFont;
  min-height: 100%;
  background: $grey-6;
  padding: 0;
}

application,
account,
profile_settings,
change_password,
joined-labs,
lab-overview,
lab,
lab-channel,
manager_channel,
contact-group,
manager_member,
right-noti-content,
right-highlight-content,
login,
register,
init-password {
  display: flex;
  flex: 1;
  flex-direction: column;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: rgba($white, 0.4);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(#666, 0.8);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(100, 100, 100, 0.4);
}

@include for-size($desktop-med-up-2) {
  .container {
    width: 1200px;
  }
}

/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 10px;
}

p.lead {
  font-size: 21px;
  line-height: 27px;
  color: #777;
}

/*	Blockquotes  */
blockquote, blockquote p {
  font-size: 17px;
  line-height: 24px;
  color: #777;
}

blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
}

blockquote cite {
  display: block;
  font-size: 12px;
  color: #555;
}

blockquote cite:before {
  content: "\2014 \0020";
}

blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
  color: #555;
}

hr {
  border: solid #323a3d;
  border-width: 1px 0 0;
  clear: both;
  margin: 0 10px 0 10px;
  height: 0;
  position: relative;
}

/* #Links
================================================== */
a {
  color: #4f4f4f;
  display: inline-block;
}

a, a:visited, a:hover {
  text-decoration: none;
}

p a, p a:visited, p a:hover {
  line-height: inherit
}

a:focus {
  outline: none;
  text-decoration: none;
}

/* #Lists
================================================== */
ul, ol {
}

ul {
  list-style: none outside;
  margin: 0;
  padding: 0;
}

ol {
  list-style: decimal;
}

ol, ul.square, ul.circle, ul.disc {
  margin-left: 0;
}

ul.square {
  list-style: square outside;
}

ul.circle {
  list-style: circle outside;
}

ul.disc {
  list-style: disc outside;
}

ul ul, ul ol,
ol ol, ol ul {
  font-size: 90%;
}

ul ul li, ul ol li,
ol ol li, ol ul li {
}

li {
  line-height: 18px;
  list-style-type: none;
}

ul.large li {
  line-height: 21px;
}

li p {
  line-height: 21px;
}

/* #Buttons
================================================== */
button {
  border: none;
  outline: none;
  box-shadow: none;

  &:hover, &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
}

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  transition: all 0.3s ease-out;
}

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  &:hover, &:focus {
    outline: none;
  }
}

input[type="checkbox"] {
  display: none;
}

input[type=checkbox] {
  margin: 0 5px 0 0;
}

input[type="checkbox"] + label:before {
  border: 1px solid #dedede;
  content: "\00a0";
  line-height: 18px;
  display: inline-block;
  height: 21px;
  padding: 0;
  vertical-align: top;
  width: 21px;
  border-radius: 1px;
  margin-right: 5px;
  transition: $fast;
}

input[type=checkbox]:checked + label:before {
  background: $primaryColor;
  color: $white;
  content: "\2713";
  text-align: center;
}

input[disabled=disabled] {
  background: #f7f7f7;
  color: rgba($grey-4, 0.54);
}

input[type="date"]::-webkit-calendar-picker-indicator {
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

select {
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

label {
  font-family: $primaryRegularFont;
  font-weight: normal ;
}


table[bgcolor="#4184F3"] {
  background-color: rgb(65, 132, 243);
}

@include for-size($desktop-med-1) {
  .ik-col-md-2 {
    width: 33.33%;
  }
}

.test-parent{
  position: relative;

}

.test-child {
  position: absolute;
  top: 10px;
  left: -300px;
  width: 300px;
  height: 200px;
  background: red;
}