@import './variables';
@import './mixins';

/*====================================
Right panel
 =======================================*/

.right-panel-content {
  width: 370px;
  height: 100%;
  float: right;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #DFE3EB;;
  background-color: #F0F0F0;

  .ik-search-form-group-wrapper {
    padding: 20px 5px 14px 16px;
    display: flex;
    background: $white;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.07);
    position: relative;
    z-index: 1;
  }

  .ik-search-form-group {
    flex: 1;

    .ik-input {
      border: 1px solid #DFE0E8;
      height: 42px;
      padding-left: 35px;
      font-size: 14px;

      &::placeholder {
        color: #A3A5BF;
        font-size: 14px;
      }

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  .ik-search {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 20px;
    height: 20px;
    background-color: #CACBD6;
  }

  .ik-filter {
    margin: 9px 0 0 5px;
    padding: 0;
    height: 17px;
    line-height: 0;
  }

  .ik-search-right-button-icon {
    width: 27px;
    height: 27px;
    background-color: #CACBD6;
  }

  .ik-add-right-button {
    width: 18px;
    height: 18px;
    position: relative;
    top: 10px;
    margin: 0 4px 0 10px;
    background-color: $grey-5;
  }
}

.right-panel-content-header {
  width: 100%;
  background: $white;
  display: table;
  padding: 0 13px 0 15px;
  position: relative;

  &.box-shadow {
    height: 65px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.07);
    z-index: 1;

    &:after {
      display: none;
    }
  }

  &:after {
    content: '';
    background: #ebebeb;
    height: 1px;
    width: 100%;
    transform: scale(0.967);
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .title-right-panel-wrapper {
    margin: 22px 0 2px;
    overflow: hidden;
  }

  .right-panel-back-button {
    display: inline-block;
    margin-right: 6px;
    background: none;
    padding: 0;
    border: none;
    outline: none;

    .ik {
      height: 16px;
      width: 16px;
      background-color: #76778A;
    }
  }

  .section-title {
    font-family: $primaryBoldFont;
    font-size: 20px;
    line-height: 1.35;
    display: inline-block;
    padding: 0;
    color: $grey-7;
    text-transform: capitalize;
    margin: 0;
  }
  .right-panel-tabs {
    padding-top: 14px;
  }

  .right-panel-tab {
    font-family: $primaryBoldFont;
    display: inline-block;
    font-size: 14px;
    line-height: 1.357;
    color: $grey-7;
    letter-spacing: -1px;
    padding-bottom: 11px;
    border-bottom: 3px solid transparent;
    margin-right: 30px;
    float: left;
    cursor: pointer;
    position: relative;

    &:last-child {
      margin-right: 0;
    }

    &:hover, &.active {
      color: #3441CF;
      border-bottom-color: $primaryColor;

      .ik-arrow-down {
        background: $primaryColor;
      }
    }

    .ik-arrow-down {
      width: 12px;
      height: 12px;
      background-color: #76778A;
    }
  }
}

.right-panel-close {
  float: right;
  margin-top: 25px;

  .ik {
    width: 20px;
    height: 20px;
    background-color: $grey-5;
    cursor: pointer;
  }
}

.right-panel-items-groups {
  flex: 1;
  overflow: auto;
  position: relative;z-index: 0;
}

.right-panel-item-group {
  margin-bottom: 10px;
  padding-bottom: 10px;
  background: $white;

  &:first-child {
    .right-panel-item-group-header {
      padding-top: 21px;
    }
  }
}

.right-panel-item-group-header {
  padding: 20px 10px 2px 16px;

  .ik {
    width: 18px;
    height: 18px;
    background-color: #CACBD6;
    float: right;
  }
}

.right-panel-item-group-name {
  font-family: $primaryBoldFont;
  font-size: 14px;
  line-height: 1.367;
  color: #3441CF;
  float: left;
  display: inline-block;
  margin: 0;
}

.right-panel-item-group-collapse-button {
  float: right;
}

.right-panel-item-list {
  background: $white;
}

.right-panel-accordion-toggle {
  font-family: $primaryBoldFont;
  font-size: 14px;
  line-height: 24px;
  height: 24px;
  position: relative;
  margin-bottom: 0;
  color: $primaryColor;
  cursor: pointer;
  padding: 0 14px;

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 14px;
    display: none;
    width: 16px;
    height: 16px;
    mask-size: 100%;
    -webkit-mask-size: 100%;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: 50% 50%;
    -webkit-mask-position: 50% 50%;
    mask-image: url(assets/images/ik_icon/ik_arrow_right.svg);
    -webkit-mask-image: url(assets/images/ik_icon/ik_arrow_right.svg);
    background-color: $grey-5;
  }

  .ik {
    height: 24px;
    width: 24px;
    background-color: $primaryColor;
    float: left;
    margin: 0 4px 0 -2px;
  }

  &.collapsed {
    color: $grey-1;
    .ik {
      background-color: #76778A;
    }

    &:after {
      display: block;
    }
  }
}

.right-panel-accordions {
}

.right-panel-accordion {
  padding: 14px 0;
  position: relative;

  &:after {
    content: '';
    width: 100%;
    height: 1px;
    transform: scale(0.9);
    background-color: #E6E6E6;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .content-item-wrapper {
    margin-top: 8px;
    padding: 0 14px;
    .title {
      font-family: $primaryBoldFont;
      font-size: 12px;
      line-height: 1.75;
      color: $grey-1;
      margin-bottom: 0;
    }

    .content {
      font-size: 14px;
      line-height: 1.5;
      color: $grey-1;
      display: inline-block;
      margin-bottom: 0;

      &.highlight {
        color: #2727C4;
        font-family: $primaryRegularFont;

        & + .ik {
          width: 16px;
          height: 16px;
          background-color: $primaryColor;
          position: relative;
          top: 1px;
          cursor: pointer;
        }
      }
    }
  }
}

/*==================== Right panel search result ======================*/
.right-panel-search-result-header {
  padding: 13px 14px 0 17px;
  background: $white;

  .search-number {
    font-size: 12px;
    line-height: 1.92;
    color: $grey-3;
    float: left;
    margin: 0;
  }

  .search-filter {
    float: right;
    font-size: 12px;
    position: relative;

    .ik-arrow-down {
      width: 12px;
      height: 12px;
      margin-left: 8px;
    }

    .dropbox {
      padding: 7px 0;
      border-radius: 3px;

      &.show-function {
        top: 100%;
      }
    }

    .dropbox-item {
      padding: 0 20px;
      font-size: 12px;
      line-height: 22px;
    }
  }
}

/*==================== Right panel item ========================*/

.right-panel-item {
  background: $white;
  position: relative;

  &:after {
    content: '';
    width: 100%;
    height: 1px;
    background: #e6e6e6;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scale(0.92);
  }

  &.last {
    &:after {
      display: none;
    }
  }
  &:hover, &.active {
    .right-panel-item-overlay {
      background-color: #F5F5F7;
    }

    .right-panel-item-functions {
      opacity: 1;
      visibility: visible;
    }
  }

  .time {
    display: inline-block;
    font-size: 12px;
    line-height: 1.92;
    color: #73747B;
    margin-top: 4px;
    letter-spacing: -0.1px;
  }

  .bookmark-icon,
  .activity-icon {
    width: 20px;
    height: 20px;
    margin: -2px 2px 0 10px;
    cursor: pointer;

    &.ik-star {
      background-color: $bookmarkColor;
    }
  }

  .activity-icon {

    &.ik-check-2 {
      background-color: $primaryColor;
    }
  }

  .bookmark-icon {
    &.ik-check-2 {
      background-color: $bookmarkColor;
    }
  }
}

.right-panel-item-overlay {
  padding: 10px 10px 6px 16px;
  transition: $fast;
  display: block;
  position: relative;
  cursor: pointer;
}

.right-panel-item-header {
  display: flex;
  border: none;

  .user-avt {
    border-radius: 100%;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    position: relative;

    .online-status {
      line-height: 0;
      right: 1px;
      bottom: -2px;
      width: 12px;
      height: 12px;
      border: 1px solid $white;
    }

    img {
      max-width: 32px;
      max-height: 32px;
      border-radius: 100%;
      overflow: hidden;

    }
  }
}

.right-panel-item-main-title {
  font-family: $primarySemiBoldFont;
  font-size: 14px;
  line-height: 1.357;
  color: $grey-7;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  max-width: 240px;
  margin-bottom: 0;

  &:hover {
    text-decoration: underline;
  }
}

.right-panel-item-info {
  flex: 1;
  line-height: 0;
  //overflow: hidden;
}

.right-panel-item-info-content {
  font-family: $primarySemiBoldFont;
  font-size: 12px;
  line-height: 1.42;
  color: #606068;
  margin: 0;

  .icon.ik,
  icon.ik-reaction {
    width: 18px;
    height: 18px;
    position: relative;
    top: 3px;

    &.ik-star-o {
      background-color: #76778A;
    }

    &.ik-star {
      background: $bookmarkColor;
    }
  }
}

.right-panel-item-info-title {
  font-family: $primarySemiBoldFont;
  color: $grey-2;
  font-size: 14px;
  line-height: 1.36;
  margin: 0;
  padding: 0;

  .no-bold {
    font-family: $primaryRegularFont;
  }
}

//Thumb
.right-panel-item-thumb {
  width: 64px;
  height: 45px;
  background: #000;
  margin: 2px 0 0 10px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

// Function
.right-panel-item-functions {
  line-height: 0;
  padding: 7px;
  border: 1px solid #DEDEDE;
  border-radius: 3px;
  background-color: $white;
  position: absolute;
  z-index: 9;
  top: 8px;
  right: 6px;
  opacity: 0;
  visibility: hidden;
  transition: $fast;
}

.right-panel-item-function {
  display: inline-block;
  line-height: 0;

  .ik {
    width: 20px;
    height: 20px;
    background-color: $grey-5;
    padding: 0 2.5px;
    cursor: pointer;
  }

  &:hover, .active {
    .ik {
      background: $primaryColor;
    }
  }

  .ik-foward-o {
    width: 21px;
    height: 21px;
  }

  .ik-bookmark {
    background-color: $bookmarkColor;
  }

  &:hover, &.active {
    .ik-bookmark,
    .ik-bookmark-o {
      background-color: $bookmarkColor;
    }
  }

  .dropbox {
    width: 170px;
  }

  .dropbox-item {
    font-size: 14px;
    line-height: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

//Right mail item

// Right message
.right-mail-item,
.right-message-item {
  padding: 4px 0 5px 0;
  border-radius: 3px;

  .time {
    padding-left: 45px;
    margin-top: 4px;
  }

  &:hover, &.active {
    .right-panel-item-overlay {
      background-color: #F5F5F7;
    }

    .right-mail-item-functions {
      opacity: 1;
      visibility: visible;
    }
  }

  .right-message-item-body {
    margin-top: -10px;
  }
}

.right-mail-item-email-content,
.right-message-item-content {
  font-size: 14px;
  color: $grey-1;
  line-height: 1.5;
  padding-left: 45px;
  letter-spacing: -0.1px;

  .ik-attack {
    margin-left: -23px;
    float: left;
    width: 22px;
    height: 22px;
    background-color: $grey-5;
    position: relative;
    top: 3px;
  }
}

.right-mail-item {
  .email-num {
    font-family: $primarySemiBoldFont;
    font-size: 14px;
    color: #3441CF;
    margin-left: 20px;
    line-height: 1.357;
  }

  .receivers {
    font-size: 12px;
    color: #636363;
  }

  .receiver {
    display: inline-block;
    & > span {
      font-family: $primaryBoldFont;
      font-size: 12px;
      line-height: 1.4;
      color: #A3A5BF;
      display: inline-block;
      letter-spacing: -0.1px;
      max-width: 100%;

      &:hover {
        text-decoration: underline;
      }
    }

    &:after {
      content: ", ";
      //margin-left: -3px;
    }

    &:last-child {
      &:after {
        content: "";
      }
    }

    .ik-tooltip {
      padding: 10px 12px;
    }
  }

}

.right-mail-item-email-content {
  margin: 2px 0 0;
}

.right-message-item-content {
  margin: -5px 0 0;
}

// Highlight item
.right-highlight-item {
  .right-panel-item-main-title {
    color: $grey-2;
  }
}

/*====================== Comment =================*/
.right-comments-content {
  background: $white;
}

.right-comments-msg-wrapper {
  background: $white;
  padding: 0 6px 0 12px;
}

.right-comments-msg {
  position: relative;

  &:hover {
    .right-panel-item-functions {
      opacity: 1;
      visibility: visible;
    }
  }

  .message-content {
    font-size: 14px;
    line-height: 1.5;
    color: $grey-1;
    padding: 0 2px
  }

  .message-img {
    max-width: 100%;
    max-height: 193px;
    margin-bottom: 4px;
  }
}

.right-comments-file-attacked-item-wrapper {
  display: block;
  padding: 0 0 6px 0;
}

.right-comments-file-attacked-item {
  width: auto;
  padding: 16px 4px 16px 4px;

  .file-wrapper-gutter {
  }
}

.board-directors {
  font-family: $primarySemiBoldFont;
  font-size: 12px;
  line-height: 1.42;
  color: #323342;
  float: left;
  cursor: pointer;

  .ik {
    width: 10px;
    height: 10px;
    background-color: $grey-1;
  }

  .has-tooltip {
    display: inline-block;
  }
}

.comments-num {
  font-size: 12px;
  line-height: 1.42;
  color: $primaryColor;
  float: right;
  cursor: pointer;
}

.msg-reacts {
  padding: 5px 0 11px;
  margin: 0 -4px;
  line-height: 0;
}

.msg-react {
  display: inline-block;
  padding: 4px;
  img {
    width: 17px;
    height: 17px;
    float: left;
  }
}

.reactor-num {
  margin-left: 4px;
  font-size: 12px;
  line-height: 1.72;
  color: #919191;
  float: left;

}

/*====================== RESPONSIVE ===========================*/
@include for-size($desktop-large) {
  .right-panel-content-header {
    .right-panel-tabs {
      padding-top: 7px;
    }

    .right-panel-tab{
      font-size: 13px;
      padding-bottom: 5px;
    }
  }

  .right-panel-item-main-title {
    max-width:  210px;
  }

  .right-panel-content {
    width: 350px;

    .title-right-panel-wrapper {
      margin-top: 10px;

      .section-title {
        font-size: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .ik-search-form-group-wrapper {
      padding-top: 10px;
      padding-bottom: 5px;

      .ik-search-right-button-icon {
        width: 20px;
        height: 20px;
      }

      .ik-add-right-button {
        top: 7px;
      }
    }

    .ik-search-form-group {
      .ik-input {
        height: 34px;
      }
    }

    .ik-search {
      top: 7px;
      left: 8px;
    }
  }

  .right-panel-close {
    margin-top: 10px;
  }

  .right-mail-item{
    .receiver{
      &> span {
        font-family: $primarySemiBoldFont;
      }
    }
  }

  .right-mail-item-email-content,
  .right-message-item-content {
    font-size: 13px;
    line-height: 1.375;
  }

  .time {
    font-size: 11px;
  }

  .right-panel-item-function {

    .dropbox-item {
      padding: 0 20px;
      font-size: 13px;
      line-height: 22px;
    }
  }
}

@include for-size($tablet-landscape) {
  .right-panel-content {
    width: 240px;

    .title-right-panel-wrapper {
      .section-title {
        max-width: 150px;
      }
    }
  }

  .right-panel-content-header {
    .right-panel-tab {
      margin-right: 20px;

    }
  }

  .right-panel-item-main-title {
    max-width:  180px;
  }

  .right-panel-item-info {
    width: 150px;
  }
}