@import 'variables';

/* #Section styles
================================================== */
.section-title {
  font-family: $primaryBoldFont;
  font-size: 23px;
  line-height: 1;
  color: $primaryColor;
  text-transform: capitalize;
  letter-spacing: -0.1px;

  &-lg {
    font-size: 32px;
    text-transform: uppercase;
  }

  // font-size
  &-sm {
    font-size: 14px;
  }

  // Color
  &-color-link {
    color: $linkColor;
  }

}
