@import './variables';
@import './mixins';

/*====================================
  User menu
 =======================================*/

.user {
  padding: 20px 0 14px 15px;

  .dropbox-toggle-icon {
    cursor: pointer;
    width: 18px;
    height: 18px;
  }
}

.user-avt {
  position: relative;
  display: inline-block;
  float: left;
  margin-right: 12px;
}

.user-img {
  border-radius: 100%;
  display: inline-block;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.09);
  width: 51px;
  height: 51px;

  img {
    width: 51px;
    height: 51px;
  }
}

.username {
  color: $grey-7;
  font-size: 16px;
  font-family: $primaryBoldFont;
  margin-top: 8px;
  display: inline-block;
  letter-spacing: -0.1px;
}

.user-status {
  font-size: 13px;
  color: #73747b;
  letter-spacing: -0.1px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 168px;
  margin-bottom: 0;
}

.user-function-icon-wrapper {
  float: right;
  margin-right: 5px;
}

// User functions
.user-functions {
  width: 263px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11);
  border: solid 1px #dedede;
  left: 15px;
  right: auto;
  top: 76px;

  .user-img {
    width: 45px;
    height: 45px;

    img {
      max-width: 45px;
      max-height: 45px;
    }
  }

  .username {
    font-family: $primarySemiBoldFont;
    font-size: 15px;
    margin-top: 2px;
  }

  .user-status {
    margin-top: -2px;
  }

  .user-function-icon {
    width: 24px;
    height: 24px;
    background: #b1b2bd;
  }
}

.user-function-icon {
  float: right;
  display: block;
  padding: 10px;
  margin: 2px 0;
  cursor: pointer;
}