@import '../../../../scss/variables';

/* authentication
============================================ */
.main-content-background {
  background-image: url(assets/images/backgrounds/rocket.png),
  url(assets/images/backgrounds/bubble1.png),
  url(assets/images/backgrounds/bubble2.png);
  background-repeat: no-repeat;
  background-position: bottom left, bottom right, 0 20%;
}

.authen-cta {
  display: block;
  margin: 12px 0 0;
  font-size: 14px;
  color: $white;
  text-align: center;

  & + .authen-cta {
    display: inline-block;
    &:before {
      content: '';
      width: 1px;
      margin: 0 10px;
      height: 20px;
      background: $white;
      display: inline-block;
      position: relative;
      top: 3px;

    }
  }
}

.main-content-body {
  //padding: 0 0 30px;

  .section-title {
    font-family: $primaryRegularFont;
    padding: 0;
    font-size: 26px;
    color: $white;
    text-align: center;
  }

  .section-title-sub {
    text-align: center;
    color: $white;
    font-family: $primaryRegularFont;
    margin: 0;

    .bold {
      font-family: $primarySemiBoldFont;
    }
  }

  .main-form {
    background: $white;
    padding: 18px 20px 18px 20px;
    border-radius: 4px;
    max-width: 356px;
    margin: 40px auto 0;

    &-md {
      max-width: 454px;
      padding-top: 25px;
    }

    .ik-input-note {
      font-size: 13px;
    }

    .ik-label {
      font-family: $primarySemiBoldFont;
      font-weight: normal;
      margin-bottom: 10px;
      color: #333;
    }

    .ik-input {
      height: 45px;
      line-height: 45px;
      color: #5c5c5c;
      font-size: 14px;

      &::placeholder {
        font-size: 14px;
        color: rgba(#5c5c5c, 0.8);
      }
    }

    .ik-button {
      font-family: $primaryRegularFont;
      font-size: 13px;
      letter-spacing: 1.3px;
      margin: 6px 0 0;
      padding: 0 26px;
      border: 1px solid #5e82db;
      color: $white;
      background-color: #5e82db;
      line-height: 46px;
      border-radius: 40px;
      text-transform: uppercase;
    }
  }

  .ik-form-group {
    margin-bottom: 10px;

    &.ik-form-group-sm {
      margin-bottom: 5px;
    }

  }

  .passsword-note {
    font-size: 13px;
    display: inline-block;
    float: right;
  }
  .box-checkbox {
    display: block;
    padding: 0;
    margin: 0;

    .ik-label {
      font-family: $primaryRegularFont;
      float: left;
      font-size: 12px;
      color: #a8a8a8;
      margin-top: 7px;
    }
  }

  .box-to-check {
    border-radius: 3px;
    float: right;
    margin: 0;
    border-color: #a8a8a8;
  }
}

.resend-button {
  font-family: $primaryRegularFont;
  font-size: 13px;
  letter-spacing: 1.3px;
  margin: 6px 0 0;
  padding: 0 26px;
  border: none;
  color: #5e82db;
  background-color: $white;
  line-height: 46px;
  border-radius: 40px;
  width: 320px;
  text-transform: uppercase;
  margin-top: 30px;
  transition: all 0.15s ease-in-out;
  position: relative;
  top: 0;

  &:hover {
    top: -3px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .27);
  }
}

.confirm-body {
  .section-title {
    margin-bottom: 30px;
  }
}



