<!--<div class="main-content-wrapper main-content-background flex">-->
<!--<section class="main-content-body confirm-body">-->
<!--<h2 class="section-title"> {{"home_confirm_email" | translate}} </h2>-->
<!--<p class="section-title-sub">{{"home_confirm_email_des_pre" | translate}} <span class="bold">abc@gmail.com</span>-->
<!--<p class="section-title-sub"> {{"home_confirm_email_des_suf" | translate}}</p>-->

<!--<button class="ik-button resend-button">Resend email</button>-->
<!--</section>-->
<!--</div>-->


<div class="main-content-wrapper main-content-background flex">
  <section class="main-content-body">
    <h2 class="section-title"> Set up your profile</h2>
    <form #registerForm="ngForm" (ngSubmit)="onInitPassword()" class="main-form main-form-md">
      <div class="ik-form-group">
        <label class="ik-label"> Work email address </label>
        <input class=" ik-input  ik-input-default" required disabled
               [(ngModel)]="accountData.email" name="email"
               [ngClass]="{'dangerous': fieldError.email}"
               (blur)="validateEmail()"
               (keypress)="onKeyPress('email')"/>
        <p class="ik-input-note ik-input-note-dangerous"
           *ngIf="fieldError.email"> {{errorMessage.email | translate}} </p>
      </div>
      <div class="row">
        <div class=" col-md-6">
          <div class="ik-form-group">
            <label class="ik-label"> First name <sup class="reqiured">*</sup> </label>
            <input class="form-control ik-input ik-input-default" maxlength="20" required
                   [(ngModel)]="accountData.userInfo.firstname" name="firstname"
                   [ngClass]="{'dangerous': fieldError.firstname}"
                   (blur)="validateFirstName()"
                   (keypress)="onKeyPress('firstname')"/>
            <p class="ik-input-note ik-input-note-dangerous"
               *ngIf="fieldError.firstname"> {{errorMessage.firstname | translate}} </p>
          </div>
        </div>

        <div class="col-md-6">
          <div class="ik-form-group">
            <label class="ik-label"> Last name <sup class="reqiured">*</sup> </label>
            <input class="form-control ik-input ik-input-default" maxlength="20" required
                   [(ngModel)]="accountData.userInfo.lastname" name="lastname"
                   [ngClass]="{'dangerous': fieldError.lastname}"
                   (blur)="validateLastName()"
                   (keypress)="onKeyPress('lastname')"/>
            <p class="ik-input-note ik-input-note-dangerous"
               *ngIf="fieldError.lastname"> {{errorMessage.lastname | translate}} </p>
          </div>
        </div>
      </div>


      <div class="ik-form-group">
        <label class="ik-label inline">Password <sup class="reqiured">*</sup> </label>
        <p class="ik-input-note pull-right"> 8 characters minimum</p> <!-- add class "ik-input-note-dangerous" -->
        <input class="form-control ik-input form-control ik-input-default form-control ik-input-font-size-lg"
               type="password" maxlength="30"
               [(ngModel)]="accountData.password" name="password"
               [ngClass]="{'dangerous': fieldError.password}"
               (blur)="validatePassword()"
               (keypress)="onKeyPress('password')"/>
        <p class="ik-input-note ik-input-note-dangerous"
           *ngIf="fieldError.password"> {{errorMessage.password | translate}} </p>
      </div>

      <div class="ik-form-group">
        <label class="ik-label">Confirm password<sup class="reqiured">*</sup> </label>
        <input class="form-control ik-input form-control ik-input-default form-control ik-input-font-size-lg"
               type="password" maxlength="30"
               [(ngModel)]="confirmPassword" name="confirmPassword"
               [ngClass]="{'dangerous': fieldError.confirmPassword}"
               (blur)="validateConfirmPassword(false)"
               (keypress)="onKeyPress('confirmPassword')"/>
        <p class="ik-input-note ik-input-note-dangerous"
           *ngIf="fieldError.confirmPassword"> {{errorMessage.confirmPassword | translate}} </p>
      </div>

      <!--<div class="ik-form-group">-->
      <!--<label class="ik-label"> Your name </label>-->
      <!--<input class="form-control ik-input form-control ik-input-default"/>-->
      <!--</div>-->

      <!--<div class="ik-form-group">-->
      <!--<label class="ik-label"> Choose your usename </label>-->
      <!--<input class="form-control ik-input form-control ik-input-default"/>-->
      <!--</div>-->

      <input class="ik-input ik-button ik-button-primary " type="submit" value="Continue"/>

    </form>
  </section>
</div>