<!-- HEADER-->

<header class="header">
  <div class="ik-header-container">
    <h1 class="hlogo-wrapper">
      <a class="hlogo" href="#">
        <img [src]="appLogo" alt="logo"/>
      </a>
    </h1>

    <nav>
      <ul class="navbar">
        <li class="navbar-item">
          <a href="#">Overview</a>
        </li>
        <li class="navbar-item">
          <a href="#">About us</a>
        </li>
        <li class="navbar-item">
          <a href="#">Blog</a>
        </li>
      </ul>
      <div class="header-auth-links">
        <a class="header-auth-link" [routerLink]="['/authentication/login']">Login</a> /
        <a class="header-auth-link" [routerLink]="['/authentication/register']">Sign up</a>
      </div>
    </nav>
  </div>
</header>

<!-- END: HEADER -->