@import '../../../../scss/variables';
@import '../../../../scss/page';

.ik-header-container {
  box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.08);
  height: 66px;
  background: $white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 20%;
}
.header {
  padding-top: 66px;
}

.hlogo-wrapper {
  display: table;
  height: 66px;
  margin: 0;
  padding: 0;
  float: left;
  a {
    font-family: $primaryRegularFont;
    color:#002E5D;
    font-size: 30px;
  }
}

.hlogo {
  display: table-cell;
  vertical-align: middle;
  img {
    max-height: 66px;
    transform: scale(0.8);
  }
}

.header-auth {
  float: right;
}

//.header-auth-link {
//  font-family: $primaryBoldFont;
//  display: inline-block;
//  color: $primaryColor;
//  font-size: 15px;
//  line-height: 50px;
//  margin: 0 0 0 20px;
//
//  &:hover {
//    color: $primaryColor;
//  }
//}
/*==========================*/
.ik-header-container {
}

nav {
  float: right;
}

.navbar {
  display: inline-block;
  border: none;
}
.navbar-item {
  display: inline-block;

  a {
    font-family: $primarySemiBoldFont;
    font-size: 15px;
    display: inline-block;
    padding: 0 40px;
    line-height: 66px;
    color: #071F4E;
  }

  &:hover {
    a {
      color :#2d5bd2;
    }
  }
}
.header-auth-links {
  padding-left: 40px;
  display: inline-block;
}

.header-auth-link {
  color : #414141;
  font-family: $primaryRegularFont;

  &:hover {
    color: #999;
  }
}

/*======================= RESPONSIVE =================*/
@include for-size($desktop-med-2) {
  .ik-header-container {
    padding: 0 90px;
  }

  .navbar-item {
    a {
      padding: 0 20px;
    }
  }
}
@include for-size($desktop-med-1) {
  .ik-header-container {
    padding: 0 20px;
  }
}