<!-- ACCOUNT MENU -->
<div class="menu-sidebar-wrapper">
  <h3 class="menu-sidebar-title"> {{"account manager" | translate}} </h3>
  <div class="menu-sidebar">
    <ul class="menu-sidebar-group">
      <li class="menu-sidebar-item current"
          (click)="setCurrentItem(0)"
          [ngClass]="{'current': currentItem === 0}">
        <a [routerLink]="['/application/account/profile-setting']">
          <span class="menu-sidebar-icon ik ik-profile"></span>{{"account_menu_user_profile" | translate}}
        </a>
      </li>
      <li class="menu-sidebar-item"
          (click)="setCurrentItem(1)"
          [ngClass]="{'current': currentItem === 1}">
        <a [routerLink]="['/application/account/change-password']">
          <span class="menu-sidebar-icon ik ik-unlock"></span>{{"account_menu_change_password" | translate}}
        </a>
      </li>

      <li class="menu-sidebar-item"
          (click)="setCurrentItem(2)"
          [ngClass]="{'current': currentItem === 2}">
        <a [routerLink]="['/application/account/contact-and-group']">
          <span class="menu-sidebar-icon ik ik-users"></span>{{"account_menu_contact_group" | translate}}
        </a>
      </li>
      <li class="menu-sidebar-item"
          (click)="setCurrentItem(3)"
          [ngClass]="{'current': currentItem === 3}">
        <a [routerLink]="['/application/account/lab-channel']">
          <span class="menu-sidebar-icon ik ik-group" ></span>{{"account_menu_lab_channel" | translate}}
        </a>
      </li>
      <li class="menu-sidebar-item"
          (click)="setCurrentItem(4)"
          [ngClass]="{'current': currentItem === 4}">
        <a href="#">
          <span class="menu-sidebar-icon ik ik-bell"></span>{{"account_menu_general_noti" | translate}} </a>
      </li>

      <li class="menu-sidebar-item"
          (click)="setCurrentItem(5)"
          [ngClass]="{'current': currentItem === 5}">
        <a href="#">
          <span class="menu-sidebar-icon ik ik-email-setting"></span>{{"account_menu_email_setting" | translate}} </a>
      </li>
    </ul>

    <ul class="menu-sidebar-group">
      <li class="menu-sidebar-item current"
          (click)="setCurrentItem(7)"
          [ngClass]="{'current': currentItem === 7}">
        <a [routerLink]="['/application/account/profile-setting']"><span class="menu-sidebar-icon ik ik-two-people-plus"></span> {{"account_menu_joined_other_lab" | translate}} </a>
      </li>
      <li class="menu-sidebar-item"
          (click)="setCurrentItem(8)"
          [ngClass]="{'current': currentItem === 8}">
        <a [routerLink]="['/application/account/socials-connect']"><span class="menu-sidebar-icon ik ik-plus-circle"></span> {{"account_menu_create_new_lab" | translate}} </a>
      </li>
      <li class="menu-sidebar-item"
          (click)="setCurrentItem(9)"
          [ngClass]="{'current': currentItem === 9}">
        <a [routerLink]="['/application/account/change-password']"><span class="menu-sidebar-icon ik ik-gear"></span>{{"account_menu_lab_setting" | translate}} </a>
      </li>
    </ul>

    <ul class="menu-sidebar-group offset-left">
      <li class="menu-sidebar-item"
          (click)="setCurrentItem(10)"
          [ngClass]="{'current': currentItem === 10}">
        <a [routerLink]="['/application/account/profile-setting']"> {{"account_menu_sign_in" | translate}} </a>
      </li>
      <li class="menu-sidebar-item"
          (click)="setCurrentItem(11)"
          [ngClass]="{'current': currentItem === 11}">
        <a [routerLink]="['/application/account/socials-connect']"> {{"account_menu_sign_out" | translate}} </a>
      </li>
    </ul>
  </div>
</div>
<!-- END: ACCOUNT MENU-->